# Import / Config

In [1]:
%load_ext autoreload
%autoreload 2

In [71]:
from pathlib import Path
from edurel.utils.duck_utils import *

BASE_DIR = "/home/basis/work/github/edurel"
DB_DIR = f"{BASE_DIR}/databases/"
parquet_dir = f"{DB_DIR}/db-adw-oltp/tmp/parquet"
parquet_clean_dir = f"{DB_DIR}/db-adw-oltp/tmp/parquet-clean"

# Create Schema

In [ ]:
# con = duckdb_mem_con()

In [ ]:
# con.close()

In [76]:
on = True

## Address

In [6]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Address (
AddressID INT NOT NULL primary key, 
AddressLine1 TEXT NOT NULL, 
AddressLine2 TEXT NULL, 
City TEXT NOT NULL, 
StateProvinceID INT NOT NULL, 
PostalCode TEXT NOT NULL, 
SpatialLocation TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Address
    SELECT * FROM read_parquet('{parquet_dir}/Address.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Address LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Address;")   

if on: con.close()

┌───────────┬──────────────────────┬──────────────┬─────────┬─────────────────┬────────────┬──────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ AddressID │     AddressLine1     │ AddressLine2 │  City   │ StateProvinceID │ PostalCode │               SpatialLocation                │               rowguid                │    ModifiedDate     │
│   int32   │       varchar        │   varchar    │ varchar │      int32      │  varchar   │                   varchar                    │               varchar                │      timestamp      │
├───────────┼──────────────────────┼──────────────┼─────────┼─────────────────┼────────────┼──────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│         1 │ 1970 Napa Ct.        │ NULL         │ Bothell │              79 │ 98011      │ E6100000010CAE8BFC28BCE4474067A89189898A5EC0 │ 9AADCB0D-36CF-483F-84D8-585C2D4EC6E9 │ 2018-12-03 00:00:00 │
│         2 │ 9833 Mt. Dias Blv.   │ NULL         │ Bothell │              79 │ 98011      │ E6100000010CD6FA851AE6D74740BC262A0A03905EC0 │ 32A54B9E-E034-4BFB-B573-A71CDE60D8C0 │ 2019-11-30 00:00:00 │
│         3 │ 7484 Roundtree Drive │ NULL         │ Bothell │              79 │ 98011      │ E6100000010C18E304C4ADE14740DA930C7893915EC0 │ 4C506923-6D1B-452C-A07C-BAA6F5B142A4 │ 2024-03-06 00:00:00 │
│         4 │ 9539 Glenside Dr     │ NULL         │ Bothell │              79 │ 98011      │ E6100000010C813A0D5F9FDE474011A5C28A7C955EC0 │ E5946C78-4BCC-477F-9FA1-CC09DE16A880 │ 2020-02-03 00:00:00 │
│         5 │ 1226 Shoe St.        │ NULL         │ Bothell │              79 │ 98011      │ E6100000010C61C64D8ABBD94740C460EA3FD8855EC0 │ FBAFF937-4A97-4AF0-81FD-B849900E9BB0 │ 2019-12-19 00:00:00 │
└───────────┴──────────────────────┴──────────────┴─────────┴─────────────────┴────────────┴──────────────────────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19614 │
└──────────────┘

## AddressType

In [7]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE AddressType (
AddressTypeID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO AddressType
    SELECT * FROM read_parquet('{parquet_dir}/AddressType.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM AddressType LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM AddressType;")   

if on: con.close()

┌───────────────┬─────────────┬──────────────────────────────────────┬─────────────────────┐
│ AddressTypeID │    Name     │               rowguid                │    ModifiedDate     │
│     int32     │   varchar   │               varchar                │      timestamp      │
├───────────────┼─────────────┼──────────────────────────────────────┼─────────────────────┤
│             1 │ Billing     │ B84F78B1-4EFE-4A0E-8CB7-70E9F112F886 │ 2019-04-30 00:00:00 │
│             2 │ Home        │ 41BC2FF6-F0FC-475F-8EB9-CEC0805AA0F2 │ 2019-04-30 00:00:00 │
│             3 │ Main Office │ 8EEEC28C-07A2-4FB9-AD0A-42D4A0BBC575 │ 2019-04-30 00:00:00 │
│             4 │ Primary     │ 24CB3088-4345-47C4-86C5-17B535133D1E │ 2019-04-30 00:00:00 │
│             5 │ Shipping    │ B29DA3F8-19A3-47DA-9DAA-15C84F4A83A5 │ 2019-04-30 00:00:00 │
└───────────────┴─────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            6 │
└──────────────┘

## Product

In [8]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Product (
ProductID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
ProductNumber TEXT NOT NULL, 
MakeFlag BIT NOT NULL , 
FinishedGoodsFlag BIT NOT NULL, 
Color TEXT NULL, 
SafetyStockLevel SMALLINT NOT NULL, 
ReorderPoint SMALLINT NOT NULL, 
StandardCost DECIMAL(18,4) NOT NULL, 
ListPrice DECIMAL(18,4) NOT NULL, 
Size TEXT NULL, 
SizeUnitMeasureCode TEXT NULL, 
WeightUnitMeasureCode TEXT NULL, 
Weight DECIMAL(8, 2) NULL, 
DaysToManufacture INT NOT NULL, 
ProductLine TEXT NULL, 
Class TEXT NULL, 
Style TEXT NULL, 
ProductSubcategoryID INT NULL, 
ProductModelID INT NULL, 
SellStartDate TIMESTAMP NOT NULL, 
SellEndDate TIMESTAMP NULL, 
DiscontinuedDate TIMESTAMP NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Product
    SELECT *  FROM read_parquet('{parquet_dir}/Product.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Product LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Product;")   

if on: con.close()

┌───────────┬───────────────────────┬───────────────┬──────────────────────────────────────────────────────────────────┬──────────────────────────────────────────────────────────────────┬─────────┬──────────────────┬──────────────┬───────────────┬───────────────┬─────────┬─────────────────────┬───────────────────────┬──────────────┬───────────────────┬─────────────┬─────────┬─────────┬──────────────────────┬────────────────┬─────────────────────┬─────────────┬──────────────────┬──────────────────────────────────────┬─────────────────────────┐
│ ProductID │         Name          │ ProductNumber │                             MakeFlag                             │                        FinishedGoodsFlag                         │  Color  │ SafetyStockLevel │ ReorderPoint │ StandardCost  │   ListPrice   │  Size   │ SizeUnitMeasureCode │ WeightUnitMeasureCode │    Weight    │ DaysToManufacture │ ProductLine │  Class  │  Style  │ ProductSubcategoryID │ ProductModelID │    SellStartDate    │ SellEndDate │ DiscontinuedDate │               rowguid                │      ModifiedDate       │
│   int32   │        varchar        │    varchar    │                               bit                                │                               bit                                │ varchar │      int16       │    int16     │ decimal(18,4) │ decimal(18,4) │ varchar │       varchar       │        varchar        │ decimal(8,2) │       int32       │   varchar   │ varchar │ varchar │        int32         │     int32      │      timestamp      │  timestamp  │    timestamp     │               varchar                │        timestamp        │
├───────────┼───────────────────────┼───────────────┼──────────────────────────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────┼─────────┼──────────────────┼──────────────┼───────────────┼───────────────┼─────────┼─────────────────────┼───────────────────────┼──────────────┼───────────────────┼─────────────┼─────────┼─────────┼──────────────────────┼────────────────┼─────────────────────┼─────────────┼──────────────────┼──────────────────────────────────────┼─────────────────────────┤
│         1 │ Adjustable Race       │ AR-5381       │ 0000000000000000000000000000000000000000000000000000000000000000 │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │             1000 │          750 │        0.0000 │        0.0000 │ NULL    │ NULL                │ NULL                  │         NULL │                 0 │ NULL        │ NULL    │ NULL    │                 NULL │           NULL │ 2019-04-30 00:00:00 │ NULL        │ NULL             │ 694215B7-08F7-4C0D-ACB1-D734BA44C0C8 │ 2025-02-07 10:01:36.827 │
│         2 │ Bearing Ball          │ BA-8327       │ 0000000000000000000000000000000000000000000000000000000000000000 │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │             1000 │          750 │        0.0000 │        0.0000 │ NULL    │ NULL                │ NULL                  │         NULL │                 0 │ NULL        │ NULL    │ NULL    │                 NULL │           NULL │ 2019-04-30 00:00:00 │ NULL        │ NULL             │ 58AE3C20-4F3A-4749-A7D4-D568806CC537 │ 2025-02-07 10:01:36.827 │
│         3 │ BB Ball Bearing       │ BE-2349       │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │              800 │          600 │        0.0000 │        0.0000 │ NULL    │ NULL                │ NULL                  │         NULL │                 1 │ NULL        │ NULL    │ NULL    │                 NULL │           NULL │ 2019-04-30 00:00:00 │ NULL        │ NULL             │ 9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E │ 2025-02-07 10:01:36.827 │
│         4 │ Headset Ball Bearings │ BE-2908       │ 0000000000000000000000000000000000000000000000000000000000000000 │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │              800 │          600 │        0.0000 │        0.0000 │ NULL    │ NULL                │ NULL                  │         NULL │                 0 │ NULL        │ NULL    │ NULL    │                 NULL │           NULL │ 2019-04-30 00:00:00 │ NULL        │ NULL             │ ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B │ 2025-02-07 10:01:36.827 │
│       316 │ Blade                 │ BL-2036       │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │              800 │          600 │        0.0000 │        0.0000 │ NULL    │ NULL                │ NULL                  │         NULL │                 1 │ NULL        │ NULL    │ NULL    │                 NULL │           NULL │ 2019-04-30 00:00:00 │ NULL        │ NULL             │ E73E9750-603B-4131-89F5-3DD15ED5FF80 │ 2025-02-07 10:01:36.827 │
└───────────┴───────────────────────┴───────────────┴──────────────────────────────────────────────────────────────────┴──────────────────────────────────────────────────────────────────┴─────────┴──────────────────┴──────────────┴───────────────┴───────────────┴─────────┴─────────────────────┴───────────────────────┴──────────────┴───────────────────┴─────────────┴─────────┴─────────┴──────────────────────┴────────────────┴─────────────────────┴─────────────┴──────────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          504 │
└──────────────┘

## ProductCategory

In [9]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductCategory (
ProductCategoryID INT NOT NULL, 
Name TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ProductCategory
    SELECT *  FROM read_parquet('{parquet_dir}/ProductCategory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductCategory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductCategory;")   

if on: con.close()

┌───────────────────┬─────────────┬──────────────────────────────────────┬─────────────────────┐
│ ProductCategoryID │    Name     │               rowguid                │    ModifiedDate     │
│       int32       │   varchar   │               varchar                │      timestamp      │
├───────────────────┼─────────────┼──────────────────────────────────────┼─────────────────────┤
│                 1 │ Bikes       │ CFBDA25C-DF71-47A7-B81B-64EE161AA37C │ 2019-04-30 00:00:00 │
│                 2 │ Components  │ C657828D-D808-4ABA-91A3-AF2CE02300E9 │ 2019-04-30 00:00:00 │
│                 3 │ Clothing    │ 10A7C342-CA82-48D4-8A38-46A2EB089B74 │ 2019-04-30 00:00:00 │
│                 4 │ Accessories │ 2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6 │ 2019-04-30 00:00:00 │
└───────────────────┴─────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            4 │
└──────────────┘

## UnitMeasure

In [10]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE UnitMeasure (
UnitMeasureCode TEXT NOT NULL, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO UnitMeasure
    SELECT *  FROM read_parquet('{parquet_dir}/UnitMeasure.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM UnitMeasure LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM UnitMeasure;")   

if on: con.close()

┌─────────────────┬──────────┬─────────────────────┐
│ UnitMeasureCode │   Name   │    ModifiedDate     │
│     varchar     │ varchar  │      timestamp      │
├─────────────────┼──────────┼─────────────────────┤
│ BOX             │ Boxes    │ 2019-04-30 00:00:00 │
│ BTL             │ Bottle   │ 2019-04-30 00:00:00 │
│ C               │ Celsius  │ 2019-04-30 00:00:00 │
│ CAN             │ Canister │ 2019-04-30 00:00:00 │
│ CAR             │ Carton   │ 2019-04-30 00:00:00 │
└─────────────────┴──────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           38 │
└──────────────┘

## BillOfMaterials

In [11]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BillOfMaterials (
BillOfMaterialsID INT NOT NULL primary key, 
ProductAssemblyID INT NULL, 
ComponentID INT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NULL, 
UnitMeasureCode TEXT NOT NULL, 
BOMLevel SMALLINT NOT NULL, 
PerAssemblyQty DECIMAL(8, 2) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO BillOfMaterials
    SELECT * FROM read_parquet('{parquet_dir}/BillOfMaterials.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BillOfMaterials LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BillOfMaterials;")   

if on: con.close()

┌───────────────────┬───────────────────┬─────────────┬─────────────────────┬─────────────────────┬─────────────────┬──────────┬────────────────┬─────────────────────┐
│ BillOfMaterialsID │ ProductAssemblyID │ ComponentID │      StartDate      │       EndDate       │ UnitMeasureCode │ BOMLevel │ PerAssemblyQty │    ModifiedDate     │
│       int32       │       int32       │    int32    │      timestamp      │      timestamp      │     varchar     │  int16   │  decimal(8,2)  │      timestamp      │
├───────────────────┼───────────────────┼─────────────┼─────────────────────┼─────────────────────┼─────────────────┼──────────┼────────────────┼─────────────────────┤
│               893 │              NULL │         749 │ 2021-05-25 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-05-11 00:00:00 │
│               271 │              NULL │         750 │ 2021-03-03 00:00:00 │ 2021-05-02 00:00:00 │ EA              │        0 │           1.00 │ 2021-05-02 00:00:00 │
│                34 │              NULL │         750 │ 2021-05-03 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-04-19 00:00:00 │
│               830 │              NULL │         751 │ 2021-05-25 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-05-11 00:00:00 │
│              2074 │              NULL │         752 │ 2021-07-07 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-06-23 00:00:00 │
└───────────────────┴───────────────────┴─────────────┴─────────────────────┴─────────────────────┴─────────────────┴──────────┴────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         2679 │
└──────────────┘

## BusinessEntity

In [12]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BusinessEntity (
BusinessEntityID INT NOT NULL primary key, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO BusinessEntity
    SELECT * exclude(column2), replace(column2, '&|', '') FROM read_parquet('{parquet_dir}/BusinessEntity.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BusinessEntity LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BusinessEntity;")   

if on: con.close()

┌──────────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │               rowguid                │      ModifiedDate       │
│      int32       │               varchar                │        timestamp        │
├──────────────────┼──────────────────────────────────────┼─────────────────────────┤
│                1 │ 0C7D8F81-D7B1-4CF0-9C0A-4CD8B6B50087 │ 2017-12-13 13:20:24.15  │
│                2 │ 6648747F-7843-4002-B317-65389684C398 │ 2017-12-13 13:20:24.43  │
│                3 │ 568204DA-93D7-42F4-8A7A-4446A144277D │ 2017-12-13 13:20:24.54  │
│                4 │ 0EFF57B9-4F4F-41A6-8867-658C199A5FC0 │ 2017-12-13 13:20:24.57  │
│                5 │ B82F88D1-FF79-4FD9-8C54-9D24C140F647 │ 2017-12-13 13:20:24.633 │
└──────────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        20777 │
└──────────────┘

## BusinessEntityAddress

In [13]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BusinessEntityAddress (
BusinessEntityID INT NOT NULL, 
AddressID INT NOT NULL, 
AddressTypeID INT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, AddressID, AddressTypeID)
);
"""

sql2 = f"""
INSERT INTO BusinessEntityAddress
    SELECT * exclude(column4), replace(column4, '&|', '') FROM read_parquet('{parquet_dir}/BusinessEntityAddress.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BusinessEntityAddress LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BusinessEntityAddress;")   

if on: con.close()

┌──────────────────┬───────────┬───────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │ AddressID │ AddressTypeID │               rowguid                │      ModifiedDate       │
│      int32       │   int32   │     int32     │               varchar                │        timestamp        │
├──────────────────┼───────────┼───────────────┼──────────────────────────────────────┼─────────────────────────┤
│                1 │       249 │             2 │ 3A5D0A00-6739-4DFE-A8F7-844CD9DEE3DF │ 2025-09-11 11:15:06.967 │
│                2 │       293 │             2 │ 84AE7057-EDF4-4C51-8B8D-3AEAEFBFB4A1 │ 2025-09-11 11:15:06.967 │
│                3 │       224 │             2 │ 3C915B31-7C05-4A05-9859-0DF663677240 │ 2025-09-11 11:15:06.967 │
│                4 │     11387 │             2 │ 3DC70CC4-3AE8-424F-8B1F-481C5478E941 │ 2025-09-11 11:15:06.967 │
│                5 │       190 │             2 │ C0ED2F68-937B-4594-9459-581AC53C98E3 │ 2025-09-11 11:15:06.967 │
└──────────────────┴───────────┴───────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19614 │
└──────────────┘

## BusinessEntityContact

In [14]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BusinessEntityContact (
BusinessEntityID INT NOT NULL, 
PersonID INT NOT NULL, 
ContactTypeID INT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, PersonID, ContactTypeID)
);
"""

sql2 = f"""
INSERT INTO BusinessEntityContact
    SELECT * exclude(column4), replace(column4, '&|', '') FROM read_parquet('{parquet_dir}/BusinessEntityContact.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BusinessEntityContact LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BusinessEntityContact;")   

if on: con.close()

┌──────────────────┬──────────┬───────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │ PersonID │ ContactTypeID │               rowguid                │      ModifiedDate       │
│      int32       │  int32   │     int32     │               varchar                │        timestamp        │
├──────────────────┼──────────┼───────────────┼──────────────────────────────────────┼─────────────────────────┤
│              292 │      291 │            11 │ 7D4D2DBC-4A44-48F5-911D-A63ABAFD5120 │ 2017-12-13 13:21:02.243 │
│              294 │      293 │            11 │ 3EA25B65-9579-4260-977D-D6F00D7D20EE │ 2017-12-13 13:21:02.32  │
│              296 │      295 │            11 │ DADAC1FF-3351-4827-9AE0-95004885C193 │ 2017-12-13 13:21:02.383 │
│              298 │      297 │            11 │ B924F26F-6446-45D1-A92B-6F418374F075 │ 2017-12-13 13:21:02.447 │
│              300 │      299 │            11 │ 5BA4E7BE-8D29-46A2-B68D-67B1615B124A │ 2017-12-13 13:21:02.51  │
└──────────────────┴──────────┴───────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          909 │
└──────────────┘

## ContactType

In [15]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ContactType (
ContactTypeID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ContactType
    SELECT * FROM read_parquet('{parquet_dir}/ContactType.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ContactType LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ContactType;")   

if on: con.close()

┌───────────────┬────────────────────────────────┬─────────────────────┐
│ ContactTypeID │              Name              │    ModifiedDate     │
│     int32     │            varchar             │      timestamp      │
├───────────────┼────────────────────────────────┼─────────────────────┤
│             1 │ Accounting Manager             │ 2019-04-30 00:00:00 │
│             2 │ Assistant Sales Agent          │ 2019-04-30 00:00:00 │
│             3 │ Assistant Sales Representative │ 2019-04-30 00:00:00 │
│             4 │ Coordinator Foreign Markets    │ 2019-04-30 00:00:00 │
│             5 │ Export Administrator           │ 2019-04-30 00:00:00 │
└───────────────┴────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           20 │
└──────────────┘

## CountryRegionCurrency

In [16]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CountryRegionCurrency (
CountryRegionCode TEXT NOT NULL, 
CurrencyCode TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (CountryRegionCode, CurrencyCode)
);
"""

sql2 = f"""
INSERT INTO CountryRegionCurrency
    SELECT * FROM read_parquet('{parquet_dir}/CountryRegionCurrency.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CountryRegionCurrency LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CountryRegionCurrency;")   

if on: con.close()

┌───────────────────┬──────────────┬────────────────────────┐
│ CountryRegionCode │ CurrencyCode │      ModifiedDate      │
│      varchar      │   varchar    │       timestamp        │
├───────────────────┼──────────────┼────────────────────────┤
│ AE                │ AED          │ 2025-02-07 10:17:21.51 │
│ AR                │ ARS          │ 2025-02-07 10:17:21.51 │
│ AT                │ ATS          │ 2025-02-07 10:17:21.51 │
│ AT                │ EUR          │ 2019-04-30 00:00:00    │
│ AU                │ AUD          │ 2025-02-07 10:17:21.51 │
└───────────────────┴──────────────┴────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          109 │
└──────────────┘

## CountryRegion

In [17]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CountryRegion (
CountryRegionCode TEXT NOT NULL primary key, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO CountryRegion
    SELECT * FROM read_parquet('{parquet_dir}/CountryRegion.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CountryRegion LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CountryRegion;")   

if on: con.close()

┌───────────────────┬──────────────────────┬─────────────────────┐
│ CountryRegionCode │         Name         │    ModifiedDate     │
│      varchar      │       varchar        │      timestamp      │
├───────────────────┼──────────────────────┼─────────────────────┤
│ AD                │ Andorra              │ 2019-04-30 00:00:00 │
│ AE                │ United Arab Emirates │ 2019-04-30 00:00:00 │
│ AF                │ Afghanistan          │ 2019-04-30 00:00:00 │
│ AG                │ Antigua and Barbuda  │ 2019-04-30 00:00:00 │
│ AI                │ Anguilla             │ 2019-04-30 00:00:00 │
└───────────────────┴──────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          238 │
└──────────────┘

## CreditCard

In [18]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CreditCard (
CreditCardID INT NOT NULL primary key, 
CardType TEXT NOT NULL, 
CardNumber TEXT NOT NULL, 
ExpMonth UTINYINT NOT NULL, 
ExpYear SMALLINT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO CreditCard
    SELECT * FROM read_parquet('{parquet_dir}/CreditCard.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CreditCard LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CreditCard;")   

if on: con.close()

┌──────────────┬───────────────┬────────────────┬──────────┬─────────┬─────────────────────┐
│ CreditCardID │   CardType    │   CardNumber   │ ExpMonth │ ExpYear │    ModifiedDate     │
│    int32     │    varchar    │    varchar     │  uint8   │  int16  │      timestamp      │
├──────────────┼───────────────┼────────────────┼──────────┼─────────┼─────────────────────┤
│            1 │ SuperiorCard  │ 33332664695310 │       11 │    2006 │ 2024-07-28 00:00:00 │
│            2 │ Distinguish   │ 55552127249722 │        8 │    2005 │ 2024-12-04 00:00:00 │
│            3 │ ColonialVoice │ 77778344838353 │        7 │    2005 │ 2025-01-13 00:00:00 │
│            4 │ ColonialVoice │ 77774915718248 │        7 │    2006 │ 2024-05-19 00:00:00 │
│            5 │ Vista         │ 11114404600042 │        4 │    2005 │ 2024-02-01 00:00:00 │
└──────────────┴───────────────┴────────────────┴──────────┴─────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19118 │
└──────────────┘

## Culture

In [19]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Culture (
CultureID TEXT NOT NULL primary key, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Culture
    SELECT * FROM read_parquet('{parquet_dir}/Culture.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Culture LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Culture;")   

if on: con.close()

┌───────────┬────────────────────────────────────────┬─────────────────────┐
│ CultureID │                  Name                  │    ModifiedDate     │
│  varchar  │                varchar                 │      timestamp      │
├───────────┼────────────────────────────────────────┼─────────────────────┤
│           │ Invariant Language (Invariant Country) │ 2019-04-30 00:00:00 │
│ ar        │ Arabic                                 │ 2019-04-30 00:00:00 │
│ en        │ English                                │ 2019-04-30 00:00:00 │
│ es        │ Spanish                                │ 2019-04-30 00:00:00 │
│ fr        │ French                                 │ 2019-04-30 00:00:00 │
└───────────┴────────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            8 │
└──────────────┘

## Currency

In [20]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Currency (
CurrencyCode TEXT NOT NULL primary key, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Currency
    SELECT * FROM read_parquet('{parquet_dir}/Currency.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Currency LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Currency;")   

if on: con.close()

┌──────────────┬───────────────────────────────┬─────────────────────┐
│ CurrencyCode │             Name              │    ModifiedDate     │
│   varchar    │            varchar            │      timestamp      │
├──────────────┼───────────────────────────────┼─────────────────────┤
│ AED          │ Emirati Dirham                │ 2019-04-30 00:00:00 │
│ AFA          │ Afghani                       │ 2019-04-30 00:00:00 │
│ ALL          │ Lek                           │ 2019-04-30 00:00:00 │
│ AMD          │ Armenian Dram                 │ 2019-04-30 00:00:00 │
│ ANG          │ Netherlands Antillian Guilder │ 2019-04-30 00:00:00 │
└──────────────┴───────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          105 │
└──────────────┘

## CurrencyRate

In [21]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CurrencyRate (
CurrencyRateID INT NOT NULL primary key, 
CurrencyRateDate TIMESTAMP NOT NULL, 
FromCurrencyCode TEXT NOT NULL, 
ToCurrencyCode TEXT NOT NULL, 
AverageRate DECIMAL(18,4) NOT NULL, 
EndOfDayRate DECIMAL(18,4) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO CurrencyRate
    SELECT * FROM read_parquet('{parquet_dir}/CurrencyRate.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CurrencyRate LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CurrencyRate;")   

if on: con.close()

┌────────────────┬─────────────────────┬──────────────────┬────────────────┬───────────────┬───────────────┬─────────────────────┐
│ CurrencyRateID │  CurrencyRateDate   │ FromCurrencyCode │ ToCurrencyCode │  AverageRate  │ EndOfDayRate  │    ModifiedDate     │
│     int32      │      timestamp      │     varchar      │    varchar     │ decimal(18,4) │ decimal(18,4) │      timestamp      │
├────────────────┼─────────────────────┼──────────────────┼────────────────┼───────────────┼───────────────┼─────────────────────┤
│              1 │ 2022-05-30 00:00:00 │ USD              │ ARS            │        1.0000 │        1.0002 │ 2022-05-30 00:00:00 │
│              2 │ 2022-05-30 00:00:00 │ USD              │ AUD            │        1.5491 │        1.5500 │ 2022-05-30 00:00:00 │
│              3 │ 2022-05-30 00:00:00 │ USD              │ BRL            │        1.9379 │        1.9419 │ 2022-05-30 00:00:00 │
│              4 │ 2022-05-30 00:00:00 │ USD              │ CAD            │        1.4641 │        1.4683 │ 2022-05-30 00:00:00 │
│              5 │ 2022-05-30 00:00:00 │ USD              │ CNY            │        8.2781 │        8.2784 │ 2022-05-30 00:00:00 │
└────────────────┴─────────────────────┴──────────────────┴────────────────┴───────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        13532 │
└──────────────┘

## Customer

In [22]:
if on: con = duckdb_mem_con()

sql1 = """
/* A customer may either be a person, a store, or a person who works for a store */
/* If this customer represents a person, this is non-null */
/* If the customer is a store, or is associated with a store then this is non-null. */
CREATE TABLE Customer (
CustomerID INT NOT NULL primary key, 
PersonID  INT NULL, 
StoreID INT NULL, 
TerritoryID INT NULL, 
AccountNumber TEXT, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Customer
    SELECT * FROM read_parquet('{parquet_dir}/Customer.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Customer LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Customer;")   

if on: con.close()

┌────────────┬──────────┬─────────┬─────────────┬───────────────┬──────────────────────────────────────┬─────────────────────────┐
│ CustomerID │ PersonID │ StoreID │ TerritoryID │ AccountNumber │               rowguid                │      ModifiedDate       │
│   int32    │  int32   │  int32  │    int32    │    varchar    │               varchar                │        timestamp        │
├────────────┼──────────┼─────────┼─────────────┼───────────────┼──────────────────────────────────────┼─────────────────────────┤
│          1 │     NULL │     934 │           1 │ AW00000001    │ 3F5AE95E-B87D-4AED-95B4-C3797AFCB74F │ 2025-09-11 11:15:07.263 │
│          2 │     NULL │    1028 │           1 │ AW00000002    │ E552F657-A9AF-4A7D-A645-C429D6E02491 │ 2025-09-11 11:15:07.263 │
│          3 │     NULL │     642 │           4 │ AW00000003    │ 130774B1-DB21-4EF3-98C8-C104BCD6ED6D │ 2025-09-11 11:15:07.263 │
│          4 │     NULL │     932 │           4 │ AW00000004    │ FF862851-1DAA-4044-BE7C-3E85583C054D │ 2025-09-11 11:15:07.263 │
│          5 │     NULL │    1026 │           4 │ AW00000005    │ 83905BDC-6F5E-4F71-B162-C98DA069F38A │ 2025-09-11 11:15:07.263 │
└────────────┴──────────┴─────────┴─────────────┴───────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19820 │
└──────────────┘

## Department

In [23]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Department (
DepartmentID SMALLINT NOT NULL primary key, 
Name TEXT NOT NULL, 
GroupName TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Department
    SELECT * FROM read_parquet('{parquet_dir}/Department.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Department LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Department;")   

if on: con.close()

┌──────────────┬─────────────┬──────────────────────────┬─────────────────────┐
│ DepartmentID │    Name     │        GroupName         │    ModifiedDate     │
│    int16     │   varchar   │         varchar          │      timestamp      │
├──────────────┼─────────────┼──────────────────────────┼─────────────────────┤
│            1 │ Engineering │ Research and Development │ 2008-04-30 00:00:00 │
│            2 │ Tool Design │ Research and Development │ 2008-04-30 00:00:00 │
│            3 │ Sales       │ Sales and Marketing      │ 2008-04-30 00:00:00 │
│            4 │ Marketing   │ Sales and Marketing      │ 2008-04-30 00:00:00 │
│            5 │ Purchasing  │ Inventory Management     │ 2008-04-30 00:00:00 │
└──────────────┴─────────────┴──────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           16 │
└──────────────┘

## EmailAddress

In [24]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE EmailAddress (
BusinessEntityID INT NOT NULL, 
EmailAddressID INT NOT NULL, 
EmailAddress TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, EmailAddressID)
);
"""

sql2 = f"""
INSERT INTO EmailAddress
    SELECT * exclude(column4), replace(column4, '&|', '') FROM read_parquet('{parquet_dir}/EmailAddress.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM EmailAddress LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM EmailAddress;")   

if on: con.close()

┌──────────────────┬────────────────┬──────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │ EmailAddressID │         EmailAddress         │               rowguid                │    ModifiedDate     │
│      int32       │     int32      │           varchar            │               varchar                │      timestamp      │
├──────────────────┼────────────────┼──────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│                1 │              1 │ ken0@adventure-works.com     │ 8A1901E4-671B-431A-871C-EADB2942E9EE │ 2020-01-07 00:00:00 │
│                2 │              2 │ terri0@adventure-works.com   │ B5FF9EFD-72A2-4F87-830B-F338FDD4D162 │ 2019-01-23 00:00:00 │
│                3 │              3 │ roberto0@adventure-works.com │ C8A51084-1C03-4C58-A8B3-55854AE7C499 │ 2018-11-03 00:00:00 │
│                4 │              4 │ rob0@adventure-works.com     │ 17703ED1-0031-4B4A-AFD2-77487A556B3B │ 2018-11-27 00:00:00 │
│                5 │              5 │ gail0@adventure-works.com    │ E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B │ 2018-12-29 00:00:00 │
└──────────────────┴────────────────┴──────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19972 │
└──────────────┘

## Employee

In [25]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Employee (
BusinessEntityID INT NOT NULL primary key, 
NationalIDNumber TEXT NOT NULL, 
LoginID TEXT NOT NULL, 
OrganizationNode TEXT NULL, 
OrganizationLevel INT, 
JobTitle TEXT NOT NULL, 
BirthDate DATE NOT NULL, 
MaritalStatus TEXT NOT NULL, 
Gender TEXT NOT NULL, 
HireDate DATE NOT NULL, 
SalariedFlag BIT NOT NULL , 
VacationHours SMALLINT NOT NULL, 
SickLeaveHours SMALLINT NOT NULL, 
CurrentFlag BIT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL 
);
"""

sql2 = f"""
INSERT INTO Employee
    SELECT * FROM read_parquet('{parquet_dir}/Employee.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Employee LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Employee;")   

if on: con.close()

┌──────────────────┬──────────────────┬──────────────────────────┬──────────────────┬───────────────────┬───────────────────────────────┬────────────┬───────────────┬─────────┬────────────┬──────────────────────────────────────────────────────────────────┬───────────────┬────────────────┬──────────────────────────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │ NationalIDNumber │         LoginID          │ OrganizationNode │ OrganizationLevel │           JobTitle            │ BirthDate  │ MaritalStatus │ Gender  │  HireDate  │                           SalariedFlag                           │ VacationHours │ SickLeaveHours │                           CurrentFlag                            │               rowguid                │    ModifiedDate     │
│      int32       │     varchar      │         varchar          │     varchar      │       int32       │            varchar            │    date    │    varchar    │ varchar │    date    │                               bit                                │     int16     │     int16      │                               bit                                │               varchar                │      timestamp      │
├──────────────────┼──────────────────┼──────────────────────────┼──────────────────┼───────────────────┼───────────────────────────────┼────────────┼───────────────┼─────────┼────────────┼──────────────────────────────────────────────────────────────────┼───────────────┼────────────────┼──────────────────────────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│                1 │ 295847284        │ adventure-works\ken0     │ NULL             │              NULL │ Chief Executive Officer       │ 1969-01-29 │ S             │ M       │ 2009-01-14 │ 0000000000000000000000000000000000000000000000000000000000000001 │            99 │             69 │ 0000000000000000000000000000000000000000000000000000000000000001 │ F01251E5-96A3-448D-981E-0F99D789110D │ 2014-06-30 00:00:00 │
│                2 │ 245797967        │ adventure-works\terri0   │ 58               │                 1 │ Vice President of Engineering │ 1971-08-01 │ S             │ F       │ 2008-01-31 │ 0000000000000000000000000000000000000000000000000000000000000001 │             1 │             20 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 45E8F437-670D-4409-93CB-F9424A40D6EE │ 2014-06-30 00:00:00 │
│                3 │ 509647174        │ adventure-works\roberto0 │ 5AC0             │                 2 │ Engineering Manager           │ 1974-11-12 │ M             │ M       │ 2007-11-11 │ 0000000000000000000000000000000000000000000000000000000000000001 │             2 │             21 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 9BBBFB2C-EFBB-4217-9AB7-F97689328841 │ 2014-06-30 00:00:00 │
│                4 │ 112457891        │ adventure-works\rob0     │ 5AD6             │                 3 │ Senior Tool Designer          │ 1974-12-23 │ S             │ M       │ 2007-12-05 │ 0000000000000000000000000000000000000000000000000000000000000000 │            48 │             80 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 59747955-87B8-443F-8ED4-F8AD3AFDF3A9 │ 2014-06-30 00:00:00 │
│                5 │ 695256908        │ adventure-works\gail0    │ 5ADA             │                 3 │ Design Engineer               │ 1952-09-27 │ M             │ F       │ 2008-01-06 │ 0000000000000000000000000000000000000000000000000000000000000001 │             5 │             22 │ 0000000000000000000000000000000000000000000000000000000000000001 │ EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08 │ 2014-06-30 00:00:00 │
└──────────────────┴──────────────────┴──────────────────────────┴──────────────────┴───────────────────┴───────────────────────────────┴────────────┴───────────────┴─────────┴────────────┴──────────────────────────────────────────────────────────────────┴───────────────┴────────────────┴──────────────────────────────────────────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          290 │
└──────────────┘

## EmployeeDepartmentHistory

In [26]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE EmployeeDepartmentHistory (
BusinessEntityID INT NOT NULL, 
DepartmentID SMALLINT NOT NULL, 
ShiftID UTINYINT NOT NULL, 
StartDate DATE NOT NULL, 
EndDate DATE NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (BusinessEntityID, StartDate, DepartmentID, ShiftID)
);
"""

sql2 = f"""
INSERT INTO EmployeeDepartmentHistory
    SELECT * FROM read_parquet('{parquet_dir}/EmployeeDepartmentHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM EmployeeDepartmentHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM EmployeeDepartmentHistory;")   

if on: con.close()

┌──────────────────┬──────────────┬─────────┬────────────┬────────────┬─────────────────────┐
│ BusinessEntityID │ DepartmentID │ ShiftID │ StartDate  │  EndDate   │    ModifiedDate     │
│      int32       │    int16     │  uint8  │    date    │    date    │      timestamp      │
├──────────────────┼──────────────┼─────────┼────────────┼────────────┼─────────────────────┤
│                1 │           16 │       1 │ 2009-01-14 │ NULL       │ 2009-01-13 00:00:00 │
│                2 │            1 │       1 │ 2008-01-31 │ NULL       │ 2008-01-30 00:00:00 │
│                3 │            1 │       1 │ 2007-11-11 │ NULL       │ 2007-11-10 00:00:00 │
│                4 │            1 │       1 │ 2007-12-05 │ 2010-05-30 │ 2010-05-28 00:00:00 │
│                4 │            2 │       1 │ 2010-05-31 │ NULL       │ 2010-05-30 00:00:00 │
└──────────────────┴──────────────┴─────────┴────────────┴────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          296 │
└──────────────┘

## EmployeePayHistory

In [27]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE EmployeePayHistory (
BusinessEntityID INT NOT NULL, 
RateChangeDate TIMESTAMP NOT NULL, 
Rate DECIMAL(18,4) NOT NULL, 
PayFrequency UTINYINT NOT NULL, /* 1 = monthly salary, 2 = biweekly salary */
ModifiedDate TIMESTAMP NOT NULL, 
primary key (BusinessEntityID, RateChangeDate)
);
"""

sql2 = f"""
INSERT INTO EmployeePayHistory
    SELECT * FROM read_parquet('{parquet_dir}/EmployeePayHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM EmployeePayHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM EmployeePayHistory;")   

if on: con.close()

┌──────────────────┬─────────────────────┬───────────────┬──────────────┬─────────────────────┐
│ BusinessEntityID │   RateChangeDate    │     Rate      │ PayFrequency │    ModifiedDate     │
│      int32       │      timestamp      │ decimal(18,4) │    uint8     │      timestamp      │
├──────────────────┼─────────────────────┼───────────────┼──────────────┼─────────────────────┤
│                1 │ 2009-01-14 00:00:00 │      125.5000 │            2 │ 2014-06-30 00:00:00 │
│                2 │ 2008-01-31 00:00:00 │       63.4615 │            2 │ 2014-06-30 00:00:00 │
│                3 │ 2007-11-11 00:00:00 │       43.2692 │            2 │ 2014-06-30 00:00:00 │
│                4 │ 2007-12-05 00:00:00 │        8.6200 │            2 │ 2007-11-21 00:00:00 │
│                4 │ 2010-05-31 00:00:00 │       23.7200 │            2 │ 2010-05-16 00:00:00 │
└──────────────────┴─────────────────────┴───────────────┴──────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          316 │
└──────────────┘

## Location

In [28]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Location (
LocationID SMALLINT NOT NULL primary key, 
Name TEXT NOT NULL, 
CostRate Decimal(18,4) NOT NULL, 
Availability DECIMAL(8, 2) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Location
    SELECT * FROM read_parquet('{parquet_dir}/Location.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Location LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Location;")   

if on: con.close()

┌────────────┬───────────────────┬───────────────┬──────────────┬─────────────────────┐
│ LocationID │       Name        │   CostRate    │ Availability │    ModifiedDate     │
│   int16    │      varchar      │ decimal(18,4) │ decimal(8,2) │      timestamp      │
├────────────┼───────────────────┼───────────────┼──────────────┼─────────────────────┤
│          1 │ Tool Crib         │        0.0000 │         0.00 │ 2019-04-30 00:00:00 │
│          2 │ Sheet Metal Racks │        0.0000 │         0.00 │ 2019-04-30 00:00:00 │
│          3 │ Paint Shop        │        0.0000 │         0.00 │ 2019-04-30 00:00:00 │
│          4 │ Paint Storage     │        0.0000 │         0.00 │ 2019-04-30 00:00:00 │
│          5 │ Metal Storage     │        0.0000 │         0.00 │ 2019-04-30 00:00:00 │
└────────────┴───────────────────┴───────────────┴──────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           14 │
└──────────────┘

## Password

In [29]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Password (
BusinessEntityID INT NOT NULL primary key, 
PasswordHash TEXT NOT NULL, 
PasswordSalt TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Password
    SELECT  * exclude(column4), replace(column4, '&|', '') FROM read_parquet('{parquet_dir}/Password.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Password LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Password;")   

if on: con.close()

┌──────────────────┬──────────────────────────────────────────────┬──────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │                 PasswordHash                 │ PasswordSalt │               rowguid                │    ModifiedDate     │
│      int32       │                   varchar                    │   varchar    │               varchar                │      timestamp      │
├──────────────────┼──────────────────────────────────────────────┼──────────────┼──────────────────────────────────────┼─────────────────────┤
│                1 │ pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM= │ bE3XiWw=     │ 329EACBE-C883-4F48-B8B6-17AA4627EFFF │ 2020-01-07 00:00:00 │
│                2 │ bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0= │ EjJaC3U=     │ A4C82398-7466-4FE6-B9EE-CEC34D116F68 │ 2019-01-23 00:00:00 │
│                3 │ 8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY= │ wbPZqMw=     │ AC3F4536-BB2E-41C5-B70D-454BE460C1BD │ 2018-11-03 00:00:00 │
│                4 │ SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8= │ PwSunQU=     │ B3FA4C24-2E96-477C-A923-0CB0F6FA5C80 │ 2018-11-27 00:00:00 │
│                5 │ 8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA= │ qYhZRiM=     │ C4D13BCF-0209-44C7-AC67-6F817FDD7F16 │ 2018-12-29 00:00:00 │
└──────────────────┴──────────────────────────────────────────────┴──────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19972 │
└──────────────┘

## Person

In [30]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Person (
BusinessEntityID INT NOT NULL primary key, 
PersonType TEXT NOT NULL, 
NameStyle BIT NOT NULL, 
Title TEXT NULL, 
FirstName TEXT NOT NULL, 
MiddleName TEXT NULL, 
LastName TEXT NOT NULL, 
Suffix TEXT NULL, 
EmailPromotion INT NOT NULL, 
AdditionalContactInfo TEXT NULL, 
Demographics TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO Person
    SELECT * exclude(column12), replace(column12, '&|', '') FROM read_parquet('{parquet_dir}/Person.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Person LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Person;")   

if on: con.close()

┌──────────────────┬────────────┬──────────────────────────────────────────────────────────────────┬─────────┬───────────┬────────────┬────────────┬─────────┬────────────────┬───────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │ PersonType │                            NameStyle                             │  Title  │ FirstName │ MiddleName │  LastName  │ Suffix  │ EmailPromotion │ AdditionalContactInfo │                                                                            Demographics                                                                             │               rowguid                │    ModifiedDate     │
│      int32       │  varchar   │                               bit                                │ varchar │  varchar  │  varchar   │  varchar   │ varchar │     int32      │        varchar        │                                                                               varchar                                                                               │               varchar                │      timestamp      │
├──────────────────┼────────────┼──────────────────────────────────────────────────────────────────┼─────────┼───────────┼────────────┼────────────┼─────────┼────────────────┼───────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│                1 │ EM         │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │ Ken       │ J          │ Sánchez    │ NULL    │              0 │ NULL                  │ <IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> │ 92C4279F-1207-48A3-8448-4636514EB7E2 │ 2020-01-07 00:00:00 │
│                2 │ EM         │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │ Terri     │ Lee        │ Duffy      │ NULL    │              1 │ NULL                  │ <IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> │ D8763459-8AA8-47CC-AFF7-C9079AF79033 │ 2019-01-23 00:00:00 │
│                3 │ EM         │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │ Roberto   │ NULL       │ Tamburello │ NULL    │              0 │ NULL                  │ <IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> │ E1A2555E-0828-434B-A33B-6F38136A37DE │ 2018-11-03 00:00:00 │
│                4 │ EM         │ 0000000000000000000000000000000000000000000000000000000000000000 │ NULL    │ Rob       │ NULL       │ Walters    │ NULL    │              0 │ NULL                  │ <IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> │ F2D7CE06-38B3-4357-805B-F4B6B71C01FF │ 2018-11-27 00:00:00 │
│                5 │ EM         │ 0000000000000000000000000000000000000000000000000000000000000000 │ Ms.     │ Gail      │ A          │ Erickson   │ NULL    │              0 │ NULL                  │ <IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> │ F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF │ 2018-12-29 00:00:00 │
└──────────────────┴────────────┴──────────────────────────────────────────────────────────────────┴─────────┴───────────┴────────────┴────────────┴─────────┴────────────────┴───────────────────────┴─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19972 │
└──────────────┘

## PersonCreditCard

In [31]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE PersonCreditCard (
BusinessEntityID INT NOT NULL, 
CreditCardID INT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, CreditCardID)
);
"""

sql2 = f"""
INSERT INTO PersonCreditCard
    SELECT * FROM read_parquet('{parquet_dir}/PersonCreditCard.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM PersonCreditCard LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM PersonCreditCard;")   

if on: con.close()

┌──────────────────┬──────────────┬─────────────────────┐
│ BusinessEntityID │ CreditCardID │    ModifiedDate     │
│      int32       │    int32     │      timestamp      │
├──────────────────┼──────────────┼─────────────────────┤
│              293 │        17038 │ 2024-07-30 00:00:00 │
│              295 │        15369 │ 2022-07-31 00:00:00 │
│              297 │         8010 │ 2022-07-31 00:00:00 │
│              299 │         5316 │ 2024-07-30 00:00:00 │
│              301 │         6653 │ 2022-05-30 00:00:00 │
└──────────────────┴──────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19118 │
└──────────────┘

## PersonPhone

In [32]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE PersonPhone (
BusinessEntityID INT NOT NULL, 
PhoneNumber TEXT NOT NULL, 
PhoneNumberTypeID INT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, PhoneNumber, PhoneNumberTypeID)
);
"""

sql2 = f"""
INSERT INTO PersonPhone
    SELECT * exclude(column3), replace(column3, '&|', '') FROM read_parquet('{parquet_dir}/PersonPhone.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM PersonPhone LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM PersonPhone;")   

if on: con.close()

┌──────────────────┬──────────────┬───────────────────┬─────────────────────┐
│ BusinessEntityID │ PhoneNumber  │ PhoneNumberTypeID │    ModifiedDate     │
│      int32       │   varchar    │       int32       │      timestamp      │
├──────────────────┼──────────────┼───────────────────┼─────────────────────┤
│                1 │ 697-555-0142 │                 1 │ 2020-01-07 00:00:00 │
│                2 │ 819-555-0175 │                 3 │ 2019-01-23 00:00:00 │
│                3 │ 212-555-0187 │                 1 │ 2018-11-03 00:00:00 │
│                4 │ 612-555-0100 │                 1 │ 2018-11-27 00:00:00 │
│                5 │ 849-555-0139 │                 1 │ 2018-12-29 00:00:00 │
└──────────────────┴──────────────┴───────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19972 │
└──────────────┘

## PhoneNumberType

In [33]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE PhoneNumberType (
PhoneNumberTypeID INT NOT NULL, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO PhoneNumberType
    SELECT * exclude(column2), replace(column2, '&|', '') FROM read_parquet('{parquet_dir}/PhoneNumberType.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM PhoneNumberType LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM PhoneNumberType;")   

if on: con.close()

┌───────────────────┬─────────┬─────────────────────────┐
│ PhoneNumberTypeID │  Name   │      ModifiedDate       │
│       int32       │ varchar │        timestamp        │
├───────────────────┼─────────┼─────────────────────────┤
│                 1 │ Cell    │ 2017-12-13 13:19:22.273 │
│                 2 │ Home    │ 2017-12-13 13:19:22.273 │
│                 3 │ Work    │ 2017-12-13 13:19:22.273 │
└───────────────────┴─────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            3 │
└──────────────┘

## ProductCostHistory

In [34]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductCostHistory (
ProductID INT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NULL, 
StandardCost DECIMAL(18,4) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (ProductID, StartDate)
);
"""

sql2 = f"""
INSERT INTO ProductCostHistory
    SELECT *  FROM read_parquet('{parquet_dir}/ProductCostHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductCostHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductCostHistory;")   

if on: con.close()

┌───────────┬─────────────────────┬─────────────────────┬───────────────┬─────────────────────┐
│ ProductID │      StartDate      │       EndDate       │ StandardCost  │    ModifiedDate     │
│   int32   │      timestamp      │      timestamp      │ decimal(18,4) │      timestamp      │
├───────────┼─────────────────────┼─────────────────────┼───────────────┼─────────────────────┤
│       707 │ 2022-05-30 00:00:00 │ 2023-05-29 00:00:00 │       12.0278 │ 2023-05-29 00:00:00 │
│       707 │ 2023-05-30 00:00:00 │ 2024-05-28 00:00:00 │       13.8782 │ 2024-05-28 00:00:00 │
│       707 │ 2024-05-29 00:00:00 │ NULL                │       13.0863 │ 2024-05-15 00:00:00 │
│       708 │ 2022-05-30 00:00:00 │ 2023-05-29 00:00:00 │       12.0278 │ 2023-05-29 00:00:00 │
│       708 │ 2023-05-30 00:00:00 │ 2024-05-28 00:00:00 │       13.8782 │ 2024-05-28 00:00:00 │
└───────────┴─────────────────────┴─────────────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          395 │
└──────────────┘

## ProductDescription

In [35]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductDescription (
ProductDescriptionID INT NOT NULL, 
Description TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ProductDescription
    SELECT *  FROM read_parquet('{parquet_dir}/ProductDescription.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductDescription LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductDescription;")   

if on: con.close()

┌──────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ ProductDescriptionID │                                                                       Description                                                                       │               rowguid                │    ModifiedDate     │
│        int32         │                                                                         varchar                                                                         │               varchar                │      timestamp      │
├──────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│                    3 │ Chromoly steel.                                                                                                                                         │ 301EED3A-1A82-4855-99CB-2AFE8290D641 │ 2024-04-29 00:00:00 │
│                    4 │ Aluminum alloy cups; large diameter spindle.                                                                                                            │ DFEBA528-DA11-4650-9D86-CAFDA7294EB0 │ 2024-04-29 00:00:00 │
│                    5 │ Aluminum alloy cups and a hollow axle.                                                                                                                  │ F7178DA7-1A7E-4997-8470-06737181305E │ 2024-04-29 00:00:00 │
│                    8 │ Suitable for any type of riding, on or off-road. Fits any budget. Smooth-shifting with a comfortable ride.                                              │ 8E6746E5-AD97-46E2-BD24-FCEA075C3B52 │ 2024-04-29 00:00:00 │
│                   64 │ This bike delivers a high-level of performance on a budget. It is responsive and maneuverable, and offers peace-of-mind when you decide to go off-road. │ 7B1C4E90-85E2-4792-B47B-E0C424E2EC94 │ 2024-04-29 00:00:00 │
└──────────────────────┴─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          762 │
└──────────────┘

## ProductDocument

In [36]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductDocument (
ProductID INT NOT NULL, 
DocumentNode TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (ProductID, DocumentNode)
);
"""

sql2 = f"""
INSERT INTO ProductDocument
    SELECT *  FROM read_parquet('{parquet_dir}/ProductDocument.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductDocument LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductDocument;")   

if on: con.close()

┌───────────┬──────────────┬─────────────────────────┐
│ ProductID │ DocumentNode │      ModifiedDate       │
│   int32   │   varchar    │        timestamp        │
├───────────┼──────────────┼─────────────────────────┤
│       317 │ 6AC0         │ 2024-12-28 13:51:58.103 │
│       318 │ 6AC0         │ 2024-12-28 13:51:58.103 │
│       319 │ 6AC0         │ 2024-12-28 13:51:58.103 │
│       506 │ 7AC0         │ 2024-12-28 13:51:58.103 │
│       506 │ 7B40         │ 2024-12-28 13:51:58.103 │
└───────────┴──────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           32 │
└──────────────┘

## ProductInventory

In [37]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductInventory (
ProductID INT NOT NULL, 
LocationID SMALLINT NOT NULL, 
Shelf TEXT NOT NULL, 
Bin UTINYINT NOT NULL, 
Quantity SMALLINT NOT NULL , 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (ProductID, LocationID)
);
"""

sql2 = f"""
INSERT INTO ProductInventory
    SELECT *  FROM read_parquet('{parquet_dir}/ProductInventory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductInventory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductInventory;")   

if on: con.close()

┌───────────┬────────────┬─────────┬───────┬──────────┬──────────────────────────────────────┬─────────────────────┐
│ ProductID │ LocationID │  Shelf  │  Bin  │ Quantity │               rowguid                │    ModifiedDate     │
│   int32   │   int16    │ varchar │ uint8 │  int16   │               varchar                │      timestamp      │
├───────────┼────────────┼─────────┼───────┼──────────┼──────────────────────────────────────┼─────────────────────┤
│         1 │          1 │ A       │     1 │      408 │ 47A24246-6C43-48EB-968F-025738A8A410 │ 2025-08-07 00:00:00 │
│         1 │          6 │ B       │     5 │      324 │ D4544D7D-CAF5-46B3-AB22-5718DCC26B5E │ 2025-08-07 00:00:00 │
│         1 │         50 │ A       │     5 │      353 │ BFF7DC60-96A8-43CA-81A7-D6D2ED3000A8 │ 2025-08-07 00:00:00 │
│         2 │          1 │ A       │     2 │      427 │ F407C07A-CA14-4684-A02C-608BD00C2233 │ 2025-08-07 00:00:00 │
│         2 │          6 │ B       │     1 │      318 │ CA1FF2F4-48FB-4960-8D92-3940B633E4C1 │ 2025-08-07 00:00:00 │
└───────────┴────────────┴─────────┴───────┴──────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         1069 │
└──────────────┘

## ProductListPriceHistory

In [38]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductListPriceHistory (
ProductID INT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NULL, 
ListPrice DECIMAL(18,4) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (ProductID, StartDate)
);
"""

sql2 = f"""
INSERT INTO ProductListPriceHistory
    SELECT *  FROM read_parquet('{parquet_dir}/ProductListPriceHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductListPriceHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductListPriceHistory;")   

if on: con.close()

┌───────────┬─────────────────────┬─────────────────────┬───────────────┬─────────────────────┐
│ ProductID │      StartDate      │       EndDate       │   ListPrice   │    ModifiedDate     │
│   int32   │      timestamp      │      timestamp      │ decimal(18,4) │      timestamp      │
├───────────┼─────────────────────┼─────────────────────┼───────────────┼─────────────────────┤
│       707 │ 2022-05-30 00:00:00 │ 2023-05-29 00:00:00 │       33.6442 │ 2023-05-29 00:00:00 │
│       707 │ 2023-05-30 00:00:00 │ 2024-05-28 00:00:00 │       33.6442 │ 2024-05-28 00:00:00 │
│       707 │ 2024-05-29 00:00:00 │ NULL                │       34.9900 │ 2024-05-08 00:00:00 │
│       708 │ 2022-05-30 00:00:00 │ 2023-05-29 00:00:00 │       33.6442 │ 2023-05-29 00:00:00 │
│       708 │ 2023-05-30 00:00:00 │ 2024-05-28 00:00:00 │       33.6442 │ 2024-05-28 00:00:00 │
└───────────┴─────────────────────┴─────────────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          395 │
└──────────────┘

## ProductModel

In [39]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductModel (
ProductModelID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
CatalogDescription TEXT NULL, 
Instructions TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ProductModel
    SELECT * exclude(column5), replace(column5, '&|', '')  FROM read_parquet('{parquet_dir}/ProductModel.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductModel LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductModel;")   

if on: con.close()

┌────────────────┬────────────────────┬────────────────────┬──────────────┬──────────────────────────────────────┬─────────────────────┐
│ ProductModelID │        Name        │ CatalogDescription │ Instructions │               rowguid                │    ModifiedDate     │
│     int32      │      varchar       │      varchar       │   varchar    │               varchar                │      timestamp      │
├────────────────┼────────────────────┼────────────────────┼──────────────┼──────────────────────────────────────┼─────────────────────┤
│              1 │ Classic Vest       │ NULL               │ NULL         │ 29321D47-1E4C-4AAC-887C-19634328C25E │ 2024-04-29 00:00:00 │
│              2 │ Cycling Cap        │ NULL               │ NULL         │ 474FB654-3C96-4CB9-82DF-2152EEFFBDB0 │ 2022-04-30 00:00:00 │
│              3 │ Full-Finger Gloves │ NULL               │ NULL         │ A75483FE-3C47-4AA4-93CF-664B51192987 │ 2023-04-30 00:00:00 │
│              4 │ Half-Finger Gloves │ NULL               │ NULL         │ 14B56F2A-D4AA-40A4-B9A2-984F165ED702 │ 2023-04-30 00:00:00 │
│              5 │ HL Mountain Frame  │ NULL               │ NULL         │ FDD5407B-C2DB-49D1-A86B-C13A2E3582A2 │ 2022-04-30 00:00:00 │
└────────────────┴────────────────────┴────────────────────┴──────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          128 │
└──────────────┘

## ProductModelIllustration

In [40]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductModelIllustration (
ProductModelID INT NOT NULL, 
IllustrationID INT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ProductModelIllustration
    SELECT *  FROM read_parquet('{parquet_dir}/ProductModelIllustration.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductModelIllustration LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductModelIllustration;")   

if on: con.close()

┌────────────────┬────────────────┬─────────────────────────┐
│ ProductModelID │ IllustrationID │      ModifiedDate       │
│     int32      │     int32      │        timestamp        │
├────────────────┼────────────────┼─────────────────────────┤
│              7 │              3 │ 2025-01-08 14:41:02.167 │
│             10 │              3 │ 2025-01-08 14:41:02.167 │
│             47 │              4 │ 2025-01-08 14:41:02.183 │
│             47 │              5 │ 2025-01-08 14:41:02.183 │
│             48 │              4 │ 2025-01-08 14:41:02.183 │
└────────────────┴────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            7 │
└──────────────┘

## ProductModelProductDescriptionCulture

In [41]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductModelProductDescriptionCulture (
ProductModelID INT NOT NULL, 
ProductDescriptionID INT NOT NULL, 
CultureID TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (ProductModelID, ProductDescriptionID, CultureID)
);
"""

sql2 = f"""
INSERT INTO ProductModelProductDescriptionCulture
    SELECT *  FROM read_parquet('{parquet_dir}/ProductModelProductDescriptionCulture.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductModelProductDescriptionCulture LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductModelProductDescriptionCulture;")   

if on: con.close()

┌────────────────┬──────────────────────┬───────────┬─────────────────────┐
│ ProductModelID │ ProductDescriptionID │ CultureID │    ModifiedDate     │
│     int32      │        int32         │  varchar  │      timestamp      │
├────────────────┼──────────────────────┼───────────┼─────────────────────┤
│              1 │                 1199 │ en        │ 2024-04-29 00:00:00 │
│              1 │                 1467 │ ar        │ 2024-04-29 00:00:00 │
│              1 │                 1589 │ fr        │ 2024-04-29 00:00:00 │
│              1 │                 1712 │ th        │ 2024-04-29 00:00:00 │
│              1 │                 1838 │ he        │ 2024-04-29 00:00:00 │
└────────────────┴──────────────────────┴───────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          762 │
└──────────────┘

## ProductSubcategory

In [42]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductSubcategory (
ProductSubcategoryID INT NOT NULL primary key, 
ProductCategoryID INT NOT NULL, 
Name TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ProductSubcategory
    SELECT *  FROM read_parquet('{parquet_dir}/ProductSubcategory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductSubcategory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductSubcategory;")   

if on: con.close()

┌──────────────────────┬───────────────────┬─────────────────┬──────────────────────────────────────┬─────────────────────┐
│ ProductSubcategoryID │ ProductCategoryID │      Name       │               rowguid                │    ModifiedDate     │
│        int32         │       int32       │     varchar     │               varchar                │      timestamp      │
├──────────────────────┼───────────────────┼─────────────────┼──────────────────────────────────────┼─────────────────────┤
│                    1 │                 1 │ Mountain Bikes  │ 2D364ADE-264A-433C-B092-4FCBF3804E01 │ 2019-04-30 00:00:00 │
│                    2 │                 1 │ Road Bikes      │ 000310C0-BCC8-42C4-B0C3-45AE611AF06B │ 2019-04-30 00:00:00 │
│                    3 │                 1 │ Touring Bikes   │ 02C5061D-ECDC-4274-B5F1-E91D76BC3F37 │ 2019-04-30 00:00:00 │
│                    4 │                 2 │ Handlebars      │ 3EF2C725-7135-4C85-9AE6-AE9A3BDD9283 │ 2019-04-30 00:00:00 │
│                    5 │                 2 │ Bottom Brackets │ A9E54089-8A1E-4CF5-8646-E3801F685934 │ 2019-04-30 00:00:00 │
└──────────────────────┴───────────────────┴─────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           37 │
└──────────────┘

## ProductVendor

In [43]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ProductVendor (
ProductID INT NOT NULL, 
BusinessEntityID INT NOT NULL, 
AverageLeadTime INT NOT NULL, 
StandardPrice DECIMAL(18,4) NOT NULL, 
LastReceiptCost DECIMAL(18,4) NULL, 
LastReceiptDate TIMESTAMP NULL, 
MinOrderQty INT NOT NULL, 
MaxOrderQty INT NOT NULL, 
OnOrderQty INT NULL, 
UnitMeasureCode TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (ProductID, BusinessEntityID)
);
"""

sql2 = f"""
INSERT INTO ProductVendor
    SELECT *  FROM read_parquet('{parquet_dir}/ProductVendor.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ProductVendor LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ProductVendor;")   

if on: con.close()

┌───────────┬──────────────────┬─────────────────┬───────────────┬─────────────────┬─────────────────────┬─────────────┬─────────────┬────────────┬─────────────────┬─────────────────────┐
│ ProductID │ BusinessEntityID │ AverageLeadTime │ StandardPrice │ LastReceiptCost │   LastReceiptDate   │ MinOrderQty │ MaxOrderQty │ OnOrderQty │ UnitMeasureCode │    ModifiedDate     │
│   int32   │      int32       │      int32      │ decimal(18,4) │  decimal(18,4)  │      timestamp      │    int32    │    int32    │   int32    │     varchar     │      timestamp      │
├───────────┼──────────────────┼─────────────────┼───────────────┼─────────────────┼─────────────────────┼─────────────┼─────────────┼────────────┼─────────────────┼─────────────────────┤
│         1 │             1580 │              17 │       47.8700 │         50.2635 │ 2022-08-28 00:00:00 │           1 │           5 │          3 │ CS              │ 2022-08-28 00:00:00 │
│         2 │             1688 │              19 │       39.9200 │         41.9160 │ 2022-08-28 00:00:00 │           1 │           5 │          3 │ CTN             │ 2022-08-28 00:00:00 │
│         4 │             1650 │              17 │       54.3100 │         57.0255 │ 2022-08-28 00:00:00 │           1 │           5 │       NULL │ CTN             │ 2022-08-28 00:00:00 │
│       317 │             1578 │              19 │       28.1700 │         29.5785 │ 2022-08-28 00:00:00 │         100 │        1000 │        300 │ EA              │ 2022-08-28 00:00:00 │
│       317 │             1678 │              17 │       25.7700 │         27.0585 │ 2022-08-24 00:00:00 │         100 │        1000 │       NULL │ EA              │ 2022-08-24 00:00:00 │
└───────────┴──────────────────┴─────────────────┴───────────────┴─────────────────┴─────────────────────┴─────────────┴─────────────┴────────────┴─────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          460 │
└──────────────┘

## PurchaseOrderDetail

In [44]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE PurchaseOrderDetail (
PurchaseOrderID INT NOT NULL, 
PurchaseOrderDetailID INT NOT NULL, 
DueDate TIMESTAMP NOT NULL, 
OrderQty SMALLINT NOT NULL, 
ProductID INT NOT NULL, 
UnitPrice DECIMAL(18,4) NOT NULL, 
LineTotal DECIMAL(18,4), 
ReceivedQty DECIMAL(8,2) NOT NULL, 
RejectedQty DECIMAL(8,2) NOT NULL, 
StockedQty DECIMAL(8,2), 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (PurchaseOrderID, PurchaseOrderDetailID)
);
"""

sql2 = f"""
INSERT INTO PurchaseOrderDetail
    SELECT *  FROM read_parquet('{parquet_dir}/PurchaseOrderDetail.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM PurchaseOrderDetail LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM PurchaseOrderDetail;")   

if on: con.close()

┌─────────────────┬───────────────────────┬─────────────────────┬──────────┬───────────┬───────────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────────────┐
│ PurchaseOrderID │ PurchaseOrderDetailID │       DueDate       │ OrderQty │ ProductID │   UnitPrice   │   LineTotal   │ ReceivedQty  │ RejectedQty  │  StockedQty  │    ModifiedDate     │
│      int32      │         int32         │      timestamp      │  int16   │   int32   │ decimal(18,4) │ decimal(18,4) │ decimal(8,2) │ decimal(8,2) │ decimal(8,2) │      timestamp      │
├─────────────────┼───────────────────────┼─────────────────────┼──────────┼───────────┼───────────────┼───────────────┼──────────────┼──────────────┼──────────────┼─────────────────────┤
│               1 │                     1 │ 2022-04-29 00:00:00 │        4 │         1 │       50.2600 │      201.0400 │         3.00 │         0.00 │         3.00 │ 2022-04-22 00:00:00 │
│               2 │                     2 │ 2022-04-29 00:00:00 │        3 │       359 │       45.1200 │      135.3600 │         3.00 │         0.00 │         3.00 │ 2022-04-22 00:00:00 │
│               2 │                     3 │ 2022-04-29 00:00:00 │        3 │       360 │       45.5805 │      136.7415 │         3.00 │         0.00 │         3.00 │ 2022-04-22 00:00:00 │
│               3 │                     4 │ 2022-04-29 00:00:00 │      550 │       530 │       16.0860 │     8847.3000 │       550.00 │         0.00 │       550.00 │ 2022-04-22 00:00:00 │
│               4 │                     5 │ 2022-04-29 00:00:00 │        3 │         4 │       57.0255 │      171.0765 │         2.00 │         1.00 │         1.00 │ 2022-04-22 00:00:00 │
└─────────────────┴───────────────────────┴─────────────────────┴──────────┴───────────┴───────────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         8845 │
└──────────────┘

## PurchaseOrderHeader

In [45]:
if on: con = duckdb_mem_con()

sql1 = """
/* 1 = Pending;
 2 = Approved;
 3 = Rejected;
 4 = Complete */
CREATE TABLE PurchaseOrderHeader (
PurchaseOrderID INT NOT NULL primary key, 
RevisionNumber UTINYINT NOT NULL, 
Status UTINYINT NOT NULL, 
EmployeeID INT NOT NULL, 
VendorID INT NOT NULL, 
ShipMethodID INT NOT NULL, 
OrderDate TIMESTAMP NOT NULL, 
ShipDate TIMESTAMP NULL, 
SubTotal DECIMAL(18,4) NOT NULL , 
TaxAmt DECIMAL(18,4) NOT NULL , 
Freight DECIMAL(18,4) NOT NULL , 
TotalDue DECIMAL(18,4) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO PurchaseOrderHeader
    SELECT *  FROM read_parquet('{parquet_dir}/PurchaseOrderHeader.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM PurchaseOrderHeader LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM PurchaseOrderHeader;")   

if on: con.close()

┌─────────────────┬────────────────┬────────┬────────────┬──────────┬──────────────┬─────────────────────┬─────────────────────┬───────────────┬───────────────┬───────────────┬───────────────┬─────────────────────┐
│ PurchaseOrderID │ RevisionNumber │ Status │ EmployeeID │ VendorID │ ShipMethodID │      OrderDate      │      ShipDate       │   SubTotal    │    TaxAmt     │    Freight    │   TotalDue    │    ModifiedDate     │
│      int32      │     uint8      │ uint8  │   int32    │  int32   │    int32     │      timestamp      │      timestamp      │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │      timestamp      │
├─────────────────┼────────────────┼────────┼────────────┼──────────┼──────────────┼─────────────────────┼─────────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼─────────────────────┤
│               1 │              5 │      4 │        258 │     1580 │            3 │ 2022-04-15 00:00:00 │ 2022-04-24 00:00:00 │      201.0400 │       16.0832 │        5.0260 │      222.1492 │ 2022-04-24 00:00:00 │
│               2 │              5 │      1 │        254 │     1496 │            5 │ 2022-04-15 00:00:00 │ 2022-04-24 00:00:00 │      272.1015 │       21.7681 │        6.8025 │      300.6721 │ 2022-04-24 00:00:00 │
│               3 │              5 │      4 │        257 │     1494 │            2 │ 2022-04-15 00:00:00 │ 2022-04-24 00:00:00 │     8847.3000 │      707.7840 │      221.1825 │     9776.2665 │ 2022-04-24 00:00:00 │
│               4 │              5 │      3 │        261 │     1650 │            5 │ 2022-04-15 00:00:00 │ 2022-04-24 00:00:00 │      171.0765 │       13.6861 │        4.2769 │      189.0395 │ 2022-04-24 00:00:00 │
│               5 │              5 │      4 │        251 │     1654 │            4 │ 2022-04-29 00:00:00 │ 2022-05-08 00:00:00 │    20397.3000 │     1631.7840 │      509.9325 │    22539.0165 │ 2022-05-08 00:00:00 │
└─────────────────┴────────────────┴────────┴────────────┴──────────┴──────────────┴─────────────────────┴─────────────────────┴───────────────┴───────────────┴───────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4012 │
└──────────────┘

## SalesOrderDetail

In [46]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesOrderDetail (
SalesOrderID INT NOT NULL, 
SalesOrderDetailID INT NOT NULL, 
CarrierTrackingNumber TEXT NULL, 
OrderQty SMALLINT NOT NULL, 
ProductID INT NOT NULL, 
SpecialOfferID INT NOT NULL, 
UnitPrice DECIMAL(18,4) NOT NULL, 
UnitPriceDiscount DECIMAL(18,4) NOT NULL , 
LineTotal DECIMAL(18,4) NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (SalesOrderID, SalesOrderDetailID)
);
"""

sql2 = f"""
INSERT INTO SalesOrderDetail
    SELECT *  FROM read_parquet('{parquet_dir}/SalesOrderDetail.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesOrderDetail LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesOrderDetail;")   

if on: con.close()

┌──────────────┬────────────────────┬───────────────────────┬──────────┬───────────┬────────────────┬───────────────┬───────────────────┬───────────────┬──────────────────────────────────────┬─────────────────────┐
│ SalesOrderID │ SalesOrderDetailID │ CarrierTrackingNumber │ OrderQty │ ProductID │ SpecialOfferID │   UnitPrice   │ UnitPriceDiscount │   LineTotal   │               rowguid                │    ModifiedDate     │
│    int32     │       int32        │        varchar        │  int16   │   int32   │     int32      │ decimal(18,4) │   decimal(18,4)   │ decimal(18,4) │               varchar                │      timestamp      │
├──────────────┼────────────────────┼───────────────────────┼──────────┼───────────┼────────────────┼───────────────┼───────────────────┼───────────────┼──────────────────────────────────────┼─────────────────────┤
│        43659 │                  1 │ 4911-403C-98          │        1 │       776 │              1 │     2024.9940 │            0.0000 │     2024.9940 │ B207C96D-D9E6-402B-8470-2CC176C42283 │ 2022-05-30 00:00:00 │
│        43659 │                  2 │ 4911-403C-98          │        3 │       777 │              1 │     2024.9940 │            0.0000 │     6074.9820 │ 7ABB600D-1E77-41BE-9FE5-B9142CFC08FA │ 2022-05-30 00:00:00 │
│        43659 │                  3 │ 4911-403C-98          │        1 │       778 │              1 │     2024.9940 │            0.0000 │     2024.9940 │ 475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F │ 2022-05-30 00:00:00 │
│        43659 │                  4 │ 4911-403C-98          │        1 │       771 │              1 │     2039.9940 │            0.0000 │     2039.9940 │ 04C4DE91-5815-45D6-8670-F462719FBCE3 │ 2022-05-30 00:00:00 │
│        43659 │                  5 │ 4911-403C-98          │        1 │       772 │              1 │     2039.9940 │            0.0000 │     2039.9940 │ 5A74C7D2-E641-438E-A7AC-37BF23280301 │ 2022-05-30 00:00:00 │
└──────────────┴────────────────────┴───────────────────────┴──────────┴───────────┴────────────────┴───────────────┴───────────────────┴───────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       121317 │
└──────────────┘

## SalesOrderHeader

In [47]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesOrderHeader (
SalesOrderID INT NOT NULL primary key, 
RevisionNumber UTINYINT NOT NULL , 
OrderDate TIMESTAMP NOT NULL, 
DueDate TIMESTAMP NOT NULL, 
ShipDate TIMESTAMP NULL, 
Status UTINYINT NOT NULL , 
OnlineOrderFlag BIT NOT NULL , 
SalesOrderNumber TEXT NOT NULL, 
PurchaseOrderNumber TEXT NULL, 
AccountNumber TEXT NULL, 
CustomerID INT NOT NULL, 
SalesPersonID INT NULL, 
TerritoryID INT NULL, 
BillToAddressID INT NOT NULL, 
ShipToAddressID INT NOT NULL, 
ShipMethodID INT NOT NULL, 
CreditCardID INT NULL, 
CreditCardApprovalCode TEXT NULL, 
CurrencyRateID INT NULL, 
SubTotal DECIMAL(18,4) NOT NULL , 
TaxAmt DECIMAL(18,4) NOT NULL , 
Freight DECIMAL(18,4) NOT NULL , 
TotalDue DECIMAL(18,4) NOT NULL, 
Comment TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO SalesOrderHeader
    SELECT *  FROM read_parquet('{parquet_dir}/SalesOrderHeader.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesOrderHeader LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesOrderHeader;")   

if on: con.close()

┌──────────────┬────────────────┬─────────────────────┬─────────────────────┬─────────────────────┬────────┬──────────────────────────────────────────────────────────────────┬──────────────────┬─────────────────────┬────────────────┬────────────┬───────────────┬─────────────┬─────────────────┬─────────────────┬──────────────┬──────────────┬────────────────────────┬────────────────┬───────────────┬───────────────┬───────────────┬───────────────┬─────────┬──────────────────────────────────────┬─────────────────────┐
│ SalesOrderID │ RevisionNumber │      OrderDate      │       DueDate       │      ShipDate       │ Status │                         OnlineOrderFlag                          │ SalesOrderNumber │ PurchaseOrderNumber │ AccountNumber  │ CustomerID │ SalesPersonID │ TerritoryID │ BillToAddressID │ ShipToAddressID │ ShipMethodID │ CreditCardID │ CreditCardApprovalCode │ CurrencyRateID │   SubTotal    │    TaxAmt     │    Freight    │   TotalDue    │ Comment │               rowguid                │    ModifiedDate     │
│    int32     │     uint8      │      timestamp      │      timestamp      │      timestamp      │ uint8  │                               bit                                │     varchar      │       varchar       │    varchar     │   int32    │     int32     │    int32    │      int32      │      int32      │    int32     │    int32     │        varchar         │     int32      │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │ varchar │               varchar                │      timestamp      │
├──────────────┼────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────┼──────────────────────────────────────────────────────────────────┼──────────────────┼─────────────────────┼────────────────┼────────────┼───────────────┼─────────────┼─────────────────┼─────────────────┼──────────────┼──────────────┼────────────────────────┼────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼─────────┼──────────────────────────────────────┼─────────────────────┤
│        43659 │             10 │ 2022-05-30 00:00:00 │ 2022-06-11 00:00:00 │ 2022-06-06 00:00:00 │      5 │ 0000000000000000000000000000000000000000000000000000000000000000 │ SO43659          │ PO522145787         │ 10-4020-000676 │      29825 │           279 │           5 │             985 │             985 │            5 │        16281 │ 105041Vi84182          │           NULL │    20565.6206 │     1971.5149 │      616.0984 │    23153.2339 │ NULL    │ 79B65321-39CA-4115-9CBA-8FE0903E12E6 │ 2022-06-06 00:00:00 │
│        43660 │             10 │ 2022-05-30 00:00:00 │ 2022-06-11 00:00:00 │ 2022-06-06 00:00:00 │      5 │ 0000000000000000000000000000000000000000000000000000000000000000 │ SO43660          │ PO18850127500       │ 10-4020-000117 │      29672 │           279 │           5 │             921 │             921 │            5 │         5618 │ 115213Vi29411          │           NULL │     1294.2529 │      124.2483 │       38.8276 │     1457.3288 │ NULL    │ 738DC42D-D03B-48A1-9822-F95A67EA7389 │ 2022-06-06 00:00:00 │
│        43661 │             10 │ 2022-05-30 00:00:00 │ 2022-06-11 00:00:00 │ 2022-06-06 00:00:00 │      5 │ 0000000000000000000000000000000000000000000000000000000000000000 │ SO43661          │ PO18473189620       │ 10-4020-000442 │      29734 │           282 │           6 │             517 │             517 │            5 │         1346 │ 85274Vi6854            │              4 │    32726.4786 │     3153.7696 │      985.5530 │    36865.8012 │ NULL    │ D91B9131-18A4-4A11-BC3A-90B6F53E9D74 │ 2022-06-06 00:00:00 │
│        43662 │             10 │ 2022-05-30 00:00:00 │ 2022-06-11 00:00:00 │ 2022-06-06 00:00:00 │      5 │ 0000000000000000000000000000000000000000000000000000000000000000 │ SO43662          │ PO18444174044       │ 10-4020-000227 │      29994 │           282 │           6 │             482 │             482 │            5 │        10456 │ 125295Vi53935          │              4 │    28832.5289 │     2775.1646 │      867.2389 │    32474.9324 │ NULL    │ 4A1ECFC0-CC3A-4740-B028-1C50BB48711C │ 2022-06-06 00:00:00 │
│        43663 │             10 │ 2022-05-30 00:00:00 │ 2022-06-11 00:00:00 │ 2022-06-06 00:00:00 │      5 │ 0000000000000000000000000000000000000000000000000000000000000000 │ SO43663          │ PO18009186470       │ 10-4020-000510 │      29565 │           276 │           4 │            1073 │            1073 │            5 │         4322 │ 45303Vi22691           │           NULL │      419.4589 │       40.2681 │       12.5838 │      472.3108 │ NULL    │ 9B1E7A40-6AE0-4AD3-811C-A64951857C4B │ 2022-06-06 00:00:00 │
└──────────────┴────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴────────┴──────────────────────────────────────────────────────────────────┴──────────────────┴─────────────────────┴────────────────┴────────────┴───────────────┴─────────────┴─────────────────┴─────────────────┴──────────────┴──────────────┴────────────────────────┴────────────────┴───────────────┴───────────────┴───────────────┴───────────────┴─────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        31465 │
└──────────────┘

## SalesOrderHeaderSalesReason

In [48]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesOrderHeaderSalesReason (
SalesOrderID INT NOT NULL, 
SalesReasonID INT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (SalesOrderID, SalesReasonID)
);
"""

sql2 = f"""
INSERT INTO SalesOrderHeaderSalesReason
    SELECT *  FROM read_parquet('{parquet_dir}/SalesOrderHeaderSalesReason.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesOrderHeaderSalesReason LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesOrderHeaderSalesReason;")   

if on: con.close()

┌──────────────┬───────────────┬─────────────────────┐
│ SalesOrderID │ SalesReasonID │    ModifiedDate     │
│    int32     │     int32     │      timestamp      │
├──────────────┼───────────────┼─────────────────────┤
│        43697 │             5 │ 2022-05-30 00:00:00 │
│        43697 │             9 │ 2022-05-30 00:00:00 │
│        43702 │             5 │ 2022-05-31 00:00:00 │
│        43702 │             9 │ 2022-05-31 00:00:00 │
│        43703 │             5 │ 2022-05-31 00:00:00 │
└──────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        27647 │
└──────────────┘

## SalesPerson

In [49]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesPerson (
BusinessEntityID INT NOT NULL primary key, 
TerritoryID INT NULL, 
SalesQuota DECIMAL(18,4) NULL, 
Bonus DECIMAL(18,4) NOT NULL , 
CommissionPct DECIMAL(18,4) NOT NULL , 
SalesYTD DECIMAL(18,4) NOT NULL , 
SalesLastYear DECIMAL(18,4) NOT NULL , 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO SalesPerson
    SELECT *  FROM read_parquet('{parquet_dir}/SalesPerson.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesPerson LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesPerson;")   

if on: con.close()

┌──────────────────┬─────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │ TerritoryID │  SalesQuota   │     Bonus     │ CommissionPct │   SalesYTD    │ SalesLastYear │               rowguid                │    ModifiedDate     │
│      int32       │    int32    │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │               varchar                │      timestamp      │
├──────────────────┼─────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼──────────────────────────────────────┼─────────────────────┤
│              274 │        NULL │          NULL │        0.0000 │        0.0000 │   559697.5639 │        0.0000 │ 48754992-9EE0-4C0E-8C94-9451604E3E02 │ 2021-12-27 00:00:00 │
│              275 │           2 │   300000.0000 │     4100.0000 │        0.0120 │  3763178.1787 │  1750406.4785 │ 1E0A7274-3064-4F58-88EE-4C6586C87169 │ 2022-05-23 00:00:00 │
│              276 │           4 │   250000.0000 │     2000.0000 │        0.0150 │  4251368.5497 │  1439156.0291 │ 4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0 │ 2022-05-23 00:00:00 │
│              277 │           3 │   250000.0000 │     2500.0000 │        0.0150 │  3189418.3662 │  1997186.2037 │ 39012928-BFEC-4242-874D-423162C3F567 │ 2022-05-23 00:00:00 │
│              278 │           6 │   250000.0000 │      500.0000 │        0.0100 │  1453719.4653 │  1620276.8966 │ 7A0AE1AB-B283-40F9-91D1-167ABF06D720 │ 2022-05-23 00:00:00 │
└──────────────────┴─────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           17 │
└──────────────┘

## SalesPersonQuotaHistory

In [50]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesPersonQuotaHistory (
BusinessEntityID INT NOT NULL, 
QuotaDate TIMESTAMP NOT NULL, 
SalesQuota DECIMAL(18,4) NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (BusinessEntityID, QuotaDate)
);
"""

sql2 = f"""
INSERT INTO SalesPersonQuotaHistory
    SELECT *  FROM read_parquet('{parquet_dir}/SalesPersonQuotaHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesPersonQuotaHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesPersonQuotaHistory;")   

if on: con.close()

┌──────────────────┬─────────────────────┬───────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │      QuotaDate      │  SalesQuota   │               rowguid                │    ModifiedDate     │
│      int32       │      timestamp      │ decimal(18,4) │               varchar                │      timestamp      │
├──────────────────┼─────────────────────┼───────────────┼──────────────────────────────────────┼─────────────────────┤
│              274 │ 2022-05-30 00:00:00 │    28000.0000 │ 99109BBF-8693-4587-BC23-6036EC89E1BE │ 2022-04-15 00:00:00 │
│              274 │ 2022-08-30 00:00:00 │     7000.0000 │ DFD01444-8900-461C-8D6F-04598DAE01D4 │ 2022-07-16 00:00:00 │
│              274 │ 2022-11-30 00:00:00 │    91000.0000 │ 0A69F453-9689-4CCF-A08C-C644670F5668 │ 2022-10-16 00:00:00 │
│              274 │ 2023-02-28 00:00:00 │   140000.0000 │ DA8D1458-5FB9-4C3E-9EAD-8F5CE1393047 │ 2023-01-14 00:00:00 │
│              274 │ 2023-05-30 00:00:00 │    70000.0000 │ 760CEF84-B980-417B-A667-7358C38857F0 │ 2023-04-15 00:00:00 │
└──────────────────┴─────────────────────┴───────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          163 │
└──────────────┘

## SalesReason

In [51]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesReason (
SalesReasonID INT NOT NULL, 
Name TEXT NOT NULL, 
ReasonType TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO SalesReason
    SELECT *  FROM read_parquet('{parquet_dir}/SalesReason.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesReason LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesReason;")   

if on: con.close()

┌───────────────┬───────────────────────────┬────────────┬─────────────────────┐
│ SalesReasonID │           Name            │ ReasonType │    ModifiedDate     │
│     int32     │          varchar          │  varchar   │      timestamp      │
├───────────────┼───────────────────────────┼────────────┼─────────────────────┤
│             1 │ Price                     │ Other      │ 2019-04-30 00:00:00 │
│             2 │ On Promotion              │ Promotion  │ 2019-04-30 00:00:00 │
│             3 │ Magazine Advertisement    │ Marketing  │ 2019-04-30 00:00:00 │
│             4 │ Television  Advertisement │ Marketing  │ 2019-04-30 00:00:00 │
│             5 │ Manufacturer              │ Other      │ 2019-04-30 00:00:00 │
└───────────────┴───────────────────────────┴────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           10 │
└──────────────┘

## SalesTaxRate

In [52]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesTaxRate (
SalesTaxRateID INT NOT NULL primary key, 
StateProvinceID INT NOT NULL, 
TaxType UTINYINT NOT NULL, 
TaxRate DECIMAL(8, 4) NOT NULL,
Name TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO SalesTaxRate
    SELECT *  FROM read_parquet('{parquet_dir}/SalesTaxRate.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesTaxRate LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesTaxRate;")   

if on: con.close()

┌────────────────┬─────────────────┬─────────┬──────────────┬───────────────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ SalesTaxRateID │ StateProvinceID │ TaxType │   TaxRate    │                 Name                  │               rowguid                │    ModifiedDate     │
│     int32      │      int32      │  uint8  │ decimal(8,4) │                varchar                │               varchar                │      timestamp      │
├────────────────┼─────────────────┼─────────┼──────────────┼───────────────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│              1 │               1 │       1 │      14.0000 │ Canadian GST + Alberta Provincial Tax │ 683DE5DD-521A-47D4-A573-06A3CDB1BC5D │ 2019-04-30 00:00:00 │
│              2 │              57 │       1 │      14.2500 │ Canadian GST + Ontario Provincial Tax │ 05C4FFDB-4F84-4CDF-ABE5-FDF3216EA74E │ 2019-04-30 00:00:00 │
│              3 │              63 │       1 │      14.2500 │ Canadian GST + Quebec Provincial Tax  │ D4EDB557-56D7-403C-B538-4DF5E7302588 │ 2019-04-30 00:00:00 │
│              4 │               1 │       2 │       7.0000 │ Canadian GST                          │ F0D76907-B433-453F-B95E-16FCE73B807A │ 2019-04-30 00:00:00 │
│              5 │              57 │       2 │       7.0000 │ Canadian GST                          │ 7E0E97A2-878B-476F-A648-05A3DD4450ED │ 2019-04-30 00:00:00 │
└────────────────┴─────────────────┴─────────┴──────────────┴───────────────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           29 │
└──────────────┘

## SalesTerritory

In [53]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesTerritory (
TerritoryID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
CountryRegionCode TEXT NOT NULL, 
Grp TEXT NOT NULL, 
SalesYTD DECIMAL(18,4) NOT NULL, 
SalesLastYear DECIMAL(18,4) NOT NULL , 
CostYTD DECIMAL(18,4) NOT NULL , 
CostLastYear DECIMAL(18,4) NOT NULL , 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO SalesTerritory
    SELECT *  FROM read_parquet('{parquet_dir}/SalesTerritory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesTerritory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesTerritory;")   

if on: con.close()

┌─────────────┬───────────┬───────────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬──────────────────────────────────────┬─────────────────────┐
│ TerritoryID │   Name    │ CountryRegionCode │      Grp      │   SalesYTD    │ SalesLastYear │    CostYTD    │ CostLastYear  │               rowguid                │    ModifiedDate     │
│    int32    │  varchar  │      varchar      │    varchar    │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │ decimal(18,4) │               varchar                │      timestamp      │
├─────────────┼───────────┼───────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼──────────────────────────────────────┼─────────────────────┤
│           1 │ Northwest │ US                │ North America │  7887186.7882 │  3298694.4938 │        0.0000 │        0.0000 │ 43689A10-E30B-497F-B0DE-11DE20267FF7 │ 2019-04-30 00:00:00 │
│           2 │ Northeast │ US                │ North America │  2402176.8476 │  3607148.9371 │        0.0000 │        0.0000 │ 00FB7309-96CC-49E2-8363-0A1BA72486F2 │ 2019-04-30 00:00:00 │
│           3 │ Central   │ US                │ North America │  3072175.1180 │  3205014.0767 │        0.0000 │        0.0000 │ DF6E7FD8-1A8D-468C-B103-ED8ADDB452C1 │ 2019-04-30 00:00:00 │
│           4 │ Southwest │ US                │ North America │ 10510853.8739 │  5366575.7098 │        0.0000 │        0.0000 │ DC3E9EA0-7950-4431-9428-99DBCBC33865 │ 2019-04-30 00:00:00 │
│           5 │ Southeast │ US                │ North America │  2538667.2515 │  3925071.4318 │        0.0000 │        0.0000 │ 6DC4165A-5E4C-42D2-809D-4344E0AC75E7 │ 2019-04-30 00:00:00 │
└─────────────┴───────────┴───────────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           10 │
└──────────────┘

## SalesTerritoryHistory

In [54]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SalesTerritoryHistory (
BusinessEntityID INT NOT NULL /* A sales person */, 
TerritoryID INT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (BusinessEntityID, StartDate, TerritoryID)
);
"""

sql2 = f"""
INSERT INTO SalesTerritoryHistory
    SELECT *  FROM read_parquet('{parquet_dir}/SalesTerritoryHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SalesTerritoryHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SalesTerritoryHistory;")   

if on: con.close()

┌──────────────────┬─────────────┬─────────────────────┬─────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ BusinessEntityID │ TerritoryID │      StartDate      │       EndDate       │               rowguid                │    ModifiedDate     │
│      int32       │    int32    │      timestamp      │      timestamp      │               varchar                │      timestamp      │
├──────────────────┼─────────────┼─────────────────────┼─────────────────────┼──────────────────────────────────────┼─────────────────────┤
│              275 │           2 │ 2022-05-30 00:00:00 │ 2023-11-29 00:00:00 │ 8563CE6A-00FF-47D7-BA4D-3C3E1CDEF531 │ 2023-11-22 00:00:00 │
│              275 │           3 │ 2023-11-30 00:00:00 │ NULL                │ 2F44304C-EE87-4C72-813E-CA75C5F61F4C │ 2023-11-23 00:00:00 │
│              276 │           4 │ 2022-05-30 00:00:00 │ NULL                │ 64BCB1B3-A793-40BA-9859-D90F78C3F167 │ 2022-05-23 00:00:00 │
│              277 │           3 │ 2022-05-30 00:00:00 │ 2023-11-29 00:00:00 │ 3E9F893D-5142-46C9-A76A-867D1E3D6F90 │ 2023-11-22 00:00:00 │
│              277 │           2 │ 2023-11-30 00:00:00 │ NULL                │ 132E4721-32DD-4A73-B556-1837F3A2B9AE │ 2023-11-23 00:00:00 │
└──────────────────┴─────────────┴─────────────────────┴─────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           17 │
└──────────────┘

## ScrapReason

In [55]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ScrapReason (
ScrapReasonID SMALLINT NOT NULL, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ScrapReason
    SELECT *  FROM read_parquet('{parquet_dir}/ScrapReason.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ScrapReason LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ScrapReason;")   

if on: con.close()

┌───────────────┬───────────────────────────────┬─────────────────────┐
│ ScrapReasonID │             Name              │    ModifiedDate     │
│     int16     │            varchar            │      timestamp      │
├───────────────┼───────────────────────────────┼─────────────────────┤
│             1 │ Brake assembly not as ordered │ 2019-04-30 00:00:00 │
│             2 │ Color incorrect               │ 2019-04-30 00:00:00 │
│             3 │ Gouge in metal                │ 2019-04-30 00:00:00 │
│             4 │ Drill pattern incorrect       │ 2019-04-30 00:00:00 │
│             5 │ Drill size too large          │ 2019-04-30 00:00:00 │
└───────────────┴───────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           16 │
└──────────────┘

## Shift

In [56]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Shift (
ShiftID UTINYINT NOT NULL, 
Name TEXT NOT NULL, 
StartTime TIME NOT NULL, 
EndTime TIME NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Shift
    SELECT *  FROM read_parquet('{parquet_dir}/Shift.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Shift LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Shift;")   

if on: con.close()

┌─────────┬─────────┬───────────┬──────────┬─────────────────────┐
│ ShiftID │  Name   │ StartTime │ EndTime  │    ModifiedDate     │
│  uint8  │ varchar │   time    │   time   │      timestamp      │
├─────────┼─────────┼───────────┼──────────┼─────────────────────┤
│       1 │ Day     │ 07:00:00  │ 15:00:00 │ 2008-04-30 00:00:00 │
│       2 │ Evening │ 15:00:00  │ 23:00:00 │ 2008-04-30 00:00:00 │
│       3 │ Night   │ 23:00:00  │ 07:00:00 │ 2008-04-30 00:00:00 │
└─────────┴─────────┴───────────┴──────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            3 │
└──────────────┘

## ShipMethod

In [57]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ShipMethod (
ShipMethodID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
ShipBase DECIMAL(18,4) NOT NULL, 
ShipRate DECIMAL(18,4) NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ShipMethod
    SELECT *  FROM read_parquet('{parquet_dir}/ShipMethod.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ShipMethod LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ShipMethod;")   

if on: con.close()

┌──────────────┬────────────────────┬───────────────┬───────────────┬──────────────────────────────────────┬─────────────────────┐
│ ShipMethodID │        Name        │   ShipBase    │   ShipRate    │               rowguid                │    ModifiedDate     │
│    int32     │      varchar       │ decimal(18,4) │ decimal(18,4) │               varchar                │      timestamp      │
├──────────────┼────────────────────┼───────────────┼───────────────┼──────────────────────────────────────┼─────────────────────┤
│            1 │ XRQ - TRUCK GROUND │        3.9500 │        0.9900 │ 6BE756D9-D7BE-4463-8F2C-AE60C710D606 │ 2019-04-30 00:00:00 │
│            2 │ ZY - EXPRESS       │        9.9500 │        1.9900 │ 3455079B-F773-4DC6-8F1E-2A58649C4AB8 │ 2019-04-30 00:00:00 │
│            3 │ OVERSEAS - DELUXE  │       29.9500 │        2.9900 │ 22F4E461-28CF-4ACE-A980-F686CF112EC8 │ 2019-04-30 00:00:00 │
│            4 │ OVERNIGHT J-FAST   │       21.9500 │        1.2900 │ 107E8356-E7A8-463D-B60C-079FFF467F3F │ 2019-04-30 00:00:00 │
│            5 │ CARGO TRANSPORT 5  │        8.9900 │        1.4900 │ B166019A-B134-4E76-B957-2B0490C610ED │ 2019-04-30 00:00:00 │
└──────────────┴────────────────────┴───────────────┴───────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            5 │
└──────────────┘

## ShoppingCartItem

In [58]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ShoppingCartItem (
ShoppingCartItemID INT NOT NULL primary key, 
ShoppingCartID TEXT NOT NULL, 
Quantity INT NOT NULL CONSTRAINT DF_ShoppingCartItem_Quantity DEFAULT (1), 
ProductID INT NOT NULL, 
DateCreated TIMESTAMP NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO ShoppingCartItem
    SELECT *  FROM read_parquet('{parquet_dir}/ShoppingCartItem.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ShoppingCartItem LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ShoppingCartItem;")   

if on: con.close()

┌────────────────────┬────────────────┬──────────┬───────────┬─────────────────────────┬─────────────────────────┐
│ ShoppingCartItemID │ ShoppingCartID │ Quantity │ ProductID │       DateCreated       │      ModifiedDate       │
│       int32        │    varchar     │  int32   │   int32   │        timestamp        │        timestamp        │
├────────────────────┼────────────────┼──────────┼───────────┼─────────────────────────┼─────────────────────────┤
│                  2 │ 14951          │        3 │       862 │ 2024-11-08 17:54:07.603 │ 2024-11-08 17:54:07.603 │
│                  4 │ 20621          │        4 │       881 │ 2024-11-08 17:54:07.603 │ 2024-11-08 17:54:07.603 │
│                  5 │ 20621          │        7 │       874 │ 2024-11-08 17:54:07.603 │ 2024-11-08 17:54:07.603 │
└────────────────────┴────────────────┴──────────┴───────────┴─────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            3 │
└──────────────┘

## SpecialOffer

In [59]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SpecialOffer (
SpecialOfferID INT NOT NULL primary key, 
Description TEXT NOT NULL, 
DiscountPct DECIMAL(18,4) NOT NULL , 
Type TEXT NOT NULL, 
Category TEXT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NOT NULL, 
MinQty INT NOT NULL, 
MaxQty INT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO SpecialOffer
    SELECT *  FROM read_parquet('{parquet_dir}/SpecialOffer.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SpecialOffer LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SpecialOffer;")   

if on: con.close()

┌────────────────┬──────────────────────────┬───────────────┬─────────────────┬─────────────┬─────────────────────┬─────────────────────┬────────┬────────┬──────────────────────────────────────┬─────────────────────┐
│ SpecialOfferID │       Description        │  DiscountPct  │      Type       │  Category   │      StartDate      │       EndDate       │ MinQty │ MaxQty │               rowguid                │    ModifiedDate     │
│     int32      │         varchar          │ decimal(18,4) │     varchar     │   varchar   │      timestamp      │      timestamp      │ int32  │ int32  │               varchar                │      timestamp      │
├────────────────┼──────────────────────────┼───────────────┼─────────────────┼─────────────┼─────────────────────┼─────────────────────┼────────┼────────┼──────────────────────────────────────┼─────────────────────┤
│              1 │ No Discount              │        0.0000 │ No Discount     │ No Discount │ 2022-04-30 00:00:00 │ 2025-11-29 00:00:00 │      0 │   NULL │ 0290C4F5-191F-4337-AB6B-0A2DDE03CBF9 │ 2022-03-31 00:00:00 │
│              2 │ Volume Discount 11 to 14 │        0.0200 │ Volume Discount │ Reseller    │ 2022-05-30 00:00:00 │ 2025-05-29 00:00:00 │     11 │     14 │ D7542EE7-15DB-4541-985C-5CC27AEF26D6 │ 2022-04-30 00:00:00 │
│              3 │ Volume Discount 15 to 24 │        0.0500 │ Volume Discount │ Reseller    │ 2022-05-30 00:00:00 │ 2025-05-29 00:00:00 │     15 │     24 │ 4BDBCC01-8CF7-40A9-B643-40EC5B717491 │ 2022-04-30 00:00:00 │
│              4 │ Volume Discount 25 to 40 │        0.1000 │ Volume Discount │ Reseller    │ 2022-05-30 00:00:00 │ 2025-05-29 00:00:00 │     25 │     40 │ 504B5E85-8F3F-4EBC-9E1D-C1BC5DEA9AA8 │ 2022-04-30 00:00:00 │
│              5 │ Volume Discount 41 to 60 │        0.1500 │ Volume Discount │ Reseller    │ 2022-05-30 00:00:00 │ 2025-05-29 00:00:00 │     41 │     60 │ 677E1D9D-944F-4E81-90E8-47EB0A82D48C │ 2022-04-30 00:00:00 │
└────────────────┴──────────────────────────┴───────────────┴─────────────────┴─────────────┴─────────────────────┴─────────────────────┴────────┴────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           16 │
└──────────────┘

## SpecialOfferProduct

In [60]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE SpecialOfferProduct (
SpecialOfferID INT NOT NULL, 
ProductID INT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (SpecialOfferID, ProductID)
);
"""

sql2 = f"""
INSERT INTO SpecialOfferProduct
    SELECT *  FROM read_parquet('{parquet_dir}/SpecialOfferProduct.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM SpecialOfferProduct LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM SpecialOfferProduct;")   

if on: con.close()

┌────────────────┬───────────┬──────────────────────────────────────┬─────────────────────┐
│ SpecialOfferID │ ProductID │               rowguid                │    ModifiedDate     │
│     int32      │   int32   │               varchar                │      timestamp      │
├────────────────┼───────────┼──────────────────────────────────────┼─────────────────────┤
│              1 │       680 │ BB30B868-D86C-4557-8DB2-4B2D0A83A0FB │ 2022-03-31 00:00:00 │
│              1 │       706 │ B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F │ 2022-03-31 00:00:00 │
│              1 │       707 │ 27B711FE-0B77-4EA4-AD1A-7C239956BEF4 │ 2022-03-31 00:00:00 │
│              1 │       708 │ 46CBB78B-246E-4D69-9BD6-E521277C1078 │ 2022-03-31 00:00:00 │
│              1 │       709 │ CF102AA0-055F-4D2B-8B98-04B161758EA8 │ 2022-03-31 00:00:00 │
└────────────────┴───────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          538 │
└──────────────┘

## StateProvince

In [61]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE StateProvince (
StateProvinceID INT NOT NULL primary key, 
StateProvinceCode TEXT NOT NULL, 
CountryRegionCode TEXT NOT NULL, 
IsOnlyStateProvinceFlag BIT NOT NULL , 
Name TEXT NOT NULL, 
TerritoryID INT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO StateProvince
    SELECT *  FROM read_parquet('{parquet_dir}/StateProvince.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM StateProvince LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM StateProvince;")   

if on: con.close()

┌─────────────────┬───────────────────┬───────────────────┬──────────────────────────────────────────────────────────────────┬────────────────┬─────────────┬──────────────────────────────────────┬─────────────────────────┐
│ StateProvinceID │ StateProvinceCode │ CountryRegionCode │                     IsOnlyStateProvinceFlag                      │      Name      │ TerritoryID │               rowguid                │      ModifiedDate       │
│      int32      │      varchar      │      varchar      │                               bit                                │    varchar     │    int32    │               varchar                │        timestamp        │
├─────────────────┼───────────────────┼───────────────────┼──────────────────────────────────────────────────────────────────┼────────────────┼─────────────┼──────────────────────────────────────┼─────────────────────────┤
│               1 │ AB                │ CA                │ 0000000000000000000000000000000000000000000000000000000000000000 │ Alberta        │           6 │ 298C2880-AB1C-4982-A5AD-A36EB4BA0D34 │ 2025-02-07 10:17:21.587 │
│               2 │ AK                │ US                │ 0000000000000000000000000000000000000000000000000000000000000000 │ Alaska         │           1 │ 5B7B8462-A888-4E0B-A3E1-7278F8AF107E │ 2025-02-07 10:17:21.587 │
│               3 │ AL                │ US                │ 0000000000000000000000000000000000000000000000000000000000000000 │ Alabama        │           5 │ 41B328BE-21AE-45D0-841D-6F8DD71CE626 │ 2025-02-07 10:17:21.587 │
│               4 │ AR                │ US                │ 0000000000000000000000000000000000000000000000000000000000000000 │ Arkansas       │           3 │ 54656A80-06F2-4C70-BA10-247179FC246E │ 2025-02-07 10:17:21.587 │
│               5 │ AS                │ AS                │ 0000000000000000000000000000000000000000000000000000000000000001 │ American Samoa │           1 │ 255D15E1-9F6E-4CF8-9E5F-6B3858AD9B6A │ 2025-02-07 10:17:21.587 │
└─────────────────┴───────────────────┴───────────────────┴──────────────────────────────────────────────────────────────────┴────────────────┴─────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          181 │
└──────────────┘

## Store

In [62]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Store (
BusinessEntityID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
SalesPersonID INT NULL, 
Demographics TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Store
    SELECT * exclude(column5), replace(column5, '&|', '')  FROM read_parquet('{parquet_dir}/Store.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Store LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Store;")   

if on: con.close()

┌──────────────────┬────────────────────────────────┬───────────────┬────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │              Name              │ SalesPersonID │                                                                                                                                                                                                              Demographics                                                                                                                                                                                                              │               rowguid                │      ModifiedDate       │
│      int32       │            varchar             │     int32     │                                                                                                                                                                                                                varchar                                                                                                                                                                                                                 │               varchar                │        timestamp        │
├──────────────────┼────────────────────────────────┼───────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────────┤
│              292 │ Next-Door Bike Store           │           279 │ <StoreSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/StoreSurvey"><AnnualSales>800000</AnnualSales><AnnualRevenue>80000</AnnualRevenue><BankName>United Security</BankName><BusinessType>BM</BusinessType><YearOpened>1996</YearOpened><Specialty>Mountain</Specialty><SquareFeet>21000</SquareFeet><Brands>2</Brands><Internet>ISDN</Internet><NumberEmployees>13</NumberEmployees></StoreSurvey>       │ A22517E3-848D-4EBE-B9D9-7437F3432304 │ 2025-09-11 11:15:07.497 │
│              294 │ Professional Sales and Service │           276 │ <StoreSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/StoreSurvey"><AnnualSales>800000</AnnualSales><AnnualRevenue>80000</AnnualRevenue><BankName>International Bank</BankName><BusinessType>BM</BusinessType><YearOpened>1991</YearOpened><Specialty>Touring</Specialty><SquareFeet>18000</SquareFeet><Brands>4+</Brands><Internet>T1</Internet><NumberEmployees>14</NumberEmployees></StoreSurvey>      │ B50CA50B-C601-4A13-B07E-2C63862D71B4 │ 2025-09-11 11:15:07.497 │
│              296 │ Riders Company                 │           277 │ <StoreSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/StoreSurvey"><AnnualSales>800000</AnnualSales><AnnualRevenue>80000</AnnualRevenue><BankName>Primary Bank &amp; Reserve</BankName><BusinessType>BM</BusinessType><YearOpened>1999</YearOpened><Specialty>Road</Specialty><SquareFeet>21000</SquareFeet><Brands>2</Brands><Internet>DSL</Internet><NumberEmployees>15</NumberEmployees></StoreSurvey> │ 337C3688-1339-4E1A-A08A-B54B23566E49 │ 2025-09-11 11:15:07.497 │
│              298 │ The Bike Mechanics             │           275 │ <StoreSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/StoreSurvey"><AnnualSales>800000</AnnualSales><AnnualRevenue>80000</AnnualRevenue><BankName>International Security</BankName><BusinessType>BM</BusinessType><YearOpened>1994</YearOpened><Specialty>Mountain</Specialty><SquareFeet>18000</SquareFeet><Brands>2</Brands><Internet>DSL</Internet><NumberEmployees>16</NumberEmployees></StoreSurvey> │ 7894F278-F0C8-4D16-BD75-213FDBF13023 │ 2025-09-11 11:15:07.497 │
│              300 │ Nationwide Supply              │           286 │ <StoreSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/StoreSurvey"><AnnualSales>800000</AnnualSales><AnnualRevenue>80000</AnnualRevenue><BankName>Guardian Bank</BankName><BusinessType>BM</BusinessType><YearOpened>1987</YearOpened><Specialty>Touring</Specialty><SquareFeet>21000</SquareFeet><Brands>4+</Brands><Internet>DSL</Internet><NumberEmployees>17</NumberEmployees></StoreSurvey>          │ C3FC9705-A8C4-4F3A-9550-EB2FA4B7B64D │ 2025-09-11 11:15:07.497 │
└──────────────────┴────────────────────────────────┴───────────────┴────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          701 │
└──────────────┘

## TransactionHistory

In [63]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE TransactionHistory (
TransactionID INT NOT NULL, 
ProductID INT NOT NULL, 
ReferenceOrderID INT NOT NULL, 
ReferenceOrderLineID INT NOT NULL , 
TransactionDate TIMESTAMP NOT NULL, 
TransactionType TEXT NOT NULL, 
Quantity INT NOT NULL, 
ActualCost DECIMAL(18, 4) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (TransactionID)
);
"""

sql2 = f"""
INSERT INTO TransactionHistory
    SELECT *  FROM read_parquet('{parquet_dir}/TransactionHistory.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM TransactionHistory LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM TransactionHistory;")   

if on: con.close()

┌───────────────┬───────────┬──────────────────┬──────────────────────┬─────────────────────┬─────────────────┬──────────┬───────────────┬─────────────────────┐
│ TransactionID │ ProductID │ ReferenceOrderID │ ReferenceOrderLineID │   TransactionDate   │ TransactionType │ Quantity │  ActualCost   │    ModifiedDate     │
│     int32     │   int32   │      int32       │        int32         │      timestamp      │     varchar     │  int32   │ decimal(18,4) │      timestamp      │
├───────────────┼───────────┼──────────────────┼──────────────────────┼─────────────────────┼─────────────────┼──────────┼───────────────┼─────────────────────┤
│        100000 │       784 │            41590 │                    0 │ 2024-07-30 00:00:00 │ W               │        2 │        0.0000 │ 2024-07-30 00:00:00 │
│        100001 │       794 │            41591 │                    0 │ 2024-07-30 00:00:00 │ W               │        1 │        0.0000 │ 2024-07-30 00:00:00 │
│        100002 │       797 │            41592 │                    0 │ 2024-07-30 00:00:00 │ W               │        1 │        0.0000 │ 2024-07-30 00:00:00 │
│        100003 │       798 │            41593 │                    0 │ 2024-07-30 00:00:00 │ W               │        1 │        0.0000 │ 2024-07-30 00:00:00 │
│        100004 │       799 │            41594 │                    0 │ 2024-07-30 00:00:00 │ W               │        1 │        0.0000 │ 2024-07-30 00:00:00 │
└───────────────┴───────────┴──────────────────┴──────────────────────┴─────────────────────┴─────────────────┴──────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       113443 │
└──────────────┘

## TransactionHistoryArchive

In [64]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE TransactionHistoryArchive (
TransactionID INT NOT NULL primary key, 
ProductID INT NOT NULL, 
ReferenceOrderID INT NOT NULL, 
ReferenceOrderLineID INT NOT NULL CONSTRAINT DF_TransactionHistoryArchive_ReferenceOrderLineID DEFAULT (0), 
TransactionDate TIMESTAMP NOT NULL, 
TransactionType TEXT NOT NULL, 
Quantity INT NOT NULL, 
ActualCost DECIMAL(18, 4) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO TransactionHistoryArchive
    SELECT *  FROM read_parquet('{parquet_dir}/TransactionHistoryArchive.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM TransactionHistoryArchive LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM TransactionHistoryArchive;")   

if on: con.close()

┌───────────────┬───────────┬──────────────────┬──────────────────────┬─────────────────────┬─────────────────┬──────────┬───────────────┬─────────────────────┐
│ TransactionID │ ProductID │ ReferenceOrderID │ ReferenceOrderLineID │   TransactionDate   │ TransactionType │ Quantity │  ActualCost   │    ModifiedDate     │
│     int32     │   int32   │      int32       │        int32         │      timestamp      │     varchar     │  int32   │ decimal(18,4) │      timestamp      │
├───────────────┼───────────┼──────────────────┼──────────────────────┼─────────────────────┼─────────────────┼──────────┼───────────────┼─────────────────────┤
│             1 │         1 │                1 │                    1 │ 2022-04-15 00:00:00 │ P               │        4 │       50.2600 │ 2022-04-15 00:00:00 │
│             2 │       359 │                2 │                    1 │ 2022-04-15 00:00:00 │ P               │        3 │       45.1200 │ 2022-04-15 00:00:00 │
│             3 │       360 │                2 │                    2 │ 2022-04-15 00:00:00 │ P               │        3 │       45.5805 │ 2022-04-15 00:00:00 │
│             4 │       530 │                3 │                    1 │ 2022-04-15 00:00:00 │ P               │      550 │       16.0860 │ 2022-04-15 00:00:00 │
│             5 │         4 │                4 │                    1 │ 2022-04-15 00:00:00 │ P               │        3 │       57.0255 │ 2022-04-15 00:00:00 │
└───────────────┴───────────┴──────────────────┴──────────────────────┴─────────────────────┴─────────────────┴──────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        89253 │
└──────────────┘

## Vendor

In [65]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Vendor (
BusinessEntityID INT NOT NULL primary key, 
AccountNumber TEXT NOT NULL, 
Name TEXT NOT NULL, 
CreditRating UTINYINT NOT NULL, 
PreferredVendorStatus BIT NOT NULL, 
ActiveFlag BIT NOT NULL , 
PurchasingWebServiceURL TEXT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Vendor
    SELECT *  FROM read_parquet('{parquet_dir}/Vendor.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Vendor LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Vendor;")   

if on: con.close()

┌──────────────────┬───────────────┬─────────────────────────┬──────────────┬──────────────────────────────────────────────────────────────────┬──────────────────────────────────────────────────────────────────┬─────────────────────────┬─────────────────────┐
│ BusinessEntityID │ AccountNumber │          Name           │ CreditRating │                      PreferredVendorStatus                       │                            ActiveFlag                            │ PurchasingWebServiceURL │    ModifiedDate     │
│      int32       │    varchar    │         varchar         │    uint8     │                               bit                                │                               bit                                │         varchar         │      timestamp      │
├──────────────────┼───────────────┼─────────────────────────┼──────────────┼──────────────────────────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────┼─────────────────────────┼─────────────────────┤
│             1492 │ AUSTRALI0001  │ Australia Bike Retailer │            1 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000001 │ NULL                    │ 2022-12-22 00:00:00 │
│             1494 │ ALLENSON0001  │ Allenson Cycles         │            2 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000001 │ NULL                    │ 2022-04-24 00:00:00 │
│             1496 │ ADVANCED0001  │ Advanced Bicycles       │            1 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000001 │ NULL                    │ 2022-04-24 00:00:00 │
│             1498 │ TRIKES0001    │ Trikes, Inc.            │            2 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000001 │ NULL                    │ 2023-02-02 00:00:00 │
│             1500 │ MORGANB0001   │ Morgan Bike Accessories │            1 │ 0000000000000000000000000000000000000000000000000000000000000001 │ 0000000000000000000000000000000000000000000000000000000000000001 │ NULL                    │ 2023-02-01 00:00:00 │
└──────────────────┴───────────────┴─────────────────────────┴──────────────┴──────────────────────────────────────────────────────────────────┴──────────────────────────────────────────────────────────────────┴─────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          104 │
└──────────────┘

## WorkOrder

In [66]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE WorkOrder (
WorkOrderID INT NOT NULL primary key, 
ProductID INT NOT NULL, 
OrderQty INT NOT NULL, 
StockedQty INT NOT NULL, 
ScrappedQty SMALLINT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NULL, 
DueDate TIMESTAMP NOT NULL, 
ScrapReasonID SMALLINT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO WorkOrder
    SELECT *  FROM read_parquet('{parquet_dir}/WorkOrder.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM WorkOrder LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM WorkOrder;")   

if on: con.close()

┌─────────────┬───────────┬──────────┬────────────┬─────────────┬─────────────────────┬─────────────────────┬─────────────────────┬───────────────┬─────────────────────┐
│ WorkOrderID │ ProductID │ OrderQty │ StockedQty │ ScrappedQty │      StartDate      │       EndDate       │       DueDate       │ ScrapReasonID │    ModifiedDate     │
│    int32    │   int32   │  int32   │   int32    │    int16    │      timestamp      │      timestamp      │      timestamp      │     int16     │      timestamp      │
├─────────────┼───────────┼──────────┼────────────┼─────────────┼─────────────────────┼─────────────────────┼─────────────────────┼───────────────┼─────────────────────┤
│           1 │       722 │        8 │          8 │           0 │ 2022-06-02 00:00:00 │ 2022-06-12 00:00:00 │ 2022-06-13 00:00:00 │          NULL │ 2022-06-12 00:00:00 │
│           2 │       725 │       15 │         15 │           0 │ 2022-06-02 00:00:00 │ 2022-06-12 00:00:00 │ 2022-06-13 00:00:00 │          NULL │ 2022-06-12 00:00:00 │
│           3 │       726 │        9 │          9 │           0 │ 2022-06-02 00:00:00 │ 2022-06-12 00:00:00 │ 2022-06-13 00:00:00 │          NULL │ 2022-06-12 00:00:00 │
│           4 │       729 │       16 │         16 │           0 │ 2022-06-02 00:00:00 │ 2022-06-12 00:00:00 │ 2022-06-13 00:00:00 │          NULL │ 2022-06-12 00:00:00 │
│           5 │       730 │       14 │         14 │           0 │ 2022-06-02 00:00:00 │ 2022-06-12 00:00:00 │ 2022-06-13 00:00:00 │          NULL │ 2022-06-12 00:00:00 │
└─────────────┴───────────┴──────────┴────────────┴─────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        72591 │
└──────────────┘

## WorkOrderRouting

In [67]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE WorkOrderRouting (
WorkOrderID INT NOT NULL, 
ProductID INT NOT NULL, 
OperationSequence SMALLINT NOT NULL, 
LocationID SMALLINT NOT NULL, 
ScheduledStartDate TIMESTAMP NOT NULL, 
ScheduledEndDate TIMESTAMP NOT NULL, 
ActualStartDate TIMESTAMP NULL, 
ActualEndDate TIMESTAMP NULL, 
ActualResourceHrs DECIMAL(9, 4) NULL, 
PlannedCost DECIMAL(18, 4) NOT NULL, 
ActualCost DECIMAL(18, 4) NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
primary key (WorkOrderID, ProductID, OperationSequence)
);
"""

sql2 = f"""
INSERT INTO WorkOrderRouting
    SELECT *  FROM read_parquet('{parquet_dir}/WorkOrderRouting.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM WorkOrderRouting LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM WorkOrderRouting;")   

if on: con.close()

┌─────────────┬───────────┬───────────────────┬────────────┬─────────────────────┬─────────────────────┬─────────────────────┬─────────────────────┬───────────────────┬───────────────┬───────────────┬─────────────────────┐
│ WorkOrderID │ ProductID │ OperationSequence │ LocationID │ ScheduledStartDate  │  ScheduledEndDate   │   ActualStartDate   │    ActualEndDate    │ ActualResourceHrs │  PlannedCost  │  ActualCost   │    ModifiedDate     │
│    int32    │   int32   │       int16       │   int16    │      timestamp      │      timestamp      │      timestamp      │      timestamp      │   decimal(9,4)    │ decimal(18,4) │ decimal(18,4) │      timestamp      │
├─────────────┼───────────┼───────────────────┼────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼───────────────────┼───────────────┼───────────────┼─────────────────────┤
│          13 │       747 │                 1 │         10 │ 2022-06-02 00:00:00 │ 2022-06-13 00:00:00 │ 2022-06-02 00:00:00 │ 2022-06-18 00:00:00 │            4.1000 │       92.2500 │       92.2500 │ 2022-06-18 00:00:00 │
│          13 │       747 │                 2 │         20 │ 2022-06-02 00:00:00 │ 2022-06-13 00:00:00 │ 2022-06-02 00:00:00 │ 2022-06-18 00:00:00 │            3.5000 │       87.5000 │       87.5000 │ 2022-06-18 00:00:00 │
│          13 │       747 │                 3 │         30 │ 2022-06-02 00:00:00 │ 2022-06-13 00:00:00 │ 2022-06-02 00:00:00 │ 2022-06-18 00:00:00 │            1.0000 │       14.5000 │       14.5000 │ 2022-06-18 00:00:00 │
│          13 │       747 │                 4 │         40 │ 2022-06-02 00:00:00 │ 2022-06-13 00:00:00 │ 2022-06-02 00:00:00 │ 2022-06-18 00:00:00 │            2.0000 │       31.5000 │       31.5000 │ 2022-06-18 00:00:00 │
│          13 │       747 │                 6 │         50 │ 2022-06-02 00:00:00 │ 2022-06-13 00:00:00 │ 2022-06-02 00:00:00 │ 2022-06-18 00:00:00 │            3.0000 │       36.7500 │       36.7500 │ 2022-06-18 00:00:00 │
└─────────────┴───────────┴───────────────────┴────────────┴─────────────────────┴─────────────────────┴─────────────────────┴─────────────────────┴───────────────────┴───────────────┴───────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        67131 │
└──────────────┘

In [68]:
print(duckdb_schema(con))

Table: Address (AddressID INTEGER NOT NULL, AddressLine1 VARCHAR NOT NULL, AddressLine2 VARCHAR NULL, City VARCHAR NOT NULL, StateProvinceID INTEGER NOT NULL, PostalCode VARCHAR NOT NULL, SpatialLocation VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: AddressType (AddressTypeID INTEGER NOT NULL, Name VARCHAR NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: BillOfMaterials (BillOfMaterialsID INTEGER NOT NULL, ProductAssemblyID INTEGER NULL, ComponentID INTEGER NOT NULL, StartDate TIMESTAMP NOT NULL, EndDate TIMESTAMP NULL, UnitMeasureCode VARCHAR NOT NULL, BOMLevel SMALLINT NOT NULL, PerAssemblyQty DECIMAL(8,2) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: BusinessEntity (BusinessEntityID INTEGER NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: BusinessEntityAddress (BusinessEntityID INTEGER NOT NULL, AddressID INTEGER NOT NULL, AddressTypeID INTEGER NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: BusinessEntityContact (BusinessEntityID INTEGER NOT NULL, PersonID INTEGER NOT NULL, ContactTypeID INTEGER NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ContactType (ContactTypeID INTEGER NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: CountryRegion (CountryRegionCode VARCHAR NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: CountryRegionCurrency (CountryRegionCode VARCHAR NOT NULL, CurrencyCode VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: CreditCard (CreditCardID INTEGER NOT NULL, CardType VARCHAR NOT NULL, CardNumber VARCHAR NOT NULL, ExpMonth UTINYINT NOT NULL, ExpYear SMALLINT NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Culture (CultureID VARCHAR NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Currency (CurrencyCode VARCHAR NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: CurrencyRate (CurrencyRateID INTEGER NOT NULL, CurrencyRateDate TIMESTAMP NOT NULL, FromCurrencyCode VARCHAR NOT NULL, ToCurrencyCode VARCHAR NOT NULL, AverageRate DECIMAL(18,4) NOT NULL, EndOfDayRate DECIMAL(18,4) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Customer (CustomerID INTEGER NOT NULL, PersonID INTEGER NULL, StoreID INTEGER NULL, TerritoryID INTEGER NULL, AccountNumber VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Department (DepartmentID SMALLINT NOT NULL, Name VARCHAR NOT NULL, GroupName VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: EmailAddress (BusinessEntityID INTEGER NOT NULL, EmailAddressID INTEGER NOT NULL, EmailAddress VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Employee (BusinessEntityID INTEGER NOT NULL, NationalIDNumber VARCHAR NOT NULL, LoginID VARCHAR NOT NULL, OrganizationNode VARCHAR NULL, OrganizationLevel INTEGER NULL, JobTitle VARCHAR NOT NULL, BirthDate DATE NOT NULL, MaritalStatus VARCHAR NOT NULL, Gender VARCHAR NOT NULL, HireDate DATE NOT NULL, SalariedFlag BIT NOT NULL, VacationHours SMALLINT NOT NULL, SickLeaveHours SMALLINT NOT NULL, CurrentFlag BIT NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: EmployeeDepartmentHistory (BusinessEntityID INTEGER NOT NULL, DepartmentID SMALLINT NOT NULL, ShiftID UTINYINT NOT NULL, StartDate DATE NOT NULL, EndDate DATE NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: EmployeePayHistory (BusinessEntityID INTEGER NOT NULL, RateChangeDate TIMESTAMP NOT NULL, Rate DECIMAL(18,4) NOT NULL, PayFrequency UTINYINT NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Location (LocationID SMALLINT NOT NULL, Name VARCHAR NOT NULL, CostRate DECIMAL(18,4) NOT NULL, Availability DECIMAL(8,2) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Password (BusinessEntityID INTEGER NOT NULL, PasswordHash VARCHAR NOT NULL, PasswordSalt VARCHAR NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Person (BusinessEntityID INTEGER NOT NULL, PersonType VARCHAR NOT NULL, NameStyle BIT NOT NULL, Title VARCHAR NULL, FirstName VARCHAR NOT NULL, MiddleName VARCHAR NULL, LastName VARCHAR NOT NULL, Suffix VARCHAR NULL, EmailPromotion INTEGER NOT NULL, AdditionalContactInfo VARCHAR NULL, Demographics VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: PersonCreditCard (BusinessEntityID INTEGER NOT NULL, CreditCardID INTEGER NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: PersonPhone (BusinessEntityID INTEGER NOT NULL, PhoneNumber VARCHAR NOT NULL, PhoneNumberTypeID INTEGER NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: PhoneNumberType (PhoneNumberTypeID INTEGER NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Product (ProductID INTEGER NOT NULL, Name VARCHAR NOT NULL, ProductNumber VARCHAR NOT NULL, MakeFlag BIT NOT NULL, FinishedGoodsFlag BIT NOT NULL, Color VARCHAR NULL, SafetyStockLevel SMALLINT NOT NULL, ReorderPoint SMALLINT NOT NULL, StandardCost DECIMAL(18,4) NOT NULL, ListPrice DECIMAL(18,4) NOT NULL, Size VARCHAR NULL, SizeUnitMeasureCode VARCHAR NULL, WeightUnitMeasureCode VARCHAR NULL, Weight DECIMAL(8,2) NULL, DaysToManufacture INTEGER NOT NULL, ProductLine VARCHAR NULL, Class VARCHAR NULL, Style VARCHAR NULL, ProductSubcategoryID INTEGER NULL, ProductModelID INTEGER NULL, SellStartDate TIMESTAMP NOT NULL, SellEndDate TIMESTAMP NULL, DiscontinuedDate TIMESTAMP NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductCategory (ProductCategoryID INTEGER NOT NULL, Name VARCHAR NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductCostHistory (ProductID INTEGER NOT NULL, StartDate TIMESTAMP NOT NULL, EndDate TIMESTAMP NULL, StandardCost DECIMAL(18,4) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductDescription (ProductDescriptionID INTEGER NOT NULL, Description VARCHAR NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductDocument (ProductID INTEGER NOT NULL, DocumentNode VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductInventory (ProductID INTEGER NOT NULL, LocationID SMALLINT NOT NULL, Shelf VARCHAR NOT NULL, Bin UTINYINT NOT NULL, Quantity SMALLINT NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductListPriceHistory (ProductID INTEGER NOT NULL, StartDate TIMESTAMP NOT NULL, EndDate TIMESTAMP NULL, ListPrice DECIMAL(18,4) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductModel (ProductModelID INTEGER NOT NULL, Name VARCHAR NOT NULL, CatalogDescription VARCHAR NULL, Instructions VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductModelIllustration (ProductModelID INTEGER NOT NULL, IllustrationID INTEGER NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductModelProductDescriptionCulture (ProductModelID INTEGER NOT NULL, ProductDescriptionID INTEGER NOT NULL, CultureID VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductSubcategory (ProductSubcategoryID INTEGER NOT NULL, ProductCategoryID INTEGER NOT NULL, Name VARCHAR NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ProductVendor (ProductID INTEGER NOT NULL, BusinessEntityID INTEGER NOT NULL, AverageLeadTime INTEGER NOT NULL, StandardPrice DECIMAL(18,4) NOT NULL, LastReceiptCost DECIMAL(18,4) NULL, LastReceiptDate TIMESTAMP NULL, MinOrderQty INTEGER NOT NULL, MaxOrderQty INTEGER NOT NULL, OnOrderQty INTEGER NULL, UnitMeasureCode VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: PurchaseOrderDetail (PurchaseOrderID INTEGER NOT NULL, PurchaseOrderDetailID INTEGER NOT NULL, DueDate TIMESTAMP NOT NULL, OrderQty SMALLINT NOT NULL, ProductID INTEGER NOT NULL, UnitPrice DECIMAL(18,4) NOT NULL, LineTotal DECIMAL(18,4) NULL, ReceivedQty DECIMAL(8,2) NOT NULL, RejectedQty DECIMAL(8,2) NOT NULL, StockedQty DECIMAL(8,2) NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: PurchaseOrderHeader (PurchaseOrderID INTEGER NOT NULL, RevisionNumber UTINYINT NOT NULL, Status UTINYINT NOT NULL, EmployeeID INTEGER NOT NULL, VendorID INTEGER NOT NULL, ShipMethodID INTEGER NOT NULL, OrderDate TIMESTAMP NOT NULL, ShipDate TIMESTAMP NULL, SubTotal DECIMAL(18,4) NOT NULL, TaxAmt DECIMAL(18,4) NOT NULL, Freight DECIMAL(18,4) NOT NULL, TotalDue DECIMAL(18,4) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesOrderDetail (SalesOrderID INTEGER NOT NULL, SalesOrderDetailID INTEGER NOT NULL, CarrierTrackingNumber VARCHAR NULL, OrderQty SMALLINT NOT NULL, ProductID INTEGER NOT NULL, SpecialOfferID INTEGER NOT NULL, UnitPrice DECIMAL(18,4) NOT NULL, UnitPriceDiscount DECIMAL(18,4) NOT NULL, LineTotal DECIMAL(18,4) NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesOrderHeader (SalesOrderID INTEGER NOT NULL, RevisionNumber UTINYINT NOT NULL, OrderDate TIMESTAMP NOT NULL, DueDate TIMESTAMP NOT NULL, ShipDate TIMESTAMP NULL, Status UTINYINT NOT NULL, OnlineOrderFlag BIT NOT NULL, SalesOrderNumber VARCHAR NOT NULL, PurchaseOrderNumber VARCHAR NULL, AccountNumber VARCHAR NULL, CustomerID INTEGER NOT NULL, SalesPersonID INTEGER NULL, TerritoryID INTEGER NULL, BillToAddressID INTEGER NOT NULL, ShipToAddressID INTEGER NOT NULL, ShipMethodID INTEGER NOT NULL, CreditCardID INTEGER NULL, CreditCardApprovalCode VARCHAR NULL, CurrencyRateID INTEGER NULL, SubTotal DECIMAL(18,4) NOT NULL, TaxAmt DECIMAL(18,4) NOT NULL, Freight DECIMAL(18,4) NOT NULL, TotalDue DECIMAL(18,4) NOT NULL, Comment VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesOrderHeaderSalesReason (SalesOrderID INTEGER NOT NULL, SalesReasonID INTEGER NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesPerson (BusinessEntityID INTEGER NOT NULL, TerritoryID INTEGER NULL, SalesQuota DECIMAL(18,4) NULL, Bonus DECIMAL(18,4) NOT NULL, CommissionPct DECIMAL(18,4) NOT NULL, SalesYTD DECIMAL(18,4) NOT NULL, SalesLastYear DECIMAL(18,4) NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesPersonQuotaHistory (BusinessEntityID INTEGER NOT NULL, QuotaDate TIMESTAMP NOT NULL, SalesQuota DECIMAL(18,4) NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesReason (SalesReasonID INTEGER NOT NULL, Name VARCHAR NOT NULL, ReasonType VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesTaxRate (SalesTaxRateID INTEGER NOT NULL, StateProvinceID INTEGER NOT NULL, TaxType UTINYINT NOT NULL, TaxRate DECIMAL(8,4) NOT NULL, Name VARCHAR NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesTerritory (TerritoryID INTEGER NOT NULL, Name VARCHAR NOT NULL, CountryRegionCode VARCHAR NOT NULL, Grp VARCHAR NOT NULL, SalesYTD DECIMAL(18,4) NOT NULL, SalesLastYear DECIMAL(18,4) NOT NULL, CostYTD DECIMAL(18,4) NOT NULL, CostLastYear DECIMAL(18,4) NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SalesTerritoryHistory (BusinessEntityID INTEGER NOT NULL, TerritoryID INTEGER NOT NULL, StartDate TIMESTAMP NOT NULL, EndDate TIMESTAMP NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ScrapReason (ScrapReasonID SMALLINT NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Shift (ShiftID UTINYINT NOT NULL, Name VARCHAR NOT NULL, StartTime TIME NOT NULL, EndTime TIME NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ShipMethod (ShipMethodID INTEGER NOT NULL, Name VARCHAR NOT NULL, ShipBase DECIMAL(18,4) NOT NULL, ShipRate DECIMAL(18,4) NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: ShoppingCartItem (ShoppingCartItemID INTEGER NOT NULL, ShoppingCartID VARCHAR NOT NULL, Quantity INTEGER NOT NULL, ProductID INTEGER NOT NULL, DateCreated TIMESTAMP NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SpecialOffer (SpecialOfferID INTEGER NOT NULL, Description VARCHAR NOT NULL, DiscountPct DECIMAL(18,4) NOT NULL, Type VARCHAR NOT NULL, Category VARCHAR NOT NULL, StartDate TIMESTAMP NOT NULL, EndDate TIMESTAMP NOT NULL, MinQty INTEGER NOT NULL, MaxQty INTEGER NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: SpecialOfferProduct (SpecialOfferID INTEGER NOT NULL, ProductID INTEGER NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: StateProvince (StateProvinceID INTEGER NOT NULL, StateProvinceCode VARCHAR NOT NULL, CountryRegionCode VARCHAR NOT NULL, IsOnlyStateProvinceFlag BIT NOT NULL, Name VARCHAR NOT NULL, TerritoryID INTEGER NOT NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Store (BusinessEntityID INTEGER NOT NULL, Name VARCHAR NOT NULL, SalesPersonID INTEGER NULL, Demographics VARCHAR NULL, rowguid VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: TransactionHistory (TransactionID INTEGER NOT NULL, ProductID INTEGER NOT NULL, ReferenceOrderID INTEGER NOT NULL, ReferenceOrderLineID INTEGER NOT NULL, TransactionDate TIMESTAMP NOT NULL, TransactionType VARCHAR NOT NULL, Quantity INTEGER NOT NULL, ActualCost DECIMAL(18,4) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: TransactionHistoryArchive (TransactionID INTEGER NOT NULL, ProductID INTEGER NOT NULL, ReferenceOrderID INTEGER NOT NULL, ReferenceOrderLineID INTEGER NOT NULL, TransactionDate TIMESTAMP NOT NULL, TransactionType VARCHAR NOT NULL, Quantity INTEGER NOT NULL, ActualCost DECIMAL(18,4) NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: UnitMeasure (UnitMeasureCode VARCHAR NOT NULL, Name VARCHAR NOT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: Vendor (BusinessEntityID INTEGER NOT NULL, AccountNumber VARCHAR NOT NULL, Name VARCHAR NOT NULL, CreditRating UTINYINT NOT NULL, PreferredVendorStatus BIT NOT NULL, ActiveFlag BIT NOT NULL, PurchasingWebServiceURL VARCHAR NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: WorkOrder (WorkOrderID INTEGER NOT NULL, ProductID INTEGER NOT NULL, OrderQty INTEGER NOT NULL, StockedQty INTEGER NOT NULL, ScrappedQty SMALLINT NOT NULL, StartDate TIMESTAMP NOT NULL, EndDate TIMESTAMP NULL, DueDate TIMESTAMP NOT NULL, ScrapReasonID SMALLINT NULL, ModifiedDate TIMESTAMP NOT NULL)
Table: WorkOrderRouting (WorkOrderID INTEGER NOT NULL, ProductID INTEGER NOT NULL, OperationSequence SMALLINT NOT NULL, LocationID SMALLINT NOT NULL, ScheduledStartDate TIMESTAMP NOT NULL, ScheduledEndDate TIMESTAMP NOT NULL, ActualStartDate TIMESTAMP NULL, ActualEndDate TIMESTAMP NULL, ActualResourceHrs DECIMAL(9,4) NULL, PlannedCost DECIMAL(18,4) NOT NULL, ActualCost DECIMAL(18,4) NULL, ModifiedDate TIMESTAMP NOT NULL)

## Export

In [69]:
p = Path(parquet_dir)
files = sorted([f.name for f in p.iterdir() if f.is_file()])
tns = [Path(f).stem for f in files]

In [74]:
for tn in tns:
    out_f = Path(parquet_clean_dir) / f"{tn}.parquet"
    con.execute(f"COPY (SELECT * FROM {tn}) TO '{str(out_f)}' (FORMAT 'parquet');")
    print(f"exported table {tn}.")

exported table Address.
exported table AddressType.
exported table BillOfMaterials.
exported table BusinessEntity.
exported table BusinessEntityAddress.
exported table BusinessEntityContact.
exported table ContactType.
exported table CountryRegion.
exported table CountryRegionCurrency.
exported table CreditCard.
exported table Culture.
exported table Currency.
exported table CurrencyRate.
exported table Customer.
exported table Department.
exported table EmailAddress.
exported table Employee.
exported table EmployeeDepartmentHistory.
exported table EmployeePayHistory.
exported table Location.
exported table Password.
exported table Person.
exported table PersonCreditCard.
exported table PersonPhone.
exported table PhoneNumberType.
exported table Product.
exported table ProductCategory.
exported table ProductCostHistory.
exported table ProductDescription.
exported table ProductDocument.
exported table ProductInventory.
exported table ProductListPriceHistory.
exported table ProductModel.
exported table ProductModelIllustration.
exported table ProductModelProductDescriptionCulture.
exported table ProductSubcategory.
exported table ProductVendor.
exported table PurchaseOrderDetail.
exported table PurchaseOrderHeader.
exported table SalesOrderDetail.
exported table SalesOrderHeader.
exported table SalesOrderHeaderSalesReason.
exported table SalesPerson.
exported table SalesPersonQuotaHistory.
exported table SalesReason.
exported table SalesTaxRate.
exported table SalesTerritory.
exported table SalesTerritoryHistory.
exported table ScrapReason.
exported table Shift.
exported table ShipMethod.
exported table ShoppingCartItem.
exported table SpecialOffer.
exported table SpecialOfferProduct.
exported table StateProvince.
exported table Store.
exported table TransactionHistory.
exported table TransactionHistoryArchive.
exported table UnitMeasure.
exported table Vendor.
exported table WorkOrder.
exported table WorkOrderRouting.