# Import / Config

In [52]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
from pathlib import Path
from edurel.utils.duck_utils import *

BASE_DIR = "/home/basis/work/github/edurel"
DB_DIR = f"{BASE_DIR}/databases/"
parquet_dir = f"{DB_DIR}/db-adw-oltp/tmp/parquet"

# Create Schema

In [54]:
# con = duckdb_mem_con()

In [55]:
# con.close()

In [56]:
on = True

## Address

In [57]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE Address (
AddressID INT NOT NULL primary key, 
AddressLine1 TEXT NOT NULL, 
AddressLine2 TEXT NULL, 
City TEXT NOT NULL, 
StateProvinceID INT NOT NULL, 
PostalCode TEXT NOT NULL, 
SpatialLocation TEXT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO Address
    SELECT * FROM read_parquet('{parquet_dir}/Address.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM Address LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM Address;")   

if on: con.close()

┌───────────┬──────────────────────┬──────────────┬─────────┬─────────────────┬────────────┬──────────────────────────────────────────────┬──────────────────────────────────────┬─────────────────────┐
│ AddressID │     AddressLine1     │ AddressLine2 │  City   │ StateProvinceID │ PostalCode │               SpatialLocation                │               rowguid                │    ModifiedDate     │
│   int32   │       varchar        │   varchar    │ varchar │      int32      │  varchar   │                   varchar                    │               varchar                │      timestamp      │
├───────────┼──────────────────────┼──────────────┼─────────┼─────────────────┼────────────┼──────────────────────────────────────────────┼──────────────────────────────────────┼─────────────────────┤
│         1 │ 1970 Napa Ct.        │ NULL         │ Bothell │              79 │ 98011      │ E6100000010CAE8BFC28BCE4474067A89189898A5EC0 │ 9AADCB0D-36CF-483F-84D8-585C2D4EC6E9 │ 2018-12-03 00:00:00 │
│         2 │ 9833 Mt. Dias Blv.   │ NULL         │ Bothell │              79 │ 98011      │ E6100000010CD6FA851AE6D74740BC262A0A03905EC0 │ 32A54B9E-E034-4BFB-B573-A71CDE60D8C0 │ 2019-11-30 00:00:00 │
│         3 │ 7484 Roundtree Drive │ NULL         │ Bothell │              79 │ 98011      │ E6100000010C18E304C4ADE14740DA930C7893915EC0 │ 4C506923-6D1B-452C-A07C-BAA6F5B142A4 │ 2024-03-06 00:00:00 │
│         4 │ 9539 Glenside Dr     │ NULL         │ Bothell │              79 │ 98011      │ E6100000010C813A0D5F9FDE474011A5C28A7C955EC0 │ E5946C78-4BCC-477F-9FA1-CC09DE16A880 │ 2020-02-03 00:00:00 │
│         5 │ 1226 Shoe St.        │ NULL         │ Bothell │              79 │ 98011      │ E6100000010C61C64D8ABBD94740C460EA3FD8855EC0 │ FBAFF937-4A97-4AF0-81FD-B849900E9BB0 │ 2019-12-19 00:00:00 │
└───────────┴──────────────────────┴──────────────┴─────────┴─────────────────┴────────────┴──────────────────────────────────────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19614 │
└──────────────┘

## AddressType

In [58]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE AddressType (
AddressTypeID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO AddressType
    SELECT * FROM read_parquet('{parquet_dir}/AddressType.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM AddressType LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM AddressType;")   

if on: con.close()

┌───────────────┬─────────────┬──────────────────────────────────────┬─────────────────────┐
│ AddressTypeID │    Name     │               rowguid                │    ModifiedDate     │
│     int32     │   varchar   │               varchar                │      timestamp      │
├───────────────┼─────────────┼──────────────────────────────────────┼─────────────────────┤
│             1 │ Billing     │ B84F78B1-4EFE-4A0E-8CB7-70E9F112F886 │ 2019-04-30 00:00:00 │
│             2 │ Home        │ 41BC2FF6-F0FC-475F-8EB9-CEC0805AA0F2 │ 2019-04-30 00:00:00 │
│             3 │ Main Office │ 8EEEC28C-07A2-4FB9-AD0A-42D4A0BBC575 │ 2019-04-30 00:00:00 │
│             4 │ Primary     │ 24CB3088-4345-47C4-86C5-17B535133D1E │ 2019-04-30 00:00:00 │
│             5 │ Shipping    │ B29DA3F8-19A3-47DA-9DAA-15C84F4A83A5 │ 2019-04-30 00:00:00 │
└───────────────┴─────────────┴──────────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│            6 │
└──────────────┘

## BillOfMaterials

In [59]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BillOfMaterials (
BillOfMaterialsID INT NOT NULL primary key, 
ProductAssemblyID INT NULL, 
ComponentID INT NOT NULL, 
StartDate TIMESTAMP NOT NULL, 
EndDate TIMESTAMP NULL, 
UnitMeasureCode TEXT NOT NULL, 
BOMLevel SMALLINT NOT NULL, 
PerAssemblyQty DECIMAL(8, 2) NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL, 
);
"""

sql2 = f"""
INSERT INTO BillOfMaterials
    SELECT * FROM read_parquet('{parquet_dir}/BillOfMaterials.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BillOfMaterials LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BillOfMaterials;")   

if on: con.close()

┌───────────────────┬───────────────────┬─────────────┬─────────────────────┬─────────────────────┬─────────────────┬──────────┬────────────────┬─────────────────────┐
│ BillOfMaterialsID │ ProductAssemblyID │ ComponentID │      StartDate      │       EndDate       │ UnitMeasureCode │ BOMLevel │ PerAssemblyQty │    ModifiedDate     │
│       int32       │       int32       │    int32    │      timestamp      │      timestamp      │     varchar     │  int16   │  decimal(8,2)  │      timestamp      │
├───────────────────┼───────────────────┼─────────────┼─────────────────────┼─────────────────────┼─────────────────┼──────────┼────────────────┼─────────────────────┤
│               893 │              NULL │         749 │ 2021-05-25 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-05-11 00:00:00 │
│               271 │              NULL │         750 │ 2021-03-03 00:00:00 │ 2021-05-02 00:00:00 │ EA              │        0 │           1.00 │ 2021-05-02 00:00:00 │
│                34 │              NULL │         750 │ 2021-05-03 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-04-19 00:00:00 │
│               830 │              NULL │         751 │ 2021-05-25 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-05-11 00:00:00 │
│              2074 │              NULL │         752 │ 2021-07-07 00:00:00 │ NULL                │ EA              │        0 │           1.00 │ 2021-06-23 00:00:00 │
└───────────────────┴───────────────────┴─────────────┴─────────────────────┴─────────────────────┴─────────────────┴──────────┴────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         2679 │
└──────────────┘

## BusinessEntity

In [60]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BusinessEntity (
BusinessEntityID INT NOT NULL primary key, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO BusinessEntity
    SELECT * exclude(column2), replace(column2, '&|', '') FROM read_parquet('{parquet_dir}/BusinessEntity.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BusinessEntity LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BusinessEntity;")   

if on: con.close()

┌──────────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │               rowguid                │      ModifiedDate       │
│      int32       │               varchar                │        timestamp        │
├──────────────────┼──────────────────────────────────────┼─────────────────────────┤
│                1 │ 0C7D8F81-D7B1-4CF0-9C0A-4CD8B6B50087 │ 2017-12-13 13:20:24.15  │
│                2 │ 6648747F-7843-4002-B317-65389684C398 │ 2017-12-13 13:20:24.43  │
│                3 │ 568204DA-93D7-42F4-8A7A-4446A144277D │ 2017-12-13 13:20:24.54  │
│                4 │ 0EFF57B9-4F4F-41A6-8867-658C199A5FC0 │ 2017-12-13 13:20:24.57  │
│                5 │ B82F88D1-FF79-4FD9-8C54-9D24C140F647 │ 2017-12-13 13:20:24.633 │
└──────────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        20777 │
└──────────────┘

## BusinessEntityAddress

In [61]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BusinessEntityAddress (
BusinessEntityID INT NOT NULL, 
AddressID INT NOT NULL, 
AddressTypeID INT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, AddressID, AddressTypeID)
);
"""

sql2 = f"""
INSERT INTO BusinessEntityAddress
    SELECT * exclude(column4), replace(column4, '&|', '') FROM read_parquet('{parquet_dir}/BusinessEntityAddress.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BusinessEntityAddress LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BusinessEntityAddress;")   

if on: con.close()

┌──────────────────┬───────────┬───────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │ AddressID │ AddressTypeID │               rowguid                │      ModifiedDate       │
│      int32       │   int32   │     int32     │               varchar                │        timestamp        │
├──────────────────┼───────────┼───────────────┼──────────────────────────────────────┼─────────────────────────┤
│                1 │       249 │             2 │ 3A5D0A00-6739-4DFE-A8F7-844CD9DEE3DF │ 2025-09-11 11:15:06.967 │
│                2 │       293 │             2 │ 84AE7057-EDF4-4C51-8B8D-3AEAEFBFB4A1 │ 2025-09-11 11:15:06.967 │
│                3 │       224 │             2 │ 3C915B31-7C05-4A05-9859-0DF663677240 │ 2025-09-11 11:15:06.967 │
│                4 │     11387 │             2 │ 3DC70CC4-3AE8-424F-8B1F-481C5478E941 │ 2025-09-11 11:15:06.967 │
│                5 │       190 │             2 │ C0ED2F68-937B-4594-9459-581AC53C98E3 │ 2025-09-11 11:15:06.967 │
└──────────────────┴───────────┴───────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19614 │
└──────────────┘

## BusinessEntityContact

In [62]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE BusinessEntityContact (
BusinessEntityID INT NOT NULL, 
PersonID INT NOT NULL, 
ContactTypeID INT NOT NULL, 
rowguid TEXT, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (BusinessEntityID, PersonID, ContactTypeID)
);
"""

sql2 = f"""
INSERT INTO BusinessEntityContact
    SELECT * exclude(column4), replace(column4, '&|', '') FROM read_parquet('{parquet_dir}/BusinessEntityContact.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM BusinessEntityContact LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM BusinessEntityContact;")   

if on: con.close()

┌──────────────────┬──────────┬───────────────┬──────────────────────────────────────┬─────────────────────────┐
│ BusinessEntityID │ PersonID │ ContactTypeID │               rowguid                │      ModifiedDate       │
│      int32       │  int32   │     int32     │               varchar                │        timestamp        │
├──────────────────┼──────────┼───────────────┼──────────────────────────────────────┼─────────────────────────┤
│              292 │      291 │            11 │ 7D4D2DBC-4A44-48F5-911D-A63ABAFD5120 │ 2017-12-13 13:21:02.243 │
│              294 │      293 │            11 │ 3EA25B65-9579-4260-977D-D6F00D7D20EE │ 2017-12-13 13:21:02.32  │
│              296 │      295 │            11 │ DADAC1FF-3351-4827-9AE0-95004885C193 │ 2017-12-13 13:21:02.383 │
│              298 │      297 │            11 │ B924F26F-6446-45D1-A92B-6F418374F075 │ 2017-12-13 13:21:02.447 │
│              300 │      299 │            11 │ 5BA4E7BE-8D29-46A2-B68D-67B1615B124A │ 2017-12-13 13:21:02.51  │
└──────────────────┴──────────┴───────────────┴──────────────────────────────────────┴─────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          909 │
└──────────────┘

## ContactType

In [63]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE ContactType (
ContactTypeID INT NOT NULL primary key, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO ContactType
    SELECT * FROM read_parquet('{parquet_dir}/ContactType.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM ContactType LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM ContactType;")   

if on: con.close()

┌───────────────┬────────────────────────────────┬─────────────────────┐
│ ContactTypeID │              Name              │    ModifiedDate     │
│     int32     │            varchar             │      timestamp      │
├───────────────┼────────────────────────────────┼─────────────────────┤
│             1 │ Accounting Manager             │ 2019-04-30 00:00:00 │
│             2 │ Assistant Sales Agent          │ 2019-04-30 00:00:00 │
│             3 │ Assistant Sales Representative │ 2019-04-30 00:00:00 │
│             4 │ Coordinator Foreign Markets    │ 2019-04-30 00:00:00 │
│             5 │ Export Administrator           │ 2019-04-30 00:00:00 │
└───────────────┴────────────────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           20 │
└──────────────┘

## CountryRegionCurrency

In [64]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CountryRegionCurrency (
CountryRegionCode TEXT NOT NULL, 
CurrencyCode TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL,
primary key (CountryRegionCode, CurrencyCode)
);
"""

sql2 = f"""
INSERT INTO CountryRegionCurrency
    SELECT * FROM read_parquet('{parquet_dir}/CountryRegionCurrency.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CountryRegionCurrency LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CountryRegionCurrency;")   

if on: con.close()

┌───────────────────┬──────────────┬────────────────────────┐
│ CountryRegionCode │ CurrencyCode │      ModifiedDate      │
│      varchar      │   varchar    │       timestamp        │
├───────────────────┼──────────────┼────────────────────────┤
│ AE                │ AED          │ 2025-02-07 10:17:21.51 │
│ AR                │ ARS          │ 2025-02-07 10:17:21.51 │
│ AT                │ ATS          │ 2025-02-07 10:17:21.51 │
│ AT                │ EUR          │ 2019-04-30 00:00:00    │
│ AU                │ AUD          │ 2025-02-07 10:17:21.51 │
└───────────────────┴──────────────┴────────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          109 │
└──────────────┘

## CountryRegion

In [65]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CountryRegion (
CountryRegionCode TEXT NOT NULL primary key, 
Name TEXT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO CountryRegion
    SELECT * FROM read_parquet('{parquet_dir}/CountryRegion.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CountryRegion LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CountryRegion;")   

if on: con.close()

┌───────────────────┬──────────────────────┬─────────────────────┐
│ CountryRegionCode │         Name         │    ModifiedDate     │
│      varchar      │       varchar        │      timestamp      │
├───────────────────┼──────────────────────┼─────────────────────┤
│ AD                │ Andorra              │ 2019-04-30 00:00:00 │
│ AE                │ United Arab Emirates │ 2019-04-30 00:00:00 │
│ AF                │ Afghanistan          │ 2019-04-30 00:00:00 │
│ AG                │ Antigua and Barbuda  │ 2019-04-30 00:00:00 │
│ AI                │ Anguilla             │ 2019-04-30 00:00:00 │
└───────────────────┴──────────────────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          238 │
└──────────────┘

## CreditCard

In [66]:
if on: con = duckdb_mem_con()

sql1 = """
CREATE TABLE CreditCard (
CreditCardID INT NOT NULL primary key, 
CardType TEXT NOT NULL, 
CardNumber TEXT NOT NULL, 
ExpMonth UTINYINT NOT NULL, 
ExpYear SMALLINT NOT NULL, 
ModifiedDate TIMESTAMP NOT NULL
);
"""

sql2 = f"""
INSERT INTO CreditCard
    SELECT * FROM read_parquet('{parquet_dir}/CreditCard.parquet');
"""

con.execute(sql1)
con.execute(sql2)
sql_print(con, "SELECT * FROM CreditCard LIMIT 5;")   
sql_print(con, "SELECT count(*) FROM CreditCard;")   

if on: con.close()

┌──────────────┬───────────────┬────────────────┬──────────┬─────────┬─────────────────────┐
│ CreditCardID │   CardType    │   CardNumber   │ ExpMonth │ ExpYear │    ModifiedDate     │
│    int32     │    varchar    │    varchar     │  uint8   │  int16  │      timestamp      │
├──────────────┼───────────────┼────────────────┼──────────┼─────────┼─────────────────────┤
│            1 │ SuperiorCard  │ 33332664695310 │       11 │    2006 │ 2024-07-28 00:00:00 │
│            2 │ Distinguish   │ 55552127249722 │        8 │    2005 │ 2024-12-04 00:00:00 │
│            3 │ ColonialVoice │ 77778344838353 │        7 │    2005 │ 2025-01-13 00:00:00 │
│            4 │ ColonialVoice │ 77774915718248 │        7 │    2006 │ 2024-05-19 00:00:00 │
│            5 │ Vista         │ 11114404600042 │        4 │    2005 │ 2024-02-01 00:00:00 │
└──────────────┴───────────────┴────────────────┴──────────┴─────────┴─────────────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        19118 │
└──────────────┘

In [67]:
# print(duckdb_schema(con))