# Import / Config

In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
from pathlib import Path
import sqlglot
from edurel.utils.duck_utils import *

BASE_DIR = "/home/basis/work/github/edurel"
DB_DIR = f"{BASE_DIR}/databases/"

# aaa

In [ ]:
con = duckdb_mem_con(DB_DIR + "db-company_en")
print(duckdb_schema(con))
sql_tsql = """
select * from employee;
"""
sql_print(con, sql_tsql)

con.close()

Table: EmpProj (EID INTEGER NOT NULL, PID INTEGER NOT NULL, NoOfHoursPerWeek INTEGER NOT NULL)
Table: Employee (EID INTEGER NOT NULL, OUID INTEGER NOT NULL, LastName VARCHAR NOT NULL, Hiredate DATE NOT NULL, Salary DECIMAL(9,2) NOT NULL, Bonus DECIMAL(9,2) NULL)
Table: OrgUnit (OUID INTEGER NOT NULL, Head INTEGER NULL, SuperUnit INTEGER NULL, Name VARCHAR NOT NULL)
Table: Project (PID INTEGER NOT NULL, Title VARCHAR NOT NULL, Budget DECIMAL(13,2) NULL)
Foreign Key: EmpProj(EID) -> Employee(EID)
Foreign Key: EmpProj(PID) -> Project(PID)
Foreign Key: Employee(OUID) -> OrgUnit(OUID)

┌───────┬───────┬──────────┬────────────┬──────────────┬──────────────┐
│  EID  │ OUID  │ LastName │  Hiredate  │    Salary    │    Bonus     │
│ int32 │ int32 │ varchar  │    date    │ decimal(9,2) │ decimal(9,2) │
├───────┼───────┼──────────┼────────────┼──────────────┼──────────────┤
│   101 │    11 │ Patil    │ 2000-05-01 │    180000.00 │         NULL │
│   102 │    12 │ Durmaz   │ 2005-07-01 │    120000.00 │         NULL │
│   103 │    13 │ Blaschke │ 2002-11-01 │     93000.00 │         NULL │
│   104 │    13 │ Stone    │ 2006-06-01 │     42000.00 │         NULL │
│   105 │    13 │ Dalal    │ 2018-02-02 │     38000.00 │      1000.00 │
│   106 │    14 │ Li       │ 2002-12-01 │     89000.00 │         NULL │
│   107 │    14 │ Nguyen   │ 2006-07-01 │     41000.00 │         NULL │
│   108 │    14 │ Sanchez  │ 2014-04-01 │     39000.00 │      1500.00 │
│   109 │    15 │ Umarani  │ 2006-07-01 │    142000.00 │         NULL │
│   110 │    16 │ Ortega   │ 2005-09-02 │     90000.00 │         NULL │
│   111 │    16 │ Doshi    │ 2010-01-02 │     42000.00 │         NULL │
│   112 │    16 │ Singh    │ 2012-03-01 │     43000.00 │      2100.00 │
│   113 │    16 │ Jadhav   │ 2001-08-01 │     91000.00 │         NULL │
│   114 │    17 │ Popov    │ 2009-03-02 │     34000.00 │         NULL │
│   115 │    17 │ Kumar    │ 2013-05-01 │     32000.00 │         NULL │
│   116 │    17 │ Krause   │ 2011-08-01 │     31000.00 │         NULL │
│   117 │    17 │ Oezdem   │ 2014-08-01 │     33000.00 │      1900.00 │
│   118 │    17 │ Okeke    │ 2013-11-01 │     32000.00 │      1900.00 │
├───────┴───────┴──────────┴────────────┴──────────────┴──────────────┤
│ 18 rows                                                   6 columns │
└─────────────────────────────────────────────────────────────────────┘

# adw-oltp

In [ ]:
with (Path(DB_DIR) / "db-adw-oltp" / "schema1.sql").open("r") as f:
    sql_tsql = f.read()

sql_duckdb = sqlglot.transpile(sql_tsql, read="tsql", write="duckdb")
sql_duckdb_str = "\n".join(sql_duckdb)
print(sql_duckdb_str)

In [ ]:

con = duckdb_mem_con(DB_DIR + "db-adw-oltp")
con.execute(sql_duckdb_str)
print(duckdb_schema(con))
con.close()

# CSV

In [12]:
from pathlib import Path
import duckdb
from edurel.utils.duck_utils import *

In [ ]:
csv_dir = f"{DB_DIR}/db-adw-oltp/tmp/csv"
tsv_dir = f"{DB_DIR}/db-adw-oltp/tmp/tsv"
parquet_dir = f"{DB_DIR}/db-adw-oltp/tmp/parquet"



spec = "header=false, delim = '+|'"
db_file_op(csv_dir, "*", ".csv", spec, show=True, out_path=parquet_dir)