# Import / Config

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
from pathlib import Path
from dotenv import load_dotenv

from IPython.display import Markdown, display

import edurel.utils.dbcon as dbcu
import edurel.utils.db as dbu
import edurel.utils.duckdb as ddbu
import edurel.utils.llm as llmu
import edurel.utils.llmchat as llmc
import edurel.widgets.mermaid_viz as mmw
import edurel.widgets.chatman as cmw
import edurel.utils.misc as mu

load_dotenv() 
BASE_DIR = os.getenv("BASE_DIR")
DB_DIR = f"{BASE_DIR}/databases"

/home/iclassen/.py1/lib/python3.14/site-packages/langchain_core/_api/deprecation.py:26: UserWarning: Core Pydantic V1 functionality isn't compatible with Python 3.14 or greater.
  from pydantic.v1.fields import FieldInfo as FieldInfoV1

# Database

In [4]:
con = dbcu.adw_olap()
additional_fks = {
    "DimAccount": ["DimAccount|ParentAccountKey|AccountKey"],
    "DimDepartmentGroup": ["DimDepartmentGroup|ParentDepartmentGroupKey|DepartmentGroupKey"],
    "DimEmployee": ["DimEmployee|ParentEmployeeKey|EmployeeKey"],
    "DimOrganization": ["DimOrganization|ParentOrganizationKey|OrganizationKey"],
    }

db = dbu.DbHandler(con,additional_fks=additional_fks)
schema = db.schema_yaml_str(["nullable", "fkname"])

# Internet Sales

## 1

In [5]:
sql = """
WITH CurrentYearSales AS (
    SELECT
        pc.EnglishProductCategoryName AS CategoryName,
        psc.EnglishProductSubcategoryName AS SubcategoryName,
        dd.CalendarYear,
        SUM(fis.SalesAmount) AS TotalRevenue,
        SUM(fis.OrderQuantity) AS TotalQuantity,
        COUNT(DISTINCT fis.SalesOrderNumber) AS OrderCount
    FROM FactInternetSales fis
    INNER JOIN DimProduct p ON fis.ProductKey = p.ProductKey
    INNER JOIN DimProductSubcategory psc ON p.ProductSubcategoryKey = psc.ProductSubcategoryKey
    INNER JOIN DimProductCategory pc ON psc.ProductCategoryKey = pc.ProductCategoryKey
    INNER JOIN DimDate dd ON fis.OrderDateKey = dd.DateKey
    WHERE dd.CalendarYear >= (SELECT MAX(CalendarYear) - 1 FROM DimDate WHERE DateKey IN (SELECT DISTINCT OrderDateKey FROM FactInternetSales))
    GROUP BY pc.EnglishProductCategoryName, psc.EnglishProductSubcategoryName, dd.CalendarYear
),
YoYComparison AS (
    SELECT
        curr.CategoryName,
        curr.SubcategoryName,
        curr.CalendarYear AS CurrentYear,
        curr.TotalRevenue AS CurrentYearRevenue,
        curr.TotalQuantity AS CurrentYearQuantity,
        curr.OrderCount AS CurrentYearOrders,
        prev.TotalRevenue AS PreviousYearRevenue,
        prev.TotalQuantity AS PreviousYearQuantity,
        CASE
            WHEN prev.TotalRevenue IS NOT NULL AND prev.TotalRevenue > 0
            THEN ((curr.TotalRevenue - prev.TotalRevenue) / prev.TotalRevenue) * 100
            ELSE NULL
        END AS RevenueGrowthPct,
        CASE
            WHEN prev.TotalQuantity IS NOT NULL AND prev.TotalQuantity > 0
            THEN ((curr.TotalQuantity - prev.TotalQuantity) / CAST(prev.TotalQuantity AS FLOAT)) * 100
            ELSE NULL
        END AS QuantityGrowthPct
    FROM CurrentYearSales curr
    LEFT JOIN CurrentYearSales prev
        ON curr.CategoryName = prev.CategoryName
        AND curr.SubcategoryName = prev.SubcategoryName
        AND curr.CalendarYear = prev.CalendarYear + 1
)
SELECT
    CategoryName,
    SubcategoryName,
    CurrentYear,
    ROUND(CurrentYearRevenue, 2) AS CurrentYearRevenue,
    CurrentYearQuantity,
    CurrentYearOrders,
    ROUND(PreviousYearRevenue, 2) AS PreviousYearRevenue,
    ROUND(RevenueGrowthPct, 2) AS RevenueGrowthPct,
    ROUND(QuantityGrowthPct, 2) AS QuantityGrowthPct,
    RANK() OVER (PARTITION BY CurrentYear ORDER BY CurrentYearRevenue DESC) AS RevenueRank
FROM YoYComparison
WHERE CurrentYear = (SELECT MAX(CurrentYear) FROM YoYComparison)
ORDER BY CurrentYearRevenue DESC;
"""
db.sql_print(sql)

┌──────────────┬───────────────────┬─────────────┬────────────────────┬─────────────────────┬───────────────────┬─────────────────────┬──────────────────┬───────────────────┬─────────────┐
│ CategoryName │  SubcategoryName  │ CurrentYear │ CurrentYearRevenue │ CurrentYearQuantity │ CurrentYearOrders │ PreviousYearRevenue │ RevenueGrowthPct │ QuantityGrowthPct │ RevenueRank │
│   varchar    │      varchar      │    int32    │   decimal(38,2)    │       int128        │       int64       │    decimal(38,2)    │      double      │       float       │    int64    │
├──────────────┼───────────────────┼─────────────┼────────────────────┼─────────────────────┼───────────────────┼─────────────────────┼──────────────────┼───────────────────┼─────────────┤
│ Accessories  │ Tires and Tubes   │        2014 │           12675.06 │                 925 │               532 │           232276.42 │           -94.54 │            -94.35 │           1 │
│ Accessories  │ Helmets           │        2014 │            8397.60 │                 240 │               240 │           216028.26 │           -96.11 │            -96.11 │           2 │
│ Clothing     │ Jerseys           │        2014 │            6960.65 │                 135 │               135 │           165574.11 │            -95.8 │            -95.77 │           3 │
│ Clothing     │ Shorts            │        2014 │            3919.44 │                  56 │                56 │            67400.37 │           -94.18 │            -94.18 │           4 │
│ Accessories  │ Bike Racks        │        2014 │            2400.00 │                  20 │                20 │            36960.00 │           -93.51 │            -93.51 │           5 │
│ Accessories  │ Fenders           │        2014 │            2066.12 │                  94 │                94 │            44443.56 │           -95.35 │            -95.35 │           6 │
│ Clothing     │ Vests             │        2014 │            1905.00 │                  30 │                30 │            33718.50 │           -94.35 │            -94.35 │           7 │
│ Accessories  │ Bike Stands       │        2014 │            1749.00 │                  11 │                11 │            37683.00 │           -95.36 │            -95.36 │           8 │
│ Clothing     │ Gloves            │        2014 │            1567.36 │                  64 │                64 │            33379.87 │            -95.3 │             -95.3 │           9 │
│ Accessories  │ Bottles and Cages │        2014 │            1508.75 │                 225 │               163 │            55008.82 │           -97.26 │            -97.08 │          10 │
│ Accessories  │ Hydration Packs   │        2014 │            1264.77 │                  23 │                23 │            38932.92 │           -96.75 │            -96.75 │          11 │
│ Clothing     │ Caps              │        2014 │             746.17 │                  83 │                83 │            18870.01 │           -96.05 │            -96.05 │          12 │
│ Accessories  │ Cleaners          │        2014 │             310.05 │                  39 │                39 │             6908.55 │           -95.51 │            -95.51 │          13 │
│ Clothing     │ Socks             │        2014 │             224.75 │                  25 │                25 │             4863.59 │           -95.38 │            -95.38 │          14 │
├──────────────┴───────────────────┴─────────────┴────────────────────┴─────────────────────┴───────────────────┴─────────────────────┴──────────────────┴───────────────────┴─────────────┤
│ 14 rows                                                                                                                                                                       10 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## 2

In [6]:
sql = """
WITH CustomerRevenue AS (
    SELECT
        c.CustomerKey,
        CONCAT(c.FirstName, ' ', c.LastName) AS CustomerName,
        c.YearlyIncome,
        g.City,
        g.StateProvinceName,
        g.EnglishCountryRegionName AS Country,
        st.SalesTerritoryRegion,
        st.SalesTerritoryCountry,
        st.SalesTerritoryGroup,
        SUM(fis.SalesAmount) AS TotalRevenue,
        SUM(fis.OrderQuantity) AS TotalQuantity,
        COUNT(DISTINCT fis.SalesOrderNumber) AS TotalOrders,
        AVG(fis.SalesAmount) AS AvgOrderValue,
        MIN(dd.FullDateAlternateKey) AS FirstPurchaseDate,
        MAX(dd.FullDateAlternateKey) AS LastPurchaseDate
    FROM FactInternetSales fis
    INNER JOIN DimCustomer c ON fis.CustomerKey = c.CustomerKey
    INNER JOIN DimGeography g ON c.GeographyKey = g.GeographyKey
    INNER JOIN DimSalesTerritory st ON g.SalesTerritoryKey = st.SalesTerritoryKey
    INNER JOIN DimDate dd ON fis.OrderDateKey = dd.DateKey
    GROUP BY
        c.CustomerKey, c.FirstName, c.LastName, c.YearlyIncome,
        g.City, g.StateProvinceName, g.EnglishCountryRegionName,
        st.SalesTerritoryRegion, st.SalesTerritoryCountry, st.SalesTerritoryGroup
),
TerritoryMetrics AS (
    SELECT
        SalesTerritoryGroup,
        SalesTerritoryCountry,
        SalesTerritoryRegion,
        COUNT(DISTINCT CustomerKey) AS CustomerCount,
        SUM(TotalRevenue) AS TerritoryRevenue,
        SUM(TotalOrders) AS TerritoryOrders,
        AVG(TotalRevenue) AS AvgRevenuePerCustomer,
        AVG(AvgOrderValue) AS AvgOrderValue,
        MAX(TotalRevenue) AS TopCustomerRevenue
    FROM CustomerRevenue
    GROUP BY SalesTerritoryGroup, SalesTerritoryCountry, SalesTerritoryRegion
)
SELECT
    tm.SalesTerritoryGroup,
    tm.SalesTerritoryCountry,
    tm.SalesTerritoryRegion,
    tm.CustomerCount,
    ROUND(tm.TerritoryRevenue, 2) AS TerritoryRevenue,
    tm.TerritoryOrders,
    ROUND(tm.AvgRevenuePerCustomer, 2) AS AvgRevenuePerCustomer,
    ROUND(tm.AvgOrderValue, 2) AS AvgOrderValue,
    ROUND(tm.TopCustomerRevenue, 2) AS TopCustomerRevenue,
    ROUND((tm.TerritoryRevenue / SUM(tm.TerritoryRevenue) OVER ()) * 100, 2) AS PctOfTotalRevenue,
    RANK() OVER (ORDER BY tm.TerritoryRevenue DESC) AS TerritoryRevenueRank
FROM TerritoryMetrics tm
ORDER BY tm.TerritoryRevenue DESC;
"""
db.sql_print(sql)

┌─────────────────────┬───────────────────────┬──────────────────────┬───────────────┬──────────────────┬─────────────────┬───────────────────────┬───────────────┬────────────────────┬───────────────────┬──────────────────────┐
│ SalesTerritoryGroup │ SalesTerritoryCountry │ SalesTerritoryRegion │ CustomerCount │ TerritoryRevenue │ TerritoryOrders │ AvgRevenuePerCustomer │ AvgOrderValue │ TopCustomerRevenue │ PctOfTotalRevenue │ TerritoryRevenueRank │
│       varchar       │        varchar        │       varchar        │     int64     │  decimal(38,2)   │     int128      │        double         │    double     │   decimal(38,2)    │      double       │        int64         │
├─────────────────────┼───────────────────────┼──────────────────────┼───────────────┼──────────────────┼─────────────────┼───────────────────────┼───────────────┼────────────────────┼───────────────────┼──────────────────────┤
│ Pacific             │ Australia             │ Australia            │          3591 │       9061000.72 │            6718 │               2523.25 │        685.39 │            8319.51 │             30.86 │                    1 │
│ North America       │ United States         │ Southwest            │          4450 │       5718151.07 │            5473 │               1284.98 │        506.48 │            6743.58 │             19.48 │                    2 │
│ North America       │ United States         │ Northwest            │          3341 │       3649866.72 │            4058 │               1092.45 │        444.16 │            6770.60 │             12.43 │                    3 │
│ Europe              │ United Kingdom        │ United Kingdom       │          1913 │       3391712.24 │            3031 │               1772.98 │        438.09 │            8460.25 │             11.55 │                    4 │
│ Europe              │ Germany               │ Germany              │          1780 │       2894312.36 │            2484 │               1626.02 │        430.53 │           10580.35 │              9.86 │                    5 │
│ Europe              │ France                │ France               │          1810 │       2644017.74 │            2484 │               1460.78 │        422.68 │           13295.38 │              9.01 │                    6 │
│ North America       │ Canada                │ Canada               │          1571 │       1977844.89 │            3375 │               1258.97 │        506.79 │            6060.50 │              6.74 │                    7 │
│ North America       │ United States         │ Southeast            │            12 │         12238.85 │              17 │                1019.9 │        220.67 │            4540.47 │              0.04 │                    8 │
│ North America       │ United States         │ Northeast            │             8 │          6532.47 │              10 │                816.56 │        449.37 │            2337.27 │              0.02 │                    9 │
│ North America       │ United States         │ Central              │             8 │          3000.83 │               9 │                 375.1 │        293.11 │            2071.42 │              0.01 │                   10 │
├─────────────────────┴───────────────────────┴──────────────────────┴───────────────┴──────────────────┴─────────────────┴───────────────────────┴───────────────┴────────────────────┴───────────────────┴──────────────────────┤
│ 10 rows                                                                                                                                                                                                              11 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## 3

In [7]:
sql = """
WITH PromotionSales AS (
    SELECT
        p.EnglishPromotionName AS PromotionName,
        p.EnglishPromotionType AS PromotionType,
        p.EnglishPromotionCategory AS PromotionCategory,
        p.DiscountPct AS PromotionDiscountPct,
        dd.CalendarYear,
        dd.CalendarQuarter,
        COUNT(DISTINCT fis.SalesOrderNumber) AS OrderCount,
        SUM(fis.OrderQuantity) AS TotalQuantity,
        SUM(fis.SalesAmount) AS TotalRevenue,
        SUM(fis.DiscountAmount) AS TotalDiscountAmount,
        AVG(fis.UnitPriceDiscountPct) AS AvgLineDiscountPct,
        SUM(fis.SalesAmount + fis.DiscountAmount) AS RevenueBeforeDiscount,
        AVG(fis.SalesAmount) AS AvgOrderValue
    FROM FactInternetSales fis
    INNER JOIN DimPromotion p ON fis.PromotionKey = p.PromotionKey
    INNER JOIN DimDate dd ON fis.OrderDateKey = dd.DateKey
    WHERE p.PromotionKey > 1  -- Exclude "No Discount" promotion
    GROUP BY
        p.EnglishPromotionName, p.EnglishPromotionType,
        p.EnglishPromotionCategory, p.DiscountPct,
        dd.CalendarYear, dd.CalendarQuarter
),
NoPromotionSales AS (
    SELECT
        dd.CalendarYear,
        dd.CalendarQuarter,
        COUNT(DISTINCT fis.SalesOrderNumber) AS OrderCount,
        SUM(fis.OrderQuantity) AS TotalQuantity,
        SUM(fis.SalesAmount) AS TotalRevenue,
        AVG(fis.SalesAmount) AS AvgOrderValue
    FROM FactInternetSales fis
    INNER JOIN DimPromotion p ON fis.PromotionKey = p.PromotionKey
    INNER JOIN DimDate dd ON fis.OrderDateKey = dd.DateKey
    WHERE p.PromotionKey = 1  -- "No Discount" promotion
    GROUP BY dd.CalendarYear, dd.CalendarQuarter
),
PromotionEffectiveness AS (
    SELECT
        ps.PromotionName,
        ps.PromotionType,
        ps.PromotionCategory,
        ps.PromotionDiscountPct,
        ps.CalendarYear,
        ps.CalendarQuarter,
        ps.OrderCount AS PromotionOrders,
        ps.TotalRevenue AS PromotionRevenue,
        ps.TotalDiscountAmount,
        ps.AvgOrderValue AS PromotionAvgOrderValue,
        nps.OrderCount AS NoPromotionOrders,
        nps.TotalRevenue AS NoPromotionRevenue,
        nps.AvgOrderValue AS NoPromotionAvgOrderValue,
        CASE
            WHEN nps.AvgOrderValue > 0
            THEN ((ps.AvgOrderValue - nps.AvgOrderValue) / nps.AvgOrderValue) * 100
            ELSE NULL
        END AS AvgOrderValueLiftPct,
        ps.RevenueBeforeDiscount - ps.TotalRevenue AS RevenueImpactOfDiscount,
        CASE
            WHEN ps.TotalDiscountAmount > 0
            THEN (ps.TotalRevenue - ps.TotalDiscountAmount) / ps.TotalDiscountAmount
            ELSE NULL
        END AS PromotionROI
    FROM PromotionSales ps
    LEFT JOIN NoPromotionSales nps
        ON ps.CalendarYear = nps.CalendarYear
        AND ps.CalendarQuarter = nps.CalendarQuarter
)
SELECT
    PromotionName,
    PromotionType,
    PromotionCategory,
    ROUND(PromotionDiscountPct * 100, 2) AS PromotionDiscountPct,
    CalendarYear,
    CalendarQuarter,
    PromotionOrders,
    ROUND(PromotionRevenue, 2) AS PromotionRevenue,
    ROUND(TotalDiscountAmount, 2) AS TotalDiscountAmount,
    ROUND(PromotionAvgOrderValue, 2) AS PromotionAvgOrderValue,
    ROUND(NoPromotionAvgOrderValue, 2) AS NoPromotionAvgOrderValue,
    ROUND(AvgOrderValueLiftPct, 2) AS AvgOrderValueLiftPct,
    ROUND(RevenueImpactOfDiscount, 2) AS RevenueImpactOfDiscount,
    ROUND(PromotionROI, 2) AS PromotionROI,
    RANK() OVER (PARTITION BY CalendarYear ORDER BY PromotionRevenue DESC) AS PromotionRevenueRank
FROM PromotionEffectiveness
WHERE CalendarYear = (SELECT MAX(CalendarYear) FROM PromotionEffectiveness)
ORDER BY PromotionRevenue DESC;
"""
db.sql_print(sql)

┌──────────────────────────┬─────────────────┬───────────────────┬──────────────────────┬──────────────┬─────────────────┬─────────────────┬──────────────────┬─────────────────────┬────────────────────────┬──────────────────────────┬──────────────────────┬─────────────────────────┬──────────────┬──────────────────────┐
│      PromotionName       │  PromotionType  │ PromotionCategory │ PromotionDiscountPct │ CalendarYear │ CalendarQuarter │ PromotionOrders │ PromotionRevenue │ TotalDiscountAmount │ PromotionAvgOrderValue │ NoPromotionAvgOrderValue │ AvgOrderValueLiftPct │ RevenueImpactOfDiscount │ PromotionROI │ PromotionRevenueRank │
│         varchar          │     varchar     │      varchar      │        float         │    int32     │      int32      │      int64      │  decimal(38,2)   │       double        │         double         │          double          │        double        │         double          │    double    │        int64         │
├──────────────────────────┼─────────────────┼───────────────────┼──────────────────────┼──────────────┼─────────────────┼─────────────────┼──────────────────┼─────────────────────┼────────────────────────┼──────────────────────────┼──────────────────────┼─────────────────────────┼──────────────┼──────────────────────┤
│ Volume Discount 11 to 14 │ Volume Discount │ Reseller          │                  2.0 │         2013 │               4 │             523 │        378234.38 │                 0.0 │                  708.3 │                   319.17 │               121.92 │                    -0.0 │         NULL │                    1 │
│ Volume Discount 11 to 14 │ Volume Discount │ Reseller          │                  2.0 │         2013 │               3 │             442 │        293961.21 │                 0.0 │                 646.07 │                    297.6 │               117.09 │                    -0.0 │         NULL │                    2 │
│ Volume Discount 11 to 14 │ Volume Discount │ Reseller          │                  2.0 │         2013 │               2 │             437 │        263732.61 │                 0.0 │                 584.77 │                   286.45 │               104.15 │                    -0.0 │         NULL │                    3 │
│ Volume Discount 11 to 14 │ Volume Discount │ Reseller          │                  2.0 │         2013 │               1 │             302 │        247036.95 │                 0.0 │                 804.68 │                   269.25 │               198.86 │                     0.0 │         NULL │                    4 │
│ Touring-1000 Promotion   │ New Product     │ Reseller          │                 20.0 │         2013 │               1 │              13 │         30992.91 │                 0.0 │                2384.07 │                   269.25 │               785.46 │                     0.0 │         NULL │                    5 │
│ Touring-3000 Promotion   │ New Product     │ Reseller          │                 15.0 │         2013 │               1 │              20 │         14847.00 │                 0.0 │                 742.35 │                   269.25 │               175.71 │                    -0.0 │         NULL │                    6 │
└──────────────────────────┴─────────────────┴───────────────────┴──────────────────────┴──────────────┴─────────────────┴─────────────────┴──────────────────┴─────────────────────┴────────────────────────┴──────────────────────────┴──────────────────────┴─────────────────────────┴──────────────┴──────────────────────┘

## 4

In [8]:
sql = """
WITH MonthlySales AS (
    SELECT
        dd.CalendarYear,
        dd.CalendarQuarter,
        dd.MonthNumberOfYear,
        dd.EnglishMonthName AS MonthName,
        dd.FiscalYear,
        dd.FiscalQuarter,
        SUM(fis.SalesAmount) AS MonthlyRevenue,
        SUM(fis.OrderQuantity) AS MonthlyQuantity,
        COUNT(DISTINCT fis.SalesOrderNumber) AS MonthlyOrders,
        COUNT(DISTINCT fis.CustomerKey) AS UniqueCustomers,
        AVG(fis.SalesAmount) AS AvgOrderValue
    FROM FactInternetSales fis
    INNER JOIN DimDate dd ON fis.OrderDateKey = dd.DateKey
    GROUP BY
        dd.CalendarYear, dd.CalendarQuarter, dd.MonthNumberOfYear,
        dd.EnglishMonthName, dd.FiscalYear, dd.FiscalQuarter
),
MonthlyTrends AS (
    SELECT
        CalendarYear,
        CalendarQuarter,
        MonthNumberOfYear,
        MonthName,
        FiscalYear,
        FiscalQuarter,
        MonthlyRevenue,
        MonthlyQuantity,
        MonthlyOrders,
        UniqueCustomers,
        AvgOrderValue,
        LAG(MonthlyRevenue, 1) OVER (ORDER BY CalendarYear, MonthNumberOfYear) AS PrevMonthRevenue,
        LAG(MonthlyRevenue, 12) OVER (ORDER BY CalendarYear, MonthNumberOfYear) AS SameMonthPrevYearRevenue,
        AVG(MonthlyRevenue) OVER (
            ORDER BY CalendarYear, MonthNumberOfYear
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ) AS ThreeMonthMovingAvg,
        AVG(MonthlyRevenue) OVER (PARTITION BY MonthNumberOfYear) AS HistoricalMonthAvg,
        SUM(MonthlyRevenue) OVER (
            PARTITION BY CalendarYear
            ORDER BY MonthNumberOfYear
        ) AS YearToDateRevenue
    FROM MonthlySales
),
SeasonalityMetrics AS (
    SELECT
        CalendarYear,
        CalendarQuarter,
        MonthNumberOfYear,
        MonthName,
        FiscalYear,
        FiscalQuarter,
        MonthlyRevenue,
        MonthlyOrders,
        UniqueCustomers,
        ROUND(AvgOrderValue, 2) AS AvgOrderValue,
        ROUND(ThreeMonthMovingAvg, 2) AS ThreeMonthMovingAvg,
        CASE
            WHEN PrevMonthRevenue > 0
            THEN ROUND(((MonthlyRevenue - PrevMonthRevenue) / PrevMonthRevenue) * 100, 2)
            ELSE NULL
        END AS MoMGrowthPct,
        CASE
            WHEN SameMonthPrevYearRevenue > 0
            THEN ROUND(((MonthlyRevenue - SameMonthPrevYearRevenue) / SameMonthPrevYearRevenue) * 100, 2)
            ELSE NULL
        END AS YoYGrowthPct,
        ROUND((MonthlyRevenue / HistoricalMonthAvg) * 100, 2) AS SeasonalityIndex,
        ROUND(YearToDateRevenue, 2) AS YearToDateRevenue,
        RANK() OVER (PARTITION BY CalendarYear ORDER BY MonthlyRevenue DESC) AS MonthRevenueRank
    FROM MonthlyTrends
)
SELECT
    CalendarYear,
    CalendarQuarter,
    MonthNumberOfYear,
    MonthName,
    FiscalYear,
    FiscalQuarter,
    ROUND(MonthlyRevenue, 2) AS MonthlyRevenue,
    MonthlyOrders,
    UniqueCustomers,
    AvgOrderValue,
    ThreeMonthMovingAvg,
    MoMGrowthPct,
    YoYGrowthPct,
    SeasonalityIndex,
    YearToDateRevenue,
    MonthRevenueRank
FROM SeasonalityMetrics
WHERE CalendarYear >= (SELECT MAX(CalendarYear) - 2 FROM SeasonalityMetrics)
ORDER BY CalendarYear DESC, MonthNumberOfYear;
"""
db.sql_print(sql)

┌──────────────┬─────────────────┬───────────────────┬───────────┬────────────┬───────────────┬────────────────┬───────────────┬─────────────────┬───────────────┬─────────────────────┬──────────────┬──────────────┬──────────────────┬───────────────────┬──────────────────┐
│ CalendarYear │ CalendarQuarter │ MonthNumberOfYear │ MonthName │ FiscalYear │ FiscalQuarter │ MonthlyRevenue │ MonthlyOrders │ UniqueCustomers │ AvgOrderValue │ ThreeMonthMovingAvg │ MoMGrowthPct │ YoYGrowthPct │ SeasonalityIndex │ YearToDateRevenue │ MonthRevenueRank │
│    int32     │      int32      │       int32       │  varchar  │   int32    │     int32     │ decimal(38,2)  │     int64     │      int64      │    double     │       double        │    double    │    double    │      double      │   decimal(38,2)   │      int64       │
├──────────────┼─────────────────┼───────────────────┼───────────┼────────────┼───────────────┼────────────────┼───────────────┼─────────────────┼───────────────┼─────────────────────┼──────────────┼──────────────┼──────────────────┼───────────────────┼──────────────────┤
│         2014 │               1 │                 1 │ January   │       2013 │             3 │       45694.72 │           871 │             834 │          23.2 │          1233658.36 │       -97.56 │       -94.67 │             9.78 │          45694.72 │                1 │
│         2013 │               1 │                 1 │ January   │       2012 │             3 │      857689.91 │           632 │             627 │        516.06 │           673382.62 │        37.34 │        73.14 │            183.6 │         857689.91 │               11 │
│         2013 │               1 │                 2 │ February  │       2012 │             3 │      771348.74 │          1421 │            1373 │        223.39 │           751180.31 │       -10.07 │        52.14 │           132.63 │        1629038.65 │               12 │
│         2013 │               1 │                 3 │ March     │       2012 │             3 │     1049907.39 │          1690 │            1631 │        256.89 │           892982.01 │        36.11 │       181.11 │           165.03 │        2678946.04 │                9 │
│         2013 │               2 │                 4 │ April     │       2012 │             4 │     1046022.77 │          1612 │            1564 │        262.89 │           955759.63 │        -0.37 │       161.29 │           161.06 │        3724968.81 │               10 │
│         2013 │               2 │                 5 │ May       │       2012 │             4 │     1284592.93 │          1792 │            1719 │        292.02 │          1126841.03 │        22.81 │       257.95 │           174.76 │        5009561.74 │                8 │
│         2013 │               2 │                 6 │ June      │       2012 │             4 │     1643177.78 │          2007 │            1948 │         327.0 │          1324597.83 │        27.91 │       195.98 │           167.89 │        6652739.52 │                4 │
│         2013 │               3 │                 7 │ July      │       2013 │             1 │     1371675.81 │          1875 │            1796 │        293.66 │          1433148.84 │       -16.52 │       208.55 │           170.54 │        8024415.33 │                7 │
│         2013 │               3 │                 8 │ August    │       2013 │             1 │     1551065.56 │          1966 │            1900 │        318.82 │          1521973.05 │        13.08 │       196.05 │           173.01 │        9575480.89 │                5 │
│         2013 │               3 │                 9 │ September │       2013 │             1 │     1447495.69 │          1884 │            1832 │        313.58 │          1456745.69 │        -6.68 │       197.73 │           171.18 │       11022976.58 │                6 │
│           ·  │               · │                 · │   ·       │         ·  │             · │          ·     │            ·  │              ·  │           ·   │               ·     │          ·   │          ·   │              ·   │             ·     │                · │
│           ·  │               · │                 · │   ·       │         ·  │             · │          ·     │            ·  │              ·  │           ·   │               ·     │          ·   │          ·   │              ·   │             ·     │                · │
│           ·  │               · │                 · │   ·       │         ·  │             · │          ·     │            ·  │              ·  │           ·   │               ·     │          ·   │          ·   │              ·   │             ·     │                · │
│         2012 │               1 │                 3 │ March     │       2011 │             3 │      373482.95 │           212 │             212 │       1761.71 │           458613.68 │       -26.33 │       -23.02 │            58.71 │        1375841.04 │               11 │
│         2012 │               2 │                 4 │ April     │       2011 │             4 │      400335.59 │           219 │             219 │       1828.02 │           426937.54 │         7.19 │       -20.26 │            61.64 │        1776176.63 │               10 │
│         2012 │               2 │                 5 │ May       │       2011 │             4 │      358877.87 │           207 │             207 │       1733.71 │           377565.47 │       -10.36 │       -36.11 │            48.82 │        2135054.50 │               12 │
│         2012 │               2 │                 6 │ June      │       2011 │             4 │      555160.18 │           318 │             318 │       1745.79 │           438124.55 │        54.69 │       -24.76 │            56.72 │        2690214.68 │                2 │
│         2012 │               3 │                 7 │ July      │       2012 │             1 │      444558.28 │           246 │             246 │       1807.15 │           452865.44 │       -19.92 │        -25.5 │            55.27 │        3134772.96 │                9 │
│         2012 │               3 │                 8 │ August    │       2012 │             1 │      523917.45 │           294 │             294 │       1782.03 │           507878.64 │        17.85 │       -14.75 │            58.44 │        3658690.41 │                5 │
│         2012 │               3 │                 9 │ September │       2012 │             1 │      486177.50 │           269 │             269 │       1807.35 │           484884.41 │         -7.2 │       -19.38 │             57.5 │        4144867.91 │                8 │
│         2012 │               4 │                10 │ October   │       2012 │             2 │      535159.56 │           313 │             313 │       1709.77 │           515084.84 │        10.07 │       -24.43 │            55.05 │        4680027.47 │                4 │
│         2012 │               4 │                11 │ November  │       2012 │             2 │      537955.67 │           324 │             324 │       1660.36 │           519764.24 │         0.52 │       -18.56 │            54.17 │        5217983.14 │                3 │
│         2012 │               4 │                12 │ December  │       2012 │             2 │      624502.27 │           355 │             354 │       1292.97 │            565872.5 │        16.09 │        -6.71 │            77.78 │        5842485.41 │                1 │
├──────────────┴─────────────────┴───────────────────┴───────────┴────────────┴───────────────┴────────────────┴───────────────┴─────────────────┴───────────────┴─────────────────────┴──────────────┴──────────────┴──────────────────┴───────────────────┴──────────────────┤
│ 25 rows (20 shown)                                                                                                                                                                                                                                                16 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## 5

rewrite in md -  error julianday

In [10]:
sql = """
WITH CustomerPurchases AS (
    SELECT
        c.CustomerKey,
        CONCAT(c.FirstName, ' ', c.LastName) AS CustomerName,
        c.EmailAddress,
        c.YearlyIncome,
        c.EnglishEducation AS Education,
        c.EnglishOccupation AS Occupation,
        c.Gender,
        c.MaritalStatus,
        c.TotalChildren,
        g.City,
        g.StateProvinceName,
        g.EnglishCountryRegionName AS Country,
        MIN(dd.FullDateAlternateKey) AS FirstPurchaseDate,
        MAX(dd.FullDateAlternateKey) AS LastPurchaseDate,
        COUNT(DISTINCT fis.SalesOrderNumber) AS TotalOrders,
        SUM(fis.SalesAmount) AS TotalRevenue,
        AVG(fis.SalesAmount) AS AvgOrderValue,
        SUM(fis.OrderQuantity) AS TotalQuantity,
        COUNT(DISTINCT p.ProductSubcategoryKey) AS ProductCategoryDiversity,
        COUNT(DISTINCT CAST(dd.CalendarYear AS VARCHAR) || '-' || CAST(dd.CalendarQuarter AS VARCHAR)) AS ActiveQuarters
    FROM FactInternetSales fis
    INNER JOIN DimCustomer c ON fis.CustomerKey = c.CustomerKey
    INNER JOIN DimGeography g ON c.GeographyKey = g.GeographyKey
    INNER JOIN DimDate dd ON fis.OrderDateKey = dd.DateKey
    INNER JOIN DimProduct p ON fis.ProductKey = p.ProductKey
    GROUP BY
        c.CustomerKey, c.FirstName, c.LastName, c.EmailAddress,
        c.YearlyIncome, c.EnglishEducation, c.EnglishOccupation,
        c.Gender, c.MaritalStatus, c.TotalChildren,
        g.City, g.StateProvinceName, g.EnglishCountryRegionName
),
CustomerMetrics AS (
    SELECT
        *,
        -- Days since last purchase
        CURRENT_DATE - LastPurchaseDate AS DaysSinceLastPurchase,

        -- Customer lifespan in days
        LastPurchaseDate - FirstPurchaseDate AS CustomerLifespanDays,

        -- Orders per year (preserves original logic)
        CASE
            WHEN (LastPurchaseDate - FirstPurchaseDate) > 0
            THEN TotalOrders / ((LastPurchaseDate - FirstPurchaseDate) / 365.25)
            ELSE TotalOrders
        END AS OrdersPerYear
    FROM CustomerPurchases
),
RFMScores AS (
    SELECT
        *,
        NTILE(5) OVER (ORDER BY DaysSinceLastPurchase DESC) AS RecencyScore,
        NTILE(5) OVER (ORDER BY TotalOrders) AS FrequencyScore,
        NTILE(5) OVER (ORDER BY TotalRevenue) AS MonetaryScore
    FROM CustomerMetrics
),
CustomerSegmentation AS (
    SELECT
        *,
        RecencyScore + FrequencyScore + MonetaryScore AS RFMScore,
        CASE
            WHEN RecencyScore >= 4 AND FrequencyScore >= 4 AND MonetaryScore >= 4 THEN 'VIP Champions'
            WHEN RecencyScore >= 4 AND FrequencyScore >= 3 THEN 'Loyal Customers'
            WHEN RecencyScore >= 4 AND MonetaryScore >= 4 THEN 'Big Spenders'
            WHEN RecencyScore >= 3 AND FrequencyScore >= 3 AND MonetaryScore >= 3 THEN 'Potential Loyalists'
            WHEN RecencyScore <= 2 AND FrequencyScore >= 4 THEN 'At Risk'
            WHEN RecencyScore <= 2 AND FrequencyScore <= 2 THEN 'Lost Customers'
            WHEN RecencyScore >= 4 AND FrequencyScore <= 2 THEN 'New Customers'
            ELSE 'Regular Customers'
        END AS CustomerSegment
    FROM RFMScores
)
SELECT
    CustomerName,
    EmailAddress,
    Country,
    StateProvinceName,
    City,
    CustomerSegment,
    RFMScore,
    RecencyScore,
    FrequencyScore,
    MonetaryScore,
    ROUND(TotalRevenue, 2) AS LifetimeValue,
    TotalOrders,
    ROUND(AvgOrderValue, 2) AS AvgOrderValue,
    TotalQuantity,
    ProductCategoryDiversity,
    ActiveQuarters,
    DaysSinceLastPurchase,
    ROUND(OrdersPerYear, 2) AS OrdersPerYear,
    FirstPurchaseDate,
    LastPurchaseDate,
    YearlyIncome,
    Education,
    Occupation,
    Gender,
    MaritalStatus,
    TotalChildren,
    RANK() OVER (ORDER BY TotalRevenue DESC) AS RevenueRank,
    RANK() OVER (PARTITION BY CustomerSegment ORDER BY TotalRevenue DESC) AS SegmentRevenueRank
FROM CustomerSegmentation
ORDER BY TotalRevenue DESC;
"""
db.sql_print(sql)

┌───────────────────┬─────────────────────────────────┬───────────────┬───────────────────┬────────────────────┬─────────────────────┬──────────┬──────────────┬────────────────┬───────────────┬───────────────┬─────────────┬───────────────┬───────────────┬──────────────────────────┬────────────────┬───────────────────────┬───────────────┬───────────────────┬──────────────────┬───────────────┬─────────────────────┬────────────────┬─────────┬───────────────┬───────────────┬─────────────┬────────────────────┐
│   CustomerName    │          EmailAddress           │    Country    │ StateProvinceName │        City        │   CustomerSegment   │ RFMScore │ RecencyScore │ FrequencyScore │ MonetaryScore │ LifetimeValue │ TotalOrders │ AvgOrderValue │ TotalQuantity │ ProductCategoryDiversity │ ActiveQuarters │ DaysSinceLastPurchase │ OrdersPerYear │ FirstPurchaseDate │ LastPurchaseDate │ YearlyIncome  │      Education      │   Occupation   │ Gender  │ MaritalStatus │ TotalChildren │ RevenueRank │ SegmentRevenueRank │
│      varchar      │             varchar             │    varchar    │      varchar      │      varchar       │       varchar       │  int64   │    int64     │     int64      │     int64     │ decimal(38,2) │    int64    │    double     │    int128     │          int64           │     int64      │         int64         │    double     │       date        │       date       │ decimal(13,2) │       varchar       │    varchar     │ varchar │    varchar    │     int32     │    int64    │       int64        │
├───────────────────┼─────────────────────────────────┼───────────────┼───────────────────┼────────────────────┼─────────────────────┼──────────┼──────────────┼────────────────┼───────────────┼───────────────┼─────────────┼───────────────┼───────────────┼──────────────────────────┼────────────────┼───────────────────────┼───────────────┼───────────────────┼──────────────────┼───────────────┼─────────────────────┼────────────────┼─────────┼───────────────┼───────────────┼─────────────┼────────────────────┤
│ Nichole Nara      │ nichole16@adventure-works.com   │ France        │ Seine Saint Denis │ Saint-Denis        │ VIP Champions       │       15 │            5 │              5 │             5 │      13295.38 │           5 │       1022.72 │            13 │                        7 │              4 │                  4430 │          1.97 │ 2011-05-10        │ 2013-11-20       │     100000.00 │ Bachelors           │ Management     │ F       │ S             │             2 │           1 │                  1 │
│ Kaitlyn Henderson │ kaitlyn72@adventure-works.com   │ France        │ Seine Saint Denis │ Tremblay-en-France │ VIP Champions       │       14 │            4 │              5 │             5 │      13294.27 │           5 │        949.59 │            14 │                        7 │              5 │                  4464 │          1.84 │ 2011-01-30        │ 2013-10-17       │     110000.00 │ Partial College     │ Professional   │ F       │ M             │             3 │           2 │                  2 │
│ Margaret He       │ margaret25@adventure-works.com  │ France        │ Moselle           │ Metz               │ VIP Champions       │       15 │            5 │              5 │             5 │      13269.27 │           5 │        947.81 │            14 │                        8 │              4 │                  4431 │          2.03 │ 2011-06-03        │ 2013-11-19       │     100000.00 │ High School         │ Professional   │ F       │ M             │             3 │           3 │                  3 │
│ Randall Dominguez │ randall14@adventure-works.com   │ France        │ Nord              │ Dunkerque          │ VIP Champions       │       14 │            4 │              5 │             5 │      13265.99 │           5 │        1206.0 │            11 │                        6 │              4 │                  4471 │           1.9 │ 2011-02-21        │ 2013-10-10       │      90000.00 │ High School         │ Professional   │ M       │ M             │             2 │           4 │                  4 │
│ Adriana Gonzalez  │ adriana19@adventure-works.com   │ France        │ Garonne (Haute)   │ Colomiers          │ VIP Champions       │       14 │            4 │              5 │             5 │      13242.70 │           5 │       1324.27 │            10 │                        7 │              4 │                  4464 │          2.08 │ 2011-05-24        │ 2013-10-17       │      80000.00 │ Partial College     │ Professional   │ F       │ S             │             5 │           5 │                  5 │
│ Rosa Hu           │ rosa20@adventure-works.com      │ France        │ Essonne           │ Les Ulis           │ VIP Champions       │       15 │            5 │              5 │             5 │      13215.65 │           5 │        881.04 │            15 │                        7 │              4 │                  4429 │          2.02 │ 2011-06-02        │ 2013-11-21       │      70000.00 │ Partial High School │ Skilled Manual │ F       │ M             │             5 │           6 │                  6 │
│ Brandi Gill       │ brandi13@adventure-works.com    │ France        │ Seine (Paris)     │ Paris              │ VIP Champions       │       14 │            4 │              5 │             5 │      13195.64 │           5 │       1099.64 │            12 │                        7 │              4 │                  4474 │          1.86 │ 2011-01-29        │ 2013-10-07       │     110000.00 │ Partial College     │ Professional   │ F       │ S             │             2 │           7 │                  7 │
│ Brad She          │ brad1@adventure-works.com       │ France        │ Val d'Oise        │ Cergy              │ VIP Champions       │       14 │            4 │              5 │             5 │      13173.19 │           5 │       1197.56 │            11 │                        6 │              4 │                  4433 │          2.02 │ 2011-05-29        │ 2013-11-17       │      90000.00 │ High School         │ Professional   │ M       │ M             │             4 │           8 │                  8 │
│ Francisco Sara    │ francisco11@adventure-works.com │ France        │ Essonne           │ Les Ulis           │ VIP Champions       │       14 │            4 │              5 │             5 │      13164.64 │           5 │       1097.05 │            12 │                        7 │              4 │                  4456 │          2.05 │ 2011-05-19        │ 2013-10-25       │      70000.00 │ High School         │ Professional   │ M       │ M             │             5 │           9 │                  9 │
│ Maurice Shan      │ maurice11@adventure-works.com   │ France        │ Seine Saint Denis │ Tremblay-en-France │ Potential Loyalists │       13 │            3 │              5 │             5 │      12909.67 │           6 │       1075.81 │            12 │                        8 │              3 │                  4497 │          7.66 │ 2012-12-02        │ 2013-09-14       │      80000.00 │ High School         │ Professional   │ M       │ M             │             5 │          10 │                  1 │
│      ·            │              ·                  │   ·           │     ·             │     ·              │       ·             │        · │            · │              · │             · │           ·   │           · │           ·   │             · │                        · │              · │                    ·  │            ·  │     ·             │     ·            │          ·    │      ·              │      ·         │ ·       │ ·             │             · │           · │                  · │
│      ·            │              ·                  │   ·           │     ·             │     ·              │       ·             │        · │            · │              · │             · │           ·   │           · │           ·   │             · │                        · │              · │                    ·  │            ·  │     ·             │     ·            │          ·    │      ·              │      ·         │ ·       │ ·             │             · │           · │                  · │
│      ·            │              ·                  │   ·           │     ·             │     ·              │       ·             │        · │            · │              · │             · │           ·   │           · │           ·   │             · │                        · │              · │                    ·  │            ·  │     ·             │     ·            │          ·    │      ·              │      ·         │ ·       │ ·             │             · │           · │                  · │
│ Nicole Gray       │ nicole41@adventure-works.com    │ United States │ California        │ Daly City          │ Lost Customers      │        6 │            2 │              1 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4569 │           1.0 │ 2013-07-04        │ 2013-07-04       │      60000.00 │ Partial College     │ Professional   │ F       │ M             │             2 │        9987 │               2115 │
│ Jeremy Cox        │ jeremy40@adventure-works.com    │ United States │ Washington        │ Bellingham         │ Lost Customers      │        7 │            2 │              2 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4605 │           1.0 │ 2013-05-29        │ 2013-05-29       │      90000.00 │ Partial College     │ Professional   │ M       │ M             │             5 │        9987 │               2115 │
│ Jessica Lee       │ jessica70@adventure-works.com   │ United States │ Oregon            │ Beaverton          │ Regular Customers   │        8 │            3 │              2 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4509 │           1.0 │ 2013-09-02        │ 2013-09-02       │      40000.00 │ High School         │ Skilled Manual │ F       │ M             │             0 │        9987 │                326 │
│ Neil Jimenez      │ neil6@adventure-works.com       │ Australia     │ South Australia   │ Cloverdale         │ Regular Customers   │        8 │            3 │              2 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4503 │           1.0 │ 2013-09-08        │ 2013-09-08       │      10000.00 │ Partial High School │ Clerical       │ M       │ M             │             2 │        9987 │                326 │
│ Cindy Suri        │ cindy1@adventure-works.com      │ United States │ California        │ Burlingame         │ Potential Loyalists │        9 │            3 │              3 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4512 │           1.0 │ 2013-08-30        │ 2013-08-30       │      70000.00 │ Bachelors           │ Management     │ F       │ M             │             5 │        9987 │               1633 │
│ Chloe Harris      │ chloe24@adventure-works.com     │ United States │ California        │ Lemon Grove        │ New Customers       │        9 │            5 │              1 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4361 │           1.0 │ 2014-01-28        │ 2014-01-28       │      70000.00 │ Graduate Degree     │ Professional   │ F       │ M             │             5 │        9987 │                202 │
│ Tracy Simpson     │ tracy4@adventure-works.com      │ United States │ Oregon            │ Beaverton          │ New Customers       │        9 │            5 │              1 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4362 │           1.0 │ 2014-01-27        │ 2014-01-27       │      50000.00 │ Bachelors           │ Skilled Manual │ F       │ M             │             1 │        9987 │                202 │
│ Adriana Malhotra  │ adriana5@adventure-works.com    │ United States │ California        │ Concord            │ New Customers       │        9 │            4 │              2 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4491 │           1.0 │ 2013-09-20        │ 2013-09-20       │      80000.00 │ Bachelors           │ Skilled Manual │ F       │ M             │             3 │        9987 │                202 │
│ Ashley Wood       │ ashley28@adventure-works.com    │ United States │ Washington        │ Ballard            │ New Customers       │        9 │            4 │              2 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4471 │           1.0 │ 2013-10-10        │ 2013-10-10       │      70000.00 │ High School         │ Professional   │ F       │ M             │             3 │        9987 │                202 │
│ Stephanie James   │ stephanie23@adventure-works.com │ United States │ Washington        │ Spokane            │ New Customers       │        9 │            4 │              2 │             3 │        133.49 │           1 │         66.75 │             2 │                        2 │              1 │                  4468 │           1.0 │ 2013-10-13        │ 2013-10-13       │      90000.00 │ High School         │ Professional   │ F       │ M             │             4 │        9987 │                202 │
├───────────────────┴─────────────────────────────────┴───────────────┴───────────────────┴────────────────────┴─────────────────────┴──────────┴──────────────┴────────────────┴───────────────┴───────────────┴─────────────┴───────────────┴───────────────┴──────────────────────────┴────────────────┴───────────────────────┴───────────────┴───────────────────┴──────────────────┴───────────────┴─────────────────────┴────────────────┴─────────┴───────────────┴───────────────┴─────────────┴────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   28 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)

In [ ]:
sql = """

"""
db.sql_print(sql)