In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from dotenv import load_dotenv

import edurel.utils.conversation as conv

load_dotenv() 
BASE_DIR = os.getenv("BASE_DIR")

/home/iclassen/.py1/lib/python3.14/site-packages/langchain_core/_api/deprecation.py:26: UserWarning: Core Pydantic V1 functionality isn't compatible with Python 3.14 or greater.
  from pydantic.v1.fields import FieldInfo as FieldInfoV1

In [3]:
c = conv.Conversation.create(conv.Client.STATS, conv.LLMName.GLM47)

In [6]:
system_prompt1 = """
You are an expert SQL query generator. 
Convert natural language questions into valid SQL queries.
Use duckdb syntax.
"""

c.set_system_prompt(system_prompt1)

In [12]:
c.display()

[0] SYSTEM:

You are an expert SQL query generator. Convert natural language questions into valid SQL queries. Use duckdb syntax.

[1] USER:

Database Schema:
```yaml
tables:
- tablename: EmpProj
  columns:
  - columnname: EID
    type: INTEGER
  - columnname: PID
    type: INTEGER
  - columnname: NoOfHoursPerWeek
    type: INTEGER
  primary_key:
  - EID
  - PID
  foreign_keys:
  - sourcecolumns:
    - EID
    targettable: Employee
    targetcolumns:
    - EID
  - sourcecolumns:
    - PID
    targettable: Project
    targetcolumns:
    - PID
- tablename: Employee
  columns:
  - columnname: EID
    type: INTEGER
  - columnname: OUID
    type: INTEGER
  - columnname: LastName
    type: VARCHAR
  - columnname: Hiredate
    type: DATE
  - columnname: Salary
    type: DECIMAL(9,2)
  - columnname: Bonus
    type: DECIMAL(9,2)
  primary_key:
  - EID
  foreign_keys:
  - sourcecolumns:
    - OUID
    targettable: OrgUnit
    targetcolumns:
    - OUID
- tablename: OrgUnit
  columns:
  - columnname: OUID
    type: INTEGER
  - columnname: Head
    type: INTEGER
  - columnname: SuperUnit
    type: INTEGER
  - columnname: Name
    type: VARCHAR
  primary_key:
  - OUID
  foreign_keys:
  - sourcecolumns:
    - Head
    targettable: Employee
    targetcolumns:
    - EID
  - sourcecolumns:
    - SuperUnit
    targettable: OrgUnit
    targetcolumns:
    - OEID
- tablename: Project
  columns:
  - columnname: PID
    type: INTEGER
  - columnname: Title
    type: VARCHAR
  - columnname: Budget
    type: DECIMAL(13,2)
  primary_key:
  - PID

```

[2] USER:

create a SQL query that outputs the following columns:
- eid, lastname, hiredate from table employee
- entry year per employee

sorted by eid

[3] AI:

```sql
SELECT
    EID,
    LastName,
    Hiredate,
    EXTRACT(YEAR FROM Hiredate) AS entry_year
FROM Employee
ORDER BY EID
```

[4] USER:

```plaintext
┌───────┬──────────┬────────────┬────────────┐
│  EID  │ LastName │  Hiredate  │ entry_year │
│ int32 │ varchar  │    date    │   int64    │
├───────┼──────────┼────────────┼────────────┤
│   101 │ Patil    │ 2000-05-01 │       2000 │
│   102 │ Durmaz   │ 2005-07-01 │       2005 │
│   103 │ Blaschke │ 2002-11-01 │       2002 │
│   104 │ Stone    │ 2006-06-01 │       2006 │
│   105 │ Dalal    │ 2018-02-02 │       2018 │
│   106 │ Li       │ 2002-12-01 │       2002 │
│   107 │ Nguyen   │ 2006-07-01 │       2006 │
│   108 │ Sanchez  │ 2014-04-01 │       2014 │
│   109 │ Umarani  │ 2006-07-01 │       2006 │
│   110 │ Ortega   │ 2005-09-02 │       2005 │
│   111 │ Doshi    │ 2010-01-02 │       2010 │
│   112 │ Singh    │ 2012-03-01 │       2012 │
│   113 │ Jadhav   │ 2001-08-01 │       2001 │
│   114 │ Popov    │ 2009-03-02 │       2009 │
│   115 │ Kumar    │ 2013-05-01 │       2013 │
│   116 │ Krause   │ 2011-08-01 │       2011 │
│   117 │ Oezdem   │ 2014-08-01 │       2014 │
│   118 │ Okeke    │ 2013-11-01 │       2013 │
├───────┴──────────┴────────────┴────────────┤
│ 18 rows                          4 columns │
└────────────────────────────────────────────┘

```

In [ ]:
c = conv.Conversation.create(conv.Client.STATS, conv.LLMName.GLM47)

In [11]:
c.load_from_log(f"{BASE_DIR}/logs", "company_en", conv.LLMName.GLM47.name, "entry_year", "v1")

True