# Import / Config

In [1]:
%load_ext autoreload
%autoreload 2

In [ ]:
import os
from pathlib import Path
from dotenv import load_dotenv
import edurel.utils.duckdb as ddbu

load_dotenv() 
BASE_DIR = os.getenv("BASE_DIR")
DB_DIR = f"{BASE_DIR}/databases/'

In [ ]:
# con.close()

# RV_DE

In [21]:
con = ddbu.mem_con(DB_DIR + "db-rv_de")
ddbu.schema_print(con)

Table: ausstattung (rid INTEGER NOT NULL, aaid INTEGER NOT NULL, anzahl INTEGER NOT NULL)
Table: ausstattungsart (aaid INTEGER NOT NULL, bez VARCHAR NOT NULL)
Table: gebaeude (gid INTEGER NOT NULL, bez VARCHAR NOT NULL, standort VARCHAR NOT NULL)
Table: raum (rid INTEGER NOT NULL, raumnr VARCHAR NOT NULL, anzahlsitze INTEGER NOT NULL, gid INTEGER NOT NULL, raid INTEGER NOT NULL)
Table: raumart (raid INTEGER NOT NULL, bez VARCHAR NOT NULL)
Table: staging (raumnr VARCHAR NULL, anzahlsitze VARCHAR NULL, ausstattung VARCHAR NULL, raumart VARCHAR NULL, gebaeude VARCHAR NULL, standort VARCHAR NULL)
Foreign Key: ausstattung(aaid) -> ausstattungsart(aaid)
Foreign Key: ausstattung(rid) -> raum(rid)
Foreign Key: raum(gid) -> gebaeude(gid)
Foreign Key: raum(raid) -> raumart(raid)

In [ ]:
sql = """
select * from staging
order by standort, gebaeude, raumnr;

--select * from raumart;
--select * from ausstattungsart;
--select * from gebaeude;
--select * from raum;
--select * from ausstattung;
"""
ddbu.sql_print(con, sql)

┌─────────┬─────────────┬─────────────────────────────────────┬────────────────────┬──────────┬──────────┐
│ raumnr  │ anzahlsitze │             ausstattung             │      raumart       │ gebaeude │ standort │
│ varchar │   varchar   │               varchar               │      varchar       │ varchar  │ varchar  │
├─────────┼─────────────┼─────────────────────────────────────┼────────────────────┼──────────┼──────────┤
│ A029    │ 40          │ Audio, Beamer, Whiteboard           │ Seminarraum        │ A        │ TA       │
│ A030    │ 40          │ Video, Audio, Beamer(2), Whiteboard │ Seminarraum        │ A        │ TA       │
│ A214    │ 20          │ PC(20), Whiteboard                  │ PC-Raum            │ A        │ TA       │
│ C825    │ 2           │ ohne Ausstattung                    │ Büro               │ A        │ TA       │
│ D105    │ 280         │ Audio, Beamer, Whiteboard           │ Veranstaltungsraum │ D        │ TA       │
│ C107    │ 40          │ Audio, Beamer, Whiteboard           │ Seminarraum        │ C        │ WH       │
│ C619    │ 20          │ PC(25), Whiteboard                  │ PC-Raum            │ C        │ WH       │
└─────────┴─────────────┴─────────────────────────────────────┴────────────────────┴──────────┴──────────┘

# RV_EN

In [25]:
con = ddbu.mem_con(DB_DIR + "db-rv_en")
ddbu.schema_print(con)

Table: building (bid INTEGER NOT NULL, descr VARCHAR NOT NULL, location VARCHAR NOT NULL)
Table: equipment (rid INTEGER NOT NULL, ekid INTEGER NOT NULL, quantity INTEGER NOT NULL)
Table: equipmentkind (ekid INTEGER NOT NULL, descr VARCHAR NOT NULL)
Table: room (rid INTEGER NOT NULL, roomno VARCHAR NOT NULL, noofseats INTEGER NOT NULL, bid INTEGER NOT NULL, rkid INTEGER NOT NULL)
Table: roomkind (rkid INTEGER NOT NULL, descr VARCHAR NOT NULL)
Table: staging (roomno VARCHAR NULL, noofseats VARCHAR NULL, equipment VARCHAR NULL, kind VARCHAR NULL, building VARCHAR NULL, location VARCHAR NULL)
Foreign Key: equipment(ekid) -> equipmentkind(ekid)
Foreign Key: equipment(rid) -> room(rid)
Foreign Key: room(bid) -> building(bid)
Foreign Key: room(rkid) -> roomkind(rkid)

In [ ]:
sql = """
select * from staging
order by location, building, roomno;

--select * from roomkind;
--select * from equipmentkind;
--select * from building;
--select * from room;
--select * from equipment;
"""
ddbu.sql_print(con, sql)

┌───────┬───────┬──────────┐
│  rid  │ ekid  │ quantity │
│ int32 │ int32 │  int32   │
├───────┴───────┴──────────┤
│          0 rows          │
└──────────────────────────┘