# Install / Import / Config

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from pathlib import Path
from dotenv import load_dotenv

from IPython.display import Markdown, display

import edurel.utils.dbcon as dbcu
import edurel.utils.db as dbu
import edurel.utils.duckdb as ddbu
import edurel.utils.llm as llmu
import edurel.utils.llmchat as llmc
import edurel.widgets.mermaid_viz as mmw
import edurel.widgets.chatman as cmw
import edurel.utils.misc as mu

load_dotenv() 
BASE_DIR = os.getenv("BASE_DIR")
DB_DIR = f"{BASE_DIR}/databases"

def run(tag, q, model, schema, db, dbrun=True):
    print(f"{tag}:\n{q}")
    sql = llmu.chat_text_to_sql(model, schema, q)
    print(sql)
    if dbrun:
        db.sql_print(sql)
    return(sql)

/home/iclassen/.py1/lib/python3.14/site-packages/langchain_core/_api/deprecation.py:26: UserWarning: Core Pydantic V1 functionality isn't compatible with Python 3.14 or greater.
  from pydantic.v1.fields import FieldInfo as FieldInfoV1

# Database

In [31]:
con = dbcu.adw_olap()
additional_fks = {
    "DimAccount": ["DimAccount|ParentAccountKey|AccountKey"],
    "DimDepartmentGroup": ["DimDepartmentGroup|ParentDepartmentGroupKey|DepartmentGroupKey"],
    "DimEmployee": ["DimEmployee|ParentEmployeeKey|EmployeeKey"],
    "DimOrganization": ["DimOrganization|ParentOrganizationKey|OrganizationKey"],
    }

db = dbu.DbHandler(con,additional_fks=additional_fks)
schema = f'```yaml\n{db.schema_yaml_str(["nullable", "fkname"])}\n```'
# db.schema_yaml_print(["nullable", "fkname"])

In [4]:
# db.schema_mermaid_png(output_path="schema.png", omit_tags=["columns", "nullable", "fkname"], direction="LR", scale=8)

## Order date range

In [5]:
sql = """
select min(orderdate) as min_order_date,
       max(orderdate) as max_order_date
from FactInternetSales;
"""
ddbu.sql_print(con, sql)

┌─────────────────────┬─────────────────────┐
│   min_order_date    │   max_order_date    │
│      timestamp      │      timestamp      │
├─────────────────────┼─────────────────────┤
│ 2010-12-29 00:00:00 │ 2014-01-28 00:00:00 │
└─────────────────────┴─────────────────────┘

# Prompts

In [9]:
system_prompt1 = """
You are an expert SQL query generator. 
Convert natural language questions into valid SQL queries.
Use duckdb syntax.
"""

# Questions

## q1

In [ ]:
q1 = """
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month
"""

## q2

In [23]:
q2 = """
- internet sales amount of top 3 product subcategories overall and top 3 cities with most customers
- Output Subcategory, City, SalesAmount
- Sorted by Subcategory, City
"""

## q3

In [51]:
q3 = """
- internet sales amount of top 3 product subcategories overall and top 3 cities with most customers
- in the output there might be more than 3 entries because of ties, use ranking function
- Output Subcategory, City, SalesAmount
- Sorted by Subcategory, City
"""

## q4

In [58]:
q4 = """
- internet sales amount of top 3 product subcategories overall and top 3 cities with most customers
- in the output there might be more than 3 entries because of ties, use ranking function
- Output Subcategory, City, SalesAmount
- Sorting should be done as follows
  - Subcategory according to their overall sales amount descending
  - City according to their number of customers descending
"""

## q5

## q6

## q7

## q8

## q9

## q10

## q11

## q12

## q13

## q14

## q15

## q16

## q17

## q18

## q19

## q20

## q21

## q22

## q23

## q24

In [ ]:
q24 = """
create a SQL query that outputs the following columns:
- tag either 'shortest' or 'longest'
- persontype of person
- numberof no of customers in that group
the output should be calculated as follows:
- 'shortest' are customer with minimal modifieddate in the Customer table
- 'longest' are customer with maximal modifieddate in the Customer table    
- regard only customers that have placed orders in 2024
sorted by tag and persontype;
"""

# GEMINI25FLASH

In [17]:
gemini25_flash = llmu.stats_c(llmu.GEMINI25FLASH)

In [18]:
sql = run("q1", q1, gemini25_flash, schema, db, dbrun=True)

q1:

Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month


WITH MonthlySales AS (
  SELECT
    dpc.EnglishProductCategoryName AS Category,
    dd.CalendarYear AS SalesYear,
    dd.EnglishMonthName AS SalesMonth,
    dd.MonthNumberOfYear AS MonthNum,
    SUM(fis.SalesAmount) AS Sales
  FROM FactInternetSales AS fis
  JOIN DimDate AS dd
    ON fis.OrderDateKey = dd.DateKey
  JOIN DimProduct AS dp
    ON fis.ProductKey = dp.ProductKey
  JOIN DimProductSubcategory AS dps
    ON dp.ProductSubcategoryKey = dps.ProductSubcategoryKey
  JOIN DimProductCategory AS dpc
    ON dps.ProductCategoryKey = dpc.ProductCategoryKey
  WHERE
    dd.CalendarYear IN (2011, 2012)
  GROUP BY
    dpc.EnglishProductCategoryName,
    dd.CalendarYear,
    dd.EnglishMonthName,
    dd.MonthNumberOfYear
)
SELECT
  ms.Category,
  ms.SalesYear AS Year,
  ms.SalesMonth AS Month,
  LAG(ms.SalesYear, 1) OVER (PARTITION BY ms.Category, ms.MonthNum ORDER BY ms.SalesYear) AS YearPrevious,
  LAG(ms.SalesMonth, 1) OVER (PARTITION BY ms.Category, ms.MonthNum ORDER BY ms.SalesYear) AS MonthPrevious,
  ms.Sales,
  LAG(ms.Sales, 1) OVER (PARTITION BY ms.Category, ms.MonthNum ORDER BY ms.SalesYear) AS SalesPrevious
FROM MonthlySales AS ms
WHERE
  ms.SalesYear = 2012
ORDER BY
  ms.Category,
  ms.SalesYear,
  ms.MonthNum;

┌─────────────┬───────┬───────────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │   Month   │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │  varchar  │    int32     │    varchar    │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │ December  │         NULL │ NULL          │       2147.08 │          NULL │
│ Bikes       │  2012 │ January   │         NULL │ NULL          │     495364.01 │          NULL │
│ Bikes       │  2012 │ February  │         NULL │ NULL          │     506994.08 │          NULL │
│ Bikes       │  2012 │ March     │         NULL │ NULL          │     373482.95 │          NULL │
│ Bikes       │  2012 │ April     │         NULL │ NULL          │     400335.59 │          NULL │
│ Bikes       │  2012 │ May       │         NULL │ NULL          │     358877.87 │          NULL │
│ Bikes       │  2012 │ June      │         NULL │ NULL          │     555160.18 │          NULL │
│ Bikes       │  2012 │ July      │         NULL │ NULL          │     444558.28 │          NULL │
│ Bikes       │  2012 │ August    │         NULL │ NULL          │     523917.45 │          NULL │
│ Bikes       │  2012 │ September │         NULL │ NULL          │     486177.50 │          NULL │
│ Bikes       │  2012 │ October   │         NULL │ NULL          │     535159.56 │          NULL │
│ Bikes       │  2012 │ November  │         NULL │ NULL          │     537955.67 │          NULL │
│ Bikes       │  2012 │ December  │         NULL │ NULL          │     621712.40 │          NULL │
│ Clothing    │  2012 │ December  │         NULL │ NULL          │        642.79 │          NULL │
├─────────────┴───────┴───────────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                              7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────┘

## GEMINI3PRO

In [19]:
gemini3_pro = llmu.stats_c(llmu.GEMINI3PRO)

In [20]:
sql = run("q1", q1, gemini3_pro, schema, db, dbrun=True)

q1:

Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month


WITH MonthlySales AS (
    SELECT
        pc.EnglishProductCategoryName AS Category,
        d.CalendarYear AS Year,
        d.MonthNumberOfYear AS Month,
        SUM(fis.SalesAmount) AS Sales
    FROM FactInternetSales fis
    JOIN DimDate d ON fis.OrderDateKey = d.DateKey
    JOIN DimProduct p ON fis.ProductKey = p.ProductKey
    JOIN DimProductSubcategory psc ON p.ProductSubcategoryKey = psc.ProductSubcategoryKey
    JOIN DimProductCategory pc ON psc.ProductCategoryKey = pc.ProductCategoryKey
    WHERE d.CalendarYear IN (2011, 2012)
    GROUP BY pc.EnglishProductCategoryName, d.CalendarYear, d.MonthNumberOfYear
)
SELECT
    curr.Category,
    curr.Year,
    curr.Month,
    prev.Year AS YearPrevious,
    prev.Month AS MonthPrevious,
    curr.Sales,
    prev.Sales AS SalesPrevious
FROM MonthlySales curr
LEFT JOIN MonthlySales prev
    ON curr.Category = prev.Category
    AND curr.Month = prev.Month
    AND prev.Year = 2011
WHERE curr.Year = 2012
ORDER BY curr.Category, curr.Year, curr.Month;

┌─────────────┬───────┬───────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │ Month │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │ int32 │    int32     │     int32     │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │    12 │         NULL │          NULL │       2147.08 │          NULL │
│ Bikes       │  2012 │     1 │         2011 │             1 │     495364.01 │     469823.94 │
│ Bikes       │  2012 │     2 │         2011 │             2 │     506994.08 │     466334.93 │
│ Bikes       │  2012 │     3 │         2011 │             3 │     373482.95 │     485198.69 │
│ Bikes       │  2012 │     4 │         2011 │             4 │     400335.59 │     502073.88 │
│ Bikes       │  2012 │     5 │         2011 │             5 │     358877.87 │     561681.51 │
│ Bikes       │  2012 │     6 │         2011 │             6 │     555160.18 │     737839.87 │
│ Bikes       │  2012 │     7 │         2011 │             7 │     444558.28 │     596746.60 │
│ Bikes       │  2012 │     8 │         2011 │             8 │     523917.45 │     614557.98 │
│ Bikes       │  2012 │     9 │         2011 │             9 │     486177.50 │     603083.53 │
│ Bikes       │  2012 │    10 │         2011 │            10 │     535159.56 │     708208.05 │
│ Bikes       │  2012 │    11 │         2011 │            11 │     537955.67 │     660545.86 │
│ Bikes       │  2012 │    12 │         2011 │            12 │     621712.40 │     669431.54 │
│ Clothing    │  2012 │    12 │         NULL │          NULL │        642.79 │          NULL │
├─────────────┴───────┴───────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                          7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

# GLM47

In [63]:
glm47 = llmu.stats_c(llmu.GLM47)

In [64]:
chat = llmc.LLMChat(glm47)
chat.set_system_prompt(system_prompt1)

## q1

In [65]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q1)

In [66]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌─────────────┬───────┬───────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │ Month │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │ int32 │    int32     │     int32     │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │    12 │         2011 │            12 │       2147.08 │          NULL │
│ Bikes       │  2012 │     1 │         2011 │             1 │     495364.01 │     469823.94 │
│ Bikes       │  2012 │     2 │         2011 │             2 │     506994.08 │     466334.93 │
│ Bikes       │  2012 │     3 │         2011 │             3 │     373482.95 │     485198.69 │
│ Bikes       │  2012 │     4 │         2011 │             4 │     400335.59 │     502073.88 │
│ Bikes       │  2012 │     5 │         2011 │             5 │     358877.87 │     561681.51 │
│ Bikes       │  2012 │     6 │         2011 │             6 │     555160.18 │     737839.87 │
│ Bikes       │  2012 │     7 │         2011 │             7 │     444558.28 │     596746.60 │
│ Bikes       │  2012 │     8 │         2011 │             8 │     523917.45 │     614557.98 │
│ Bikes       │  2012 │     9 │         2011 │             9 │     486177.50 │     603083.53 │
│ Bikes       │  2012 │    10 │         2011 │            10 │     535159.56 │     708208.05 │
│ Bikes       │  2012 │    11 │         2011 │            11 │     537955.67 │     660545.86 │
│ Bikes       │  2012 │    12 │         2011 │            12 │     621712.40 │     669431.54 │
│ Clothing    │  2012 │    12 │         2011 │            12 │        642.79 │          NULL │
├─────────────┴───────┴───────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                          7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

## q2

In [67]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q2)

In [69]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌────────────────┬─────────┬───────────────┐
│  Subcategory   │  City   │  SalesAmount  │
│    varchar     │ varchar │ decimal(38,2) │
├────────────────┼─────────┼───────────────┤
│ Mountain Bikes │ Concord │    9952760.77 │
│ Mountain Bikes │ London  │    9952760.77 │
│ Mountain Bikes │ Paris   │    9952760.77 │
│ Road Bikes     │ Concord │   14520583.50 │
│ Road Bikes     │ London  │   14520583.50 │
│ Road Bikes     │ Paris   │   14520583.50 │
│ Touring Bikes  │ Concord │    3844801.05 │
│ Touring Bikes  │ London  │    3844801.05 │
│ Touring Bikes  │ Paris   │    3844801.05 │
└────────────────┴─────────┴───────────────┘

## q3

In [ ]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q3)

In [ ]:
sql = mu.sql_extract(r)
db.sql_print(sql)

## q4

In [70]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q4)

In [72]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌────────────────┬─────────┬───────────────┐
│  Subcategory   │  City   │  SalesAmount  │
│    varchar     │ varchar │ decimal(38,2) │
├────────────────┼─────────┼───────────────┤
│ Road Bikes     │ London  │   14520583.50 │
│ Road Bikes     │ Paris   │   14520583.50 │
│ Road Bikes     │ Concord │   14520583.50 │
│ Road Bikes     │ Burien  │   14520583.50 │
│ Mountain Bikes │ London  │    9952760.77 │
│ Mountain Bikes │ Paris   │    9952760.77 │
│ Mountain Bikes │ Concord │    9952760.77 │
│ Mountain Bikes │ Burien  │    9952760.77 │
│ Touring Bikes  │ London  │    3844801.05 │
│ Touring Bikes  │ Paris   │    3844801.05 │
│ Touring Bikes  │ Concord │    3844801.05 │
│ Touring Bikes  │ Burien  │    3844801.05 │
├────────────────┴─────────┴───────────────┤
│ 12 rows                        3 columns │
└──────────────────────────────────────────┘

# OPUS45

In [7]:
opus45 = llmu.stats_c(llmu.OPUS45)

In [ ]:
chat = llmc.LLMChat(opus45)
chat.set_system_prompt(system_prompt1)

## q1

In [ ]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q1)

In [18]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌─────────────┬───────┬───────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │ Month │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int64 │ int64 │    int64     │     int64     │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │    12 │         NULL │          NULL │       2147.08 │          NULL │
│ Bikes       │  2012 │     1 │         2011 │             1 │     495364.01 │     469823.94 │
│ Bikes       │  2012 │     2 │         2011 │             2 │     506994.08 │     466334.93 │
│ Bikes       │  2012 │     3 │         2011 │             3 │     373482.95 │     485198.69 │
│ Bikes       │  2012 │     4 │         2011 │             4 │     400335.59 │     502073.88 │
│ Bikes       │  2012 │     5 │         2011 │             5 │     358877.87 │     561681.51 │
│ Bikes       │  2012 │     6 │         2011 │             6 │     555160.18 │     737839.87 │
│ Bikes       │  2012 │     7 │         2011 │             7 │     444558.28 │     596746.60 │
│ Bikes       │  2012 │     8 │         2011 │             8 │     523917.45 │     614557.98 │
│ Bikes       │  2012 │     9 │         2011 │             9 │     486177.50 │     603083.53 │
│ Bikes       │  2012 │    10 │         2011 │            10 │     535159.56 │     708208.05 │
│ Bikes       │  2012 │    11 │         2011 │            11 │     537955.67 │     660545.86 │
│ Bikes       │  2012 │    12 │         2011 │            12 │     621712.40 │     669431.54 │
│ Clothing    │  2012 │    12 │         NULL │          NULL │        642.79 │          NULL │
├─────────────┴───────┴───────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                          7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

## q2

In [32]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q2)

In [37]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌────────────────┬────────────┬───────────────┐
│  Subcategory   │    City    │  SalesAmount  │
│    varchar     │  varchar   │ decimal(38,2) │
├────────────────┼────────────┼───────────────┤
│ Mountain Bikes │ Bellingham │      81316.70 │
│ Mountain Bikes │ Burien     │      65082.22 │
│ Mountain Bikes │ Concord    │      61956.51 │
│ Road Bikes     │ Bellingham │      82252.22 │
│ Road Bikes     │ Burien     │     115466.70 │
│ Road Bikes     │ Concord    │     104500.44 │
│ Touring Bikes  │ Bellingham │      33626.70 │
│ Touring Bikes  │ Burien     │      38303.58 │
│ Touring Bikes  │ Concord    │      33738.09 │
└────────────────┴────────────┴───────────────┘

In [ ]:
chat.add_user_message(schema)
r = chat.add_user_message(q2)

## q3

In [52]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q3)

In [54]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌────────────────┬─────────┬───────────────┐
│  Subcategory   │  City   │  SalesAmount  │
│    varchar     │ varchar │ decimal(38,2) │
├────────────────┼─────────┼───────────────┤
│ Mountain Bikes │ Burien  │      65082.22 │
│ Mountain Bikes │ Concord │      61956.51 │
│ Mountain Bikes │ London  │     300619.75 │
│ Mountain Bikes │ Paris   │     186654.04 │
│ Road Bikes     │ Burien  │     115466.70 │
│ Road Bikes     │ Concord │     104500.44 │
│ Road Bikes     │ London  │     341432.71 │
│ Road Bikes     │ Paris   │     276410.82 │
│ Touring Bikes  │ Burien  │      38303.58 │
│ Touring Bikes  │ Concord │      33738.09 │
│ Touring Bikes  │ London  │     135471.93 │
│ Touring Bikes  │ Paris   │      57671.49 │
├────────────────┴─────────┴───────────────┤
│ 12 rows                        3 columns │
└──────────────────────────────────────────┘

## q4

In [59]:
chat.clear_conversation()
chat.add_user_message(schema)
r = chat.add_user_message(q4)

In [61]:
sql = mu.sql_extract(r)
db.sql_print(sql)

┌────────────────┬─────────┬───────────────┐
│  Subcategory   │  City   │  SalesAmount  │
│    varchar     │ varchar │ decimal(38,2) │
├────────────────┼─────────┼───────────────┤
│ Road Bikes     │ London  │     341432.71 │
│ Road Bikes     │ Paris   │     276410.82 │
│ Road Bikes     │ Burien  │     115466.70 │
│ Road Bikes     │ Concord │     104500.44 │
│ Mountain Bikes │ London  │     300619.75 │
│ Mountain Bikes │ Paris   │     186654.04 │
│ Mountain Bikes │ Burien  │      65082.22 │
│ Mountain Bikes │ Concord │      61956.51 │
│ Touring Bikes  │ London  │     135471.93 │
│ Touring Bikes  │ Paris   │      57671.49 │
│ Touring Bikes  │ Burien  │      38303.58 │
│ Touring Bikes  │ Concord │      33738.09 │
├────────────────┴─────────┴───────────────┤
│ 12 rows                        3 columns │
└──────────────────────────────────────────┘

# Chat History

In [71]:
display(Markdown(chat.show_conversation(lastn_only=2)))

[3] USER:

- internet sales amount of top 3 product subcategories overall and top 3 cities with most customers
- in the output there might be more than 3 entries because of ties, use ranking function
- Output Subcategory, City, SalesAmount
- Sorting should be done as follows
  - Subcategory according to their overall sales amount descending
  - City according to their number of customers descending


[4] AI:
 ```sql
WITH TopSubcategories AS (
    SELECT
        dpsc.EnglishProductSubcategoryName AS Subcategory,
        SUM(fis.SalesAmount) AS TotalSalesAmount,
        RANK() OVER (ORDER BY SUM(fis.SalesAmount) DESC) AS SubcategoryRank
    FROM
        FactInternetSales fis
        JOIN DimProduct dp ON fis.ProductKey = dp.ProductKey
        JOIN DimProductSubcategory dpsc ON dp.ProductSubcategoryKey = dpsc.ProductSubcategoryKey
    GROUP BY
        dpsc.EnglishProductSubcategoryName
),
TopCities AS (
    SELECT
        dg.City,
        COUNT(DISTINCT dc.CustomerKey) AS CustomerCount,
        RANK() OVER (ORDER BY COUNT(DISTINCT dc.CustomerKey) DESC) AS CityRank
    FROM
        DimCustomer dc
        JOIN DimGeography dg ON dc.GeographyKey = dg.GeographyKey
    GROUP BY
        dg.City
)
SELECT
    tsc.Subcategory,
    tc.City,
    tsc.TotalSalesAmount AS SalesAmount
FROM
    TopSubcategories tsc
CROSS JOIN
    TopCities tc
WHERE
    tsc.SubcategoryRank <= 3
    AND tc.CityRank <= 3
ORDER BY
    tsc.TotalSalesAmount DESC,
    tc.CustomerCount DESC;
```

# SQL Run

In [ ]:
db.sql_print("""

""")