# Install / Import / Config

In [2]:
%load_ext autoreload
%autoreload 2

In [16]:
import os
from pathlib import Path
from dotenv import load_dotenv

from IPython.display import Markdown, display

import edurel.utils.dbcon as dbcu
import edurel.utils.db as dbu
import edurel.utils.duckdb as ddbu
import edurel.utils.llm as llmu
import edurel.utils.llmchat as llmc
import edurel.widgets.mermaid_viz as mmw
import edurel.widgets.chatman as cmw
import edurel.utils.misc as mu

load_dotenv() 
BASE_DIR = os.getenv("BASE_DIR")
DB_DIR = f"{BASE_DIR}/databases"

def run(tag, q, model, schema, db, dbrun=True):
    print(f"{tag}:\n{q}")
    sql = llmu.chat_text_to_sql(model, schema, q)
    print(sql)
    if dbrun:
        db.sql_print(sql)
    return(sql)

# Database

In [4]:
con = dbcu.adw_olap()
additional_fks = {
    "DimAccount": ["DimAccount|ParentAccountKey|AccountKey"],
    "DimDepartmentGroup": ["DimDepartmentGroup|ParentDepartmentGroupKey|DepartmentGroupKey"],
    "DimEmployee": ["DimEmployee|ParentEmployeeKey|EmployeeKey"],
    "DimOrganization": ["DimOrganization|ParentOrganizationKey|OrganizationKey"],
    }

db = dbu.DbHandler(con,additional_fks=additional_fks)
schema = db.schema_yaml_str(["nullable", "fkname"])

In [5]:
db.schema_yaml_print(["nullable", "fkname"])

tables:
- tablename: DimAccount
  columns:
  - columnname: AccountKey
    type: INTEGER
  - columnname: ParentAccountKey
    type: INTEGER
  - columnname: AccountCodeAlternateKey
    type: INTEGER
  - columnname: ParentAccountCodeAlternateKey
    type: INTEGER
  - columnname: AccountDescription
    type: VARCHAR
  - columnname: AccountType
    type: VARCHAR
  - columnname: Operator
    type: VARCHAR
  - columnname: CustomMembers
    type: VARCHAR
  - columnname: ValueType
    type: VARCHAR
  - columnname: CustomMemberOptions
    type: VARCHAR
  primary_key:
  - AccountKey
  foreign_keys:
  - sourcecolumns:
    - ParentAccountKey
    targettable: DimAccount
    targetcolumns:
    - AccountKey
- tablename: DimCurrency
  columns:
  - columnname: CurrencyKey
    type: INTEGER
  - columnname: CurrencyAlternateKey
    type: VARCHAR
  - columnname: CurrencyName
    type: VARCHAR
  primary_key:
  - CurrencyKey
- tablename: DimCustomer
  columns:
  - columnname: CustomerKey
    type: INTEGER
  - columnname: GeographyKey
    type: INTEGER
  - columnname: CustomerAlternateKey
    type: VARCHAR
  - columnname: Title
    type: VARCHAR
  - columnname: FirstName
    type: VARCHAR
  - columnname: MiddleName
    type: VARCHAR
  - columnname: LastName
    type: VARCHAR
  - columnname: NameStyle
    type: BIT
  - columnname: BirthDate
    type: DATE
  - columnname: MaritalStatus
    type: VARCHAR
  - columnname: Suffix
    type: VARCHAR
  - columnname: Gender
    type: VARCHAR
  - columnname: EmailAddress
    type: VARCHAR
  - columnname: YearlyIncome
    type: DECIMAL(13,2)
  - columnname: TotalChildren
    type: INTEGER
  - columnname: NumberChildrenAtHome
    type: INTEGER
  - columnname: EnglishEducation
    type: VARCHAR
  - columnname: SpanishEducation
    type: VARCHAR
  - columnname: FrenchEducation
    type: VARCHAR
  - columnname: EnglishOccupation
    type: VARCHAR
  - columnname: SpanishOccupation
    type: VARCHAR
  - columnname: FrenchOccupation
    type: VARCHAR
  - columnname: HouseOwnerFlag
    type: VARCHAR
  - columnname: NumberCarsOwned
    type: INTEGER
  - columnname: AddressLine1
    type: VARCHAR
  - columnname: AddressLine2
    type: VARCHAR
  - columnname: Phone
    type: VARCHAR
  - columnname: DateFirstPurchase
    type: DATE
  - columnname: CommuteDistance
    type: VARCHAR
  primary_key:
  - CustomerKey
  foreign_keys:
  - sourcecolumns:
    - GeographyKey
    targettable: DimGeography
    targetcolumns:
    - GeographyKey
- tablename: DimDate
  columns:
  - columnname: DateKey
    type: INTEGER
  - columnname: FullDateAlternateKey
    type: DATE
  - columnname: DayNumberOfWeek
    type: INTEGER
  - columnname: EnglishDayNameOfWeek
    type: VARCHAR
  - columnname: SpanishDayNameOfWeek
    type: VARCHAR
  - columnname: FrenchDayNameOfWeek
    type: VARCHAR
  - columnname: DayNumberOfMonth
    type: INTEGER
  - columnname: DayNumberOfYear
    type: INTEGER
  - columnname: WeekNumberOfYear
    type: INTEGER
  - columnname: EnglishMonthName
    type: VARCHAR
  - columnname: SpanishMonthName
    type: VARCHAR
  - columnname: FrenchMonthName
    type: VARCHAR
  - columnname: MonthNumberOfYear
    type: INTEGER
  - columnname: CalendarQuarter
    type: INTEGER
  - columnname: CalendarYear
    type: INTEGER
  - columnname: CalendarSemester
    type: INTEGER
  - columnname: FiscalQuarter
    type: INTEGER
  - columnname: FiscalYear
    type: INTEGER
  - columnname: FiscalSemester
    type: INTEGER
  primary_key:
  - DateKey
- tablename: DimDepartmentGroup
  columns:
  - columnname: DepartmentGroupKey
    type: INTEGER
  - columnname: ParentDepartmentGroupKey
    type: INTEGER
  - columnname: DepartmentGroupName
    type: VARCHAR
  primary_key:
  - DepartmentGroupKey
  foreign_keys:
  - sourcecolumns:
    - ParentDepartmentGroupKey
    targettable: DimDepartmentGroup
    targetcolumns:
    - DepartmentGroupKey
- tablename: DimEmployee
  columns:
  - columnname: EmployeeKey
    type: INTEGER
  - columnname: ParentEmployeeKey
    type: INTEGER
  - columnname: EmployeeNationalIDAlternateKey
    type: VARCHAR
  - columnname: ParentEmployeeNationalIDAlternateKey
    type: VARCHAR
  - columnname: SalesTerritoryKey
    type: INTEGER
  - columnname: FirstName
    type: VARCHAR
  - columnname: LastName
    type: VARCHAR
  - columnname: MiddleName
    type: VARCHAR
  - columnname: NameStyle
    type: BIT
  - columnname: Title
    type: VARCHAR
  - columnname: HireDate
    type: DATE
  - columnname: BirthDate
    type: DATE
  - columnname: LoginID
    type: VARCHAR
  - columnname: EmailAddress
    type: VARCHAR
  - columnname: Phone
    type: VARCHAR
  - columnname: MaritalStatus
    type: VARCHAR
  - columnname: EmergencyContactName
    type: VARCHAR
  - columnname: EmergencyContactPhone
    type: VARCHAR
  - columnname: SalariedFlag
    type: BIT
  - columnname: Gender
    type: VARCHAR
  - columnname: PayFrequency
    type: INTEGER
  - columnname: BaseRate
    type: DECIMAL(13,2)
  - columnname: VacationHours
    type: INTEGER
  - columnname: SickLeaveHours
    type: INTEGER
  - columnname: CurrentFlag
    type: BIT
  - columnname: SalesPersonFlag
    type: BIT
  - columnname: DepartmentName
    type: VARCHAR
  - columnname: StartDate
    type: DATE
  - columnname: EndDate
    type: DATE
  - columnname: Status
    type: VARCHAR
  - columnname: EmployeePhoto
    type: VARCHAR
  primary_key:
  - EmployeeKey
  foreign_keys:
  - sourcecolumns:
    - SalesTerritoryKey
    targettable: DimSalesTerritory
    targetcolumns:
    - SalesTerritoryKey
  - sourcecolumns:
    - ParentEmployeeKey
    targettable: DimEmployee
    targetcolumns:
    - EmployeeKey
- tablename: DimGeography
  columns:
  - columnname: GeographyKey
    type: INTEGER
  - columnname: City
    type: VARCHAR
  - columnname: StateProvinceCode
    type: VARCHAR
  - columnname: StateProvinceName
    type: VARCHAR
  - columnname: CountryRegionCode
    type: VARCHAR
  - columnname: EnglishCountryRegionName
    type: VARCHAR
  - columnname: SpanishCountryRegionName
    type: VARCHAR
  - columnname: FrenchCountryRegionName
    type: VARCHAR
  - columnname: PostalCode
    type: VARCHAR
  - columnname: SalesTerritoryKey
    type: INTEGER
  - columnname: IpAddressLocator
    type: VARCHAR
  primary_key:
  - GeographyKey
  foreign_keys:
  - sourcecolumns:
    - SalesTerritoryKey
    targettable: DimSalesTerritory
    targetcolumns:
    - SalesTerritoryKey
- tablename: DimOrganization
  columns:
  - columnname: OrganizationKey
    type: INTEGER
  - columnname: ParentOrganizationKey
    type: INTEGER
  - columnname: PercentageOfOwnership
    type: VARCHAR
  - columnname: OrganizationName
    type: VARCHAR
  - columnname: CurrencyKey
    type: INTEGER
  primary_key:
  - OrganizationKey
  foreign_keys:
  - sourcecolumns:
    - CurrencyKey
    targettable: DimCurrency
    targetcolumns:
    - CurrencyKey
  - sourcecolumns:
    - ParentOrganizationKey
    targettable: DimOrganization
    targetcolumns:
    - OrganizationKey
- tablename: DimProduct
  columns:
  - columnname: ProductKey
    type: INTEGER
  - columnname: ProductAlternateKey
    type: VARCHAR
  - columnname: ProductSubcategoryKey
    type: INTEGER
  - columnname: WeightUnitMeasureCode
    type: VARCHAR
  - columnname: SizeUnitMeasureCode
    type: VARCHAR
  - columnname: EnglishProductName
    type: VARCHAR
  - columnname: SpanishProductName
    type: VARCHAR
  - columnname: FrenchProductName
    type: VARCHAR
  - columnname: StandardCost
    type: DECIMAL(13,2)
  - columnname: FinishedGoodsFlag
    type: BIT
  - columnname: Color
    type: VARCHAR
  - columnname: SafetyStockLevel
    type: INTEGER
  - columnname: ReorderPoint
    type: INTEGER
  - columnname: ListPrice
    type: DECIMAL(13,2)
  - columnname: Size
    type: VARCHAR
  - columnname: SizeRange
    type: VARCHAR
  - columnname: Weight
    type: FLOAT
  - columnname: DaysToManufacture
    type: INTEGER
  - columnname: ProductLine
    type: VARCHAR
  - columnname: DealerPrice
    type: DECIMAL(13,2)
  - columnname: Class
    type: VARCHAR
  - columnname: Style
    type: VARCHAR
  - columnname: ModelName
    type: VARCHAR
  - columnname: LargePhoto
    type: VARCHAR
  - columnname: EnglishDescription
    type: VARCHAR
  - columnname: FrenchDescription
    type: VARCHAR
  - columnname: ChineseDescription
    type: VARCHAR
  - columnname: ArabicDescription
    type: VARCHAR
  - columnname: HebrewDescription
    type: VARCHAR
  - columnname: ThaiDescription
    type: VARCHAR
  - columnname: GermanDescription
    type: VARCHAR
  - columnname: JapaneseDescription
    type: VARCHAR
  - columnname: TurkishDescription
    type: VARCHAR
  - columnname: StartDate
    type: TIMESTAMP
  - columnname: EndDate
    type: TIMESTAMP
  - columnname: Status
    type: VARCHAR
  primary_key:
  - ProductKey
  foreign_keys:
  - sourcecolumns:
    - ProductSubcategoryKey
    targettable: DimProductSubcategory
    targetcolumns:
    - ProductSubcategoryKey
- tablename: DimProductCategory
  columns:
  - columnname: ProductCategoryKey
    type: INTEGER
  - columnname: ProductCategoryAlternateKey
    type: INTEGER
  - columnname: EnglishProductCategoryName
    type: VARCHAR
  - columnname: SpanishProductCategoryName
    type: VARCHAR
  - columnname: FrenchProductCategoryName
    type: VARCHAR
  primary_key:
  - ProductCategoryKey
- tablename: DimProductSubcategory
  columns:
  - columnname: ProductSubcategoryKey
    type: INTEGER
  - columnname: ProductSubcategoryAlternateKey
    type: INTEGER
  - columnname: EnglishProductSubcategoryName
    type: VARCHAR
  - columnname: SpanishProductSubcategoryName
    type: VARCHAR
  - columnname: FrenchProductSubcategoryName
    type: VARCHAR
  - columnname: ProductCategoryKey
    type: INTEGER
  primary_key:
  - ProductSubcategoryKey
  foreign_keys:
  - sourcecolumns:
    - ProductCategoryKey
    targettable: DimProductCategory
    targetcolumns:
    - ProductCategoryKey
- tablename: DimPromotion
  columns:
  - columnname: PromotionKey
    type: INTEGER
  - columnname: PromotionAlternateKey
    type: INTEGER
  - columnname: EnglishPromotionName
    type: VARCHAR
  - columnname: SpanishPromotionName
    type: VARCHAR
  - columnname: FrenchPromotionName
    type: VARCHAR
  - columnname: DiscountPct
    type: FLOAT
  - columnname: EnglishPromotionType
    type: VARCHAR
  - columnname: SpanishPromotionType
    type: VARCHAR
  - columnname: FrenchPromotionType
    type: VARCHAR
  - columnname: EnglishPromotionCategory
    type: VARCHAR
  - columnname: SpanishPromotionCategory
    type: VARCHAR
  - columnname: FrenchPromotionCategory
    type: VARCHAR
  - columnname: StartDate
    type: TIMESTAMP
  - columnname: EndDate
    type: TIMESTAMP
  - columnname: MinQty
    type: INTEGER
  - columnname: MaxQty
    type: INTEGER
  primary_key:
  - PromotionKey
- tablename: DimReseller
  columns:
  - columnname: ResellerKey
    type: INTEGER
  - columnname: GeographyKey
    type: INTEGER
  - columnname: ResellerAlternateKey
    type: VARCHAR
  - columnname: Phone
    type: VARCHAR
  - columnname: BusinessType
    type: VARCHAR
  - columnname: ResellerName
    type: VARCHAR
  - columnname: NumberEmployees
    type: INTEGER
  - columnname: OrderFrequency
    type: VARCHAR
  - columnname: OrderMonth
    type: INTEGER
  - columnname: FirstOrderYear
    type: INTEGER
  - columnname: LastOrderYear
    type: INTEGER
  - columnname: ProductLine
    type: VARCHAR
  - columnname: AddressLine1
    type: VARCHAR
  - columnname: AddressLine2
    type: VARCHAR
  - columnname: AnnualSales
    type: DECIMAL(13,2)
  - columnname: BankName
    type: VARCHAR
  - columnname: MinPaymentType
    type: INTEGER
  - columnname: MinPaymentAmount
    type: DECIMAL(13,2)
  - columnname: AnnualRevenue
    type: DECIMAL(13,2)
  - columnname: YearOpened
    type: INTEGER
  primary_key:
  - ResellerKey
  foreign_keys:
  - sourcecolumns:
    - GeographyKey
    targettable: DimGeography
    targetcolumns:
    - GeographyKey
- tablename: DimSalesReason
  columns:
  - columnname: SalesReasonKey
    type: INTEGER
  - columnname: SalesReasonAlternateKey
    type: INTEGER
  - columnname: SalesReasonName
    type: VARCHAR
  - columnname: SalesReasonReasonType
    type: VARCHAR
  primary_key:
  - SalesReasonKey
- tablename: DimSalesTerritory
  columns:
  - columnname: SalesTerritoryKey
    type: INTEGER
  - columnname: SalesTerritoryAlternateKey
    type: INTEGER
  - columnname: SalesTerritoryRegion
    type: VARCHAR
  - columnname: SalesTerritoryCountry
    type: VARCHAR
  - columnname: SalesTerritoryGroup
    type: VARCHAR
  - columnname: SalesTerritoryImage
    type: VARCHAR
  primary_key:
  - SalesTerritoryKey
- tablename: DimScenario
  columns:
  - columnname: ScenarioKey
    type: INTEGER
  - columnname: ScenarioName
    type: VARCHAR
  primary_key:
  - ScenarioKey
- tablename: FactAdditionalInternationalProductDescription
  columns:
  - columnname: ProductKey
    type: INTEGER
  - columnname: CultureName
    type: VARCHAR
  - columnname: ProductDescription
    type: VARCHAR
- tablename: FactCallCenter
  columns:
  - columnname: FactCallCenterID
    type: INTEGER
  - columnname: DateKey
    type: INTEGER
  - columnname: WageType
    type: VARCHAR
  - columnname: Shift
    type: VARCHAR
  - columnname: LevelOneOperators
    type: INTEGER
  - columnname: LevelTwoOperators
    type: INTEGER
  - columnname: TotalOperators
    type: INTEGER
  - columnname: Calls
    type: INTEGER
  - columnname: AutomaticResponses
    type: INTEGER
  - columnname: Orders
    type: INTEGER
  - columnname: IssuesRaised
    type: INTEGER
  - columnname: AverageTimePerIssue
    type: INTEGER
  - columnname: ServiceGrade
    type: FLOAT
  - columnname: Date
    type: TIMESTAMP
  foreign_keys:
  - sourcecolumns:
    - DateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
- tablename: FactCurrencyRate
  columns:
  - columnname: CurrencyKey
    type: INTEGER
  - columnname: DateKey
    type: INTEGER
  - columnname: AverageRate
    type: FLOAT
  - columnname: EndOfDayRate
    type: FLOAT
  - columnname: Date
    type: TIMESTAMP
  foreign_keys:
  - sourcecolumns:
    - DateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
  - sourcecolumns:
    - CurrencyKey
    targettable: DimCurrency
    targetcolumns:
    - CurrencyKey
- tablename: FactFinance
  columns:
  - columnname: FinanceKey
    type: INTEGER
  - columnname: DateKey
    type: INTEGER
  - columnname: OrganizationKey
    type: INTEGER
  - columnname: DepartmentGroupKey
    type: INTEGER
  - columnname: ScenarioKey
    type: INTEGER
  - columnname: AccountKey
    type: INTEGER
  - columnname: Amount
    type: FLOAT
  - columnname: Date
    type: TIMESTAMP
  foreign_keys:
  - sourcecolumns:
    - ScenarioKey
    targettable: DimScenario
    targetcolumns:
    - ScenarioKey
  - sourcecolumns:
    - OrganizationKey
    targettable: DimOrganization
    targetcolumns:
    - OrganizationKey
  - sourcecolumns:
    - DepartmentGroupKey
    targettable: DimDepartmentGroup
    targetcolumns:
    - DepartmentGroupKey
  - sourcecolumns:
    - DateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
  - sourcecolumns:
    - AccountKey
    targettable: DimAccount
    targetcolumns:
    - AccountKey
- tablename: FactInternetSales
  columns:
  - columnname: ProductKey
    type: INTEGER
  - columnname: OrderDateKey
    type: INTEGER
  - columnname: DueDateKey
    type: INTEGER
  - columnname: ShipDateKey
    type: INTEGER
  - columnname: CustomerKey
    type: INTEGER
  - columnname: PromotionKey
    type: INTEGER
  - columnname: CurrencyKey
    type: INTEGER
  - columnname: SalesTerritoryKey
    type: INTEGER
  - columnname: SalesOrderNumber
    type: VARCHAR
  - columnname: SalesOrderLineNumber
    type: INTEGER
  - columnname: RevisionNumber
    type: INTEGER
  - columnname: OrderQuantity
    type: INTEGER
  - columnname: UnitPrice
    type: DECIMAL(13,2)
  - columnname: ExtendedAmount
    type: DECIMAL(13,2)
  - columnname: UnitPriceDiscountPct
    type: FLOAT
  - columnname: DiscountAmount
    type: FLOAT
  - columnname: ProductStandardCost
    type: DECIMAL(13,2)
  - columnname: TotalProductCost
    type: DECIMAL(13,2)
  - columnname: SalesAmount
    type: DECIMAL(13,2)
  - columnname: TaxAmt
    type: DECIMAL(13,2)
  - columnname: Freight
    type: DECIMAL(13,2)
  - columnname: CarrierTrackingNumber
    type: VARCHAR
  - columnname: CustomerPONumber
    type: VARCHAR
  - columnname: OrderDate
    type: TIMESTAMP
  - columnname: DueDate
    type: TIMESTAMP
  - columnname: ShipDate
    type: TIMESTAMP
  primary_key:
  - SalesOrderNumber
  - SalesOrderLineNumber
  foreign_keys:
  - sourcecolumns:
    - CurrencyKey
    targettable: DimCurrency
    targetcolumns:
    - CurrencyKey
  - sourcecolumns:
    - CustomerKey
    targettable: DimCustomer
    targetcolumns:
    - CustomerKey
  - sourcecolumns:
    - OrderDateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
  - sourcecolumns:
    - DueDateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
  - sourcecolumns:
    - ShipDateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
  - sourcecolumns:
    - ProductKey
    targettable: DimProduct
    targetcolumns:
    - ProductKey
  - sourcecolumns:
    - PromotionKey
    targettable: DimPromotion
    targetcolumns:
    - PromotionKey
  - sourcecolumns:
    - SalesTerritoryKey
    targettable: DimSalesTerritory
    targetcolumns:
    - SalesTerritoryKey
- tablename: FactInternetSalesReason
  columns:
  - columnname: SalesOrderNumber
    type: VARCHAR
  - columnname: SalesOrderLineNumber
    type: INTEGER
  - columnname: SalesReasonKey
    type: INTEGER
  foreign_keys:
  - sourcecolumns:
    - SalesOrderNumber
    - SalesOrderLineNumber
    targettable: FactInternetSales
    targetcolumns:
    - SalesOrderNumber
    - SalesOrderLineNumber
  - sourcecolumns:
    - SalesReasonKey
    targettable: DimSalesReason
    targetcolumns:
    - SalesReasonKey
- tablename: FactProductInventory
  columns:
  - columnname: ProductKey
    type: INTEGER
  - columnname: DateKey
    type: INTEGER
  - columnname: MovementDate
    type: DATE
  - columnname: UnitCost
    type: DECIMAL(13,2)
  - columnname: UnitsIn
    type: INTEGER
  - columnname: UnitsOut
    type: INTEGER
  - columnname: UnitsBalance
    type: INTEGER
  foreign_keys:
  - sourcecolumns:
    - DateKey
    targettable: DimDate
    targetcolumns:
    - DateKey
  - sourcecolumns:
    - ProductKey
    targettable: DimProduct
    targetcolumns:
    - ProductKey
- tablename: FactResellerSales
  columns:
  - columnname: ProductKey
    type: INTEGER
  - columnname: OrderDateKey
    type: INTEGER
  - columnname: DueDateKey
    type: INTEGER
  - columnname: ShipDateKey
    type: INTEGER
  - columnname: ResellerKey
    type: INTEGER
  - columnname: EmployeeKey
    type: INTEGER
  - columnname: PromotionKey
    type: INTEGER
  - columnname: CurrencyKey
    type: INTEGER
  - columnname: SalesTerritoryKey
    type: INTEGER
  - columnname: SalesOrderNumber
    type: VARCHAR
  - columnname: SalesOrderLineNumber
    type: INTEGER
  - columnname: RevisionNumber
    type: INTEGER
  - columnname: OrderQuantity
    type: INTEGER
  - columnname: UnitPrice
    type: DECIMAL(13,2)
  - columnname: ExtendedAmount
    type: DECIMAL(13,2)
  - columnname: UnitPriceDiscountPct
    type: FLOAT
  - columnname: DiscountAmount
    type: FLOAT
  - columnname: ProductStandardCost
    type: DECIMAL(13,2)
  - columnname: TotalProductCost
    type: DECIMAL(13,2)
  - columnname: SalesAmount
    type: DECIMAL(13,2)
  - columnname: TaxAmt
    type: DECIMAL(13,2)
  - columnname: Freight
    type: DECIMAL(13,2)
  - columnname: CarrierTrackingNumber
    type: VARCHAR
  - columnname: CustomerPONumber
    type: VARCHAR
  - columnname: OrderDate
    type: TIMESTAMP
  - columnname: DueDate
    type: TIMESTAMP
  - columnname: ShipDate
    type: TIMESTAMP
  foreign_keys:
  - sourcecolumns:
    - CurrencyKey

In [ ]:
# db.schema_mermaid_png(output_path="schema.png", omit_tags=["columns", "nullable", "fkname"], direction="LR", scale=8)

## Order date range

In [9]:
sql = """
select min(orderdate) as min_order_date,
       max(orderdate) as max_order_date
from FactInternetSales;
"""
ddbu.sql_print(con, sql)

┌─────────────────────┬─────────────────────┐
│   min_order_date    │   max_order_date    │
│      timestamp      │      timestamp      │
├─────────────────────┼─────────────────────┤
│ 2010-12-29 00:00:00 │ 2014-01-28 00:00:00 │
└─────────────────────┴─────────────────────┘

# Questions

## q1

In [13]:
q1 = """
Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month
"""

## q2

In [ ]:
q2 = """

"""

## q3

In [ ]:
q3 = """

"""

## q4

## q5

## q6

## q7

## q8

## q9

## q10

## q11

## q12

## q13

## q14

## q15

## q16

## q17

## q18

## q19

## q20

## q21

## q22

## q23

## q24

In [ ]:
q24 = """
create a SQL query that outputs the following columns:
- tag either 'shortest' or 'longest'
- persontype of person
- numberof no of customers in that group
the output should be calculated as follows:
- 'shortest' are customer with minimal modifieddate in the Customer table
- 'longest' are customer with maximal modifieddate in the Customer table    
- regard only customers that have placed orders in 2024
sorted by tag and persontype;
"""

# GEMINI25FLASH

In [17]:
gemini25_flash = llmu.stats_c(llmu.GEMINI25FLASH)

In [18]:
sql = run("q1", q1, gemini25_flash, schema, db, dbrun=True)

q1:

Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month


WITH MonthlySales AS (
  SELECT
    dpc.EnglishProductCategoryName AS Category,
    dd.CalendarYear AS SalesYear,
    dd.EnglishMonthName AS SalesMonth,
    dd.MonthNumberOfYear AS MonthNum,
    SUM(fis.SalesAmount) AS Sales
  FROM FactInternetSales AS fis
  JOIN DimDate AS dd
    ON fis.OrderDateKey = dd.DateKey
  JOIN DimProduct AS dp
    ON fis.ProductKey = dp.ProductKey
  JOIN DimProductSubcategory AS dps
    ON dp.ProductSubcategoryKey = dps.ProductSubcategoryKey
  JOIN DimProductCategory AS dpc
    ON dps.ProductCategoryKey = dpc.ProductCategoryKey
  WHERE
    dd.CalendarYear IN (2011, 2012)
  GROUP BY
    dpc.EnglishProductCategoryName,
    dd.CalendarYear,
    dd.EnglishMonthName,
    dd.MonthNumberOfYear
)
SELECT
  ms.Category,
  ms.SalesYear AS Year,
  ms.SalesMonth AS Month,
  LAG(ms.SalesYear, 1) OVER (PARTITION BY ms.Category, ms.MonthNum ORDER BY ms.SalesYear) AS YearPrevious,
  LAG(ms.SalesMonth, 1) OVER (PARTITION BY ms.Category, ms.MonthNum ORDER BY ms.SalesYear) AS MonthPrevious,
  ms.Sales,
  LAG(ms.Sales, 1) OVER (PARTITION BY ms.Category, ms.MonthNum ORDER BY ms.SalesYear) AS SalesPrevious
FROM MonthlySales AS ms
WHERE
  ms.SalesYear = 2012
ORDER BY
  ms.Category,
  ms.SalesYear,
  ms.MonthNum;

┌─────────────┬───────┬───────────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │   Month   │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │  varchar  │    int32     │    varchar    │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │ December  │         NULL │ NULL          │       2147.08 │          NULL │
│ Bikes       │  2012 │ January   │         NULL │ NULL          │     495364.01 │          NULL │
│ Bikes       │  2012 │ February  │         NULL │ NULL          │     506994.08 │          NULL │
│ Bikes       │  2012 │ March     │         NULL │ NULL          │     373482.95 │          NULL │
│ Bikes       │  2012 │ April     │         NULL │ NULL          │     400335.59 │          NULL │
│ Bikes       │  2012 │ May       │         NULL │ NULL          │     358877.87 │          NULL │
│ Bikes       │  2012 │ June      │         NULL │ NULL          │     555160.18 │          NULL │
│ Bikes       │  2012 │ July      │         NULL │ NULL          │     444558.28 │          NULL │
│ Bikes       │  2012 │ August    │         NULL │ NULL          │     523917.45 │          NULL │
│ Bikes       │  2012 │ September │         NULL │ NULL          │     486177.50 │          NULL │
│ Bikes       │  2012 │ October   │         NULL │ NULL          │     535159.56 │          NULL │
│ Bikes       │  2012 │ November  │         NULL │ NULL          │     537955.67 │          NULL │
│ Bikes       │  2012 │ December  │         NULL │ NULL          │     621712.40 │          NULL │
│ Clothing    │  2012 │ December  │         NULL │ NULL          │        642.79 │          NULL │
├─────────────┴───────┴───────────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                              7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────┘

## GEMINI3PRO

In [19]:
gemini3_pro = llmu.stats_c(llmu.GEMINI3PRO)

In [20]:
sql = run("q1", q1, gemini3_pro, schema, db, dbrun=True)

q1:

Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month


WITH MonthlySales AS (
    SELECT
        pc.EnglishProductCategoryName AS Category,
        d.CalendarYear AS Year,
        d.MonthNumberOfYear AS Month,
        SUM(fis.SalesAmount) AS Sales
    FROM FactInternetSales fis
    JOIN DimDate d ON fis.OrderDateKey = d.DateKey
    JOIN DimProduct p ON fis.ProductKey = p.ProductKey
    JOIN DimProductSubcategory psc ON p.ProductSubcategoryKey = psc.ProductSubcategoryKey
    JOIN DimProductCategory pc ON psc.ProductCategoryKey = pc.ProductCategoryKey
    WHERE d.CalendarYear IN (2011, 2012)
    GROUP BY pc.EnglishProductCategoryName, d.CalendarYear, d.MonthNumberOfYear
)
SELECT
    curr.Category,
    curr.Year,
    curr.Month,
    prev.Year AS YearPrevious,
    prev.Month AS MonthPrevious,
    curr.Sales,
    prev.Sales AS SalesPrevious
FROM MonthlySales curr
LEFT JOIN MonthlySales prev
    ON curr.Category = prev.Category
    AND curr.Month = prev.Month
    AND prev.Year = 2011
WHERE curr.Year = 2012
ORDER BY curr.Category, curr.Year, curr.Month;

┌─────────────┬───────┬───────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │ Month │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │ int32 │    int32     │     int32     │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │    12 │         NULL │          NULL │       2147.08 │          NULL │
│ Bikes       │  2012 │     1 │         2011 │             1 │     495364.01 │     469823.94 │
│ Bikes       │  2012 │     2 │         2011 │             2 │     506994.08 │     466334.93 │
│ Bikes       │  2012 │     3 │         2011 │             3 │     373482.95 │     485198.69 │
│ Bikes       │  2012 │     4 │         2011 │             4 │     400335.59 │     502073.88 │
│ Bikes       │  2012 │     5 │         2011 │             5 │     358877.87 │     561681.51 │
│ Bikes       │  2012 │     6 │         2011 │             6 │     555160.18 │     737839.87 │
│ Bikes       │  2012 │     7 │         2011 │             7 │     444558.28 │     596746.60 │
│ Bikes       │  2012 │     8 │         2011 │             8 │     523917.45 │     614557.98 │
│ Bikes       │  2012 │     9 │         2011 │             9 │     486177.50 │     603083.53 │
│ Bikes       │  2012 │    10 │         2011 │            10 │     535159.56 │     708208.05 │
│ Bikes       │  2012 │    11 │         2011 │            11 │     537955.67 │     660545.86 │
│ Bikes       │  2012 │    12 │         2011 │            12 │     621712.40 │     669431.54 │
│ Clothing    │  2012 │    12 │         NULL │          NULL │        642.79 │          NULL │
├─────────────┴───────┴───────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                          7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

# GLM47

In [21]:
glm47 = llmu.stats_c(llmu.GLM47)

In [22]:
sql = run("q1", q1, glm47, schema, db, dbrun=True)

q1:

Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month

WITH MonthlySales AS (
    SELECT
        DPC.EnglishProductCategoryName AS Category,
        DD.CalendarYear AS Year,
        DD.MonthNumberOfYear AS Month,
        SUM(FIS.SalesAmount) AS Sales
    FROM
        FactInternetSales FIS
        JOIN DimProduct DP ON FIS.ProductKey = DP.ProductKey
        JOIN DimProductSubcategory DPS ON DP.ProductSubcategoryKey = DPS.ProductSubcategoryKey
        JOIN DimProductCategory DPC ON DPS.ProductCategoryKey = DPC.ProductCategoryKey
        JOIN DimDate DD ON FIS.OrderDateKey = DD.DateKey
    WHERE
        DD.CalendarYear IN (2011, 2012)
    GROUP BY
        DPC.EnglishProductCategoryName,
        DD.CalendarYear,
        DD.MonthNumberOfYear
)
SELECT
    Category,
    Year,
    Month,
    Year - 1 AS YearPrevious,
    Month AS MonthPrevious,
    Sales,
    LAG(Sales) OVER (PARTITION BY Category, Month ORDER BY Year) AS SalesPrevious
FROM
    MonthlySales
ORDER BY
    Category,
    Year,
    Month;
┌─────────────┬───────┬───────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │ Month │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │ int32 │    int32     │     int32     │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │    12 │         2011 │            12 │       2147.08 │          NULL │
│ Bikes       │  2011 │     1 │         2010 │             1 │     469823.94 │          NULL │
│ Bikes       │  2011 │     2 │         2010 │             2 │     466334.93 │          NULL │
│ Bikes       │  2011 │     3 │         2010 │             3 │     485198.69 │          NULL │
│ Bikes       │  2011 │     4 │         2010 │             4 │     502073.88 │          NULL │
│ Bikes       │  2011 │     5 │         2010 │             5 │     561681.51 │          NULL │
│ Bikes       │  2011 │     6 │         2010 │             6 │     737839.87 │          NULL │
│ Bikes       │  2011 │     7 │         2010 │             7 │     596746.60 │          NULL │
│ Bikes       │  2011 │     8 │         2010 │             8 │     614557.98 │          NULL │
│ Bikes       │  2011 │     9 │         2010 │             9 │     603083.53 │          NULL │
│   ·         │    ·  │     · │           ·  │             · │         ·     │            ·  │
│   ·         │    ·  │     · │           ·  │             · │         ·     │            ·  │
│   ·         │    ·  │     · │           ·  │             · │         ·     │            ·  │
│ Bikes       │  2012 │     4 │         2011 │             4 │     400335.59 │     502073.88 │
│ Bikes       │  2012 │     5 │         2011 │             5 │     358877.87 │     561681.51 │
│ Bikes       │  2012 │     6 │         2011 │             6 │     555160.18 │     737839.87 │
│ Bikes       │  2012 │     7 │         2011 │             7 │     444558.28 │     596746.60 │
│ Bikes       │  2012 │     8 │         2011 │             8 │     523917.45 │     614557.98 │
│ Bikes       │  2012 │     9 │         2011 │             9 │     486177.50 │     603083.53 │
│ Bikes       │  2012 │    10 │         2011 │            10 │     535159.56 │     708208.05 │
│ Bikes       │  2012 │    11 │         2011 │            11 │     537955.67 │     660545.86 │
│ Bikes       │  2012 │    12 │         2011 │            12 │     621712.40 │     669431.54 │
│ Clothing    │  2012 │    12 │         2011 │            12 │        642.79 │          NULL │
├─────────────┴───────┴───────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 26 rows (20 shown)                                                               7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

# OPUS45

In [10]:
opus45 = llmu.stats_c(llmu.OPUS45)

In [12]:
def run(tag, q, model, schema, db, dbrun=True):
    print(f"{tag}:\n{q}")
    sql = llmu.chat_text_to_sql(model, schema, q)
    print(sql)
    if dbrun:
        db.sql_print(sql)
    return(sql)

In [14]:
sql = run("q1", q1, opus45, schema, db, dbrun=False)

q1:

Turn the following question into SQL
- internet sales amount of all product categories in 2012 on month level and also year over year in 2011
- Output Category, Year, Month, YearPrevious, MonthPrevious, Sales, SalesPrevious
- Sorted by Category, Year, Month


WITH sales_2012 AS (
    SELECT
        pc.EnglishProductCategoryName AS Category,
        d.CalendarYear AS Year,
        d.MonthNumberOfYear AS Month,
        SUM(fis.SalesAmount) AS Sales
    FROM FactInternetSales fis
    JOIN DimProduct p ON fis.ProductKey = p.ProductKey
    JOIN DimProductSubcategory ps ON p.ProductSubcategoryKey = ps.ProductSubcategoryKey
    JOIN DimProductCategory pc ON ps.ProductCategoryKey = pc.ProductCategoryKey
    JOIN DimDate d ON fis.OrderDateKey = d.DateKey
    WHERE d.CalendarYear = 2012
    GROUP BY pc.EnglishProductCategoryName, d.CalendarYear, d.MonthNumberOfYear
),
sales_2011 AS (
    SELECT
        pc.EnglishProductCategoryName AS Category,
        d.CalendarYear AS Year,
        d.MonthNumberOfYear AS Month,
        SUM(fis.SalesAmount) AS Sales
    FROM FactInternetSales fis
    JOIN DimProduct p ON fis.ProductKey = p.ProductKey
    JOIN DimProductSubcategory ps ON p.ProductSubcategoryKey = ps.ProductSubcategoryKey
    JOIN DimProductCategory pc ON ps.ProductCategoryKey = pc.ProductCategoryKey
    JOIN DimDate d ON fis.OrderDateKey = d.DateKey
    WHERE d.CalendarYear = 2011
    GROUP BY pc.EnglishProductCategoryName, d.CalendarYear, d.MonthNumberOfYear
)
SELECT
    s12.Category,
    s12.Year,
    s12.Month,
    s11.Year AS YearPrevious,
    s11.Month AS MonthPrevious,
    s12.Sales,
    s11.Sales AS SalesPrevious
FROM sales_2012 s12
LEFT JOIN sales_2011 s11 ON s12.Category = s11.Category AND s12.Month = s11.Month
ORDER BY s12.Category, s12.Year, s12.Month

In [15]:
db.sql_print(sql)

┌─────────────┬───────┬───────┬──────────────┬───────────────┬───────────────┬───────────────┐
│  Category   │ Year  │ Month │ YearPrevious │ MonthPrevious │     Sales     │ SalesPrevious │
│   varchar   │ int32 │ int32 │    int32     │     int32     │ decimal(38,2) │ decimal(38,2) │
├─────────────┼───────┼───────┼──────────────┼───────────────┼───────────────┼───────────────┤
│ Accessories │  2012 │    12 │         NULL │          NULL │       2147.08 │          NULL │
│ Bikes       │  2012 │     1 │         2011 │             1 │     495364.01 │     469823.94 │
│ Bikes       │  2012 │     2 │         2011 │             2 │     506994.08 │     466334.93 │
│ Bikes       │  2012 │     3 │         2011 │             3 │     373482.95 │     485198.69 │
│ Bikes       │  2012 │     4 │         2011 │             4 │     400335.59 │     502073.88 │
│ Bikes       │  2012 │     5 │         2011 │             5 │     358877.87 │     561681.51 │
│ Bikes       │  2012 │     6 │         2011 │             6 │     555160.18 │     737839.87 │
│ Bikes       │  2012 │     7 │         2011 │             7 │     444558.28 │     596746.60 │
│ Bikes       │  2012 │     8 │         2011 │             8 │     523917.45 │     614557.98 │
│ Bikes       │  2012 │     9 │         2011 │             9 │     486177.50 │     603083.53 │
│ Bikes       │  2012 │    10 │         2011 │            10 │     535159.56 │     708208.05 │
│ Bikes       │  2012 │    11 │         2011 │            11 │     537955.67 │     660545.86 │
│ Bikes       │  2012 │    12 │         2011 │            12 │     621712.40 │     669431.54 │
│ Clothing    │  2012 │    12 │         NULL │          NULL │        642.79 │          NULL │
├─────────────┴───────┴───────┴──────────────┴───────────────┴───────────────┴───────────────┤
│ 14 rows                                                                          7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘